#skyteam
{
    direction:rtl;
}
#skyteam input
{
    direction:rtl;
    text-align:right;
}
.ui-menu .ui-menu-item a
{
    text-align:right;
    direction: rtl;
}
#loadingMsg
{
    direction: rtl;
}
/*********************    Menu Page   ***************************/
#nav li a
{
    width: 100%;
    display: inline-block;
}
#nav li img
{
    display: inline-block;
    float: right;
}
#nav li label{
    padding-right: 10px;
    float: right;
    display: inline-block;
    width:80%;
    text-align: right;
}
#nav h3 {
    text-align: right;
}
/*********************  End -  Menu Page   ***************************/
/* *************  Home Page ************************************ */
button#flightstatus {
    float: left;
    margin-left: 8%;
}
#iconFlight, #iconAirport
{
    float: right;
}
.main_buttons button h3
{
    float: right;
}
#back, #back1
{
    float: left;
    -webkit-transform: rotate(180deg);
}
button#allflights, button#airportSearch
{
    padding-left: 15px;
    padding-right: 25px;
}
/* *************************** End- Home Page  ************************ */

/******************************** Flight Search Page ******************************/
.tabs li
{
    float:right;
}
.tripDetails .tabarea ul li#roundtrip, .savedFlightsContent .tabarea ul li#roundtrip
{
    border-left: none;
    border-right: 1px solid #d7d7d7;
}
.tabs li:first-child
{
    border-radius: 0px 6px 6px 0px;
}
.tabs li:last-child
{
    border-radius: 6px 0px 0px 6px;
    width: 49.0%;
}
.search_icon, .cancel_Source, .cancel_Destination, .cancel_Lounges, .cancel_Skytips, .search_flightNumber, .search_from, .search_to, .search_skytips, .cancel_from, .cancel_to
{
    margin-left: 5.5%;
    padding: 9px 20px 9px 9px;
    float:left;
}
.datecalender button li
{
    float:right;
    display: inline-table;
}
.datecalender button li:nth-child(2)
{
    text-align: right;
    margin-right: 2% !important;
}
.arrival button li:nth-child(2)
{
    margin-left: 24px;
}
.flightcontent input[type="text"]
{
    padding-right:10px;
}
.searchButton img, #saveFlightbutton img
{
    float: right;
}
.ui-datepicker .ui-datepicker-next
{
    left: 0;
    right: auto;
}
.ui-datepicker-prev {
    background: url(../../images/arrow.png) no-repeat 45% 12px !important;
}

.ui-datepicker-next {
    background: url(../../images/left_purple_arrowcopy.png) no-repeat 45% 12px !important;
}
.date-popup h2
{
    text-align:right;
}
/************************* End - Flight Search Page ***************************/

/************* Flight Search Results Page *******************/

/* Single Flight Element */
.savedFlightsResults ul:first-child li:nth-child(1), .savedFlightsResults ul:first-child li:nth-child(3), .savedFlightsReturnResults ul:first-child li:nth-child(1), .savedFlightsReturnResults ul:first-child li:nth-child(3)
{
    float: right;
}
.savedFlightsResults ul:first-child li:nth-child(2), .savedflightsreturnresults ul:first-child li:nth-child(2)
{
    float: right;
}
.savedFlightsResults ul:first-child li:nth-child(1), .savedFlightsResults ul:first-child li:nth-child(3), .savedFlightsReturnResults ul:first-child li:nth-child(1), .savedFlightsReturnResults ul:first-child li:nth-child(3)
{
     float: right;
}
.savedFlightsResults ul:nth-child(2) li:nth-child(1)
{
    float: right;
    text-align: right;
    padding-right: 4px;
    padding-left: 0px;
}
.savedFlightsResults ul:nth-child(2) li, .savedFlightsReturnResults ul:nth-child(2) li
{
    float: right;
}
.savedFlightsResults ul:nth-child(2) li:nth-child(2)
{
    text-align: right;

}
.savedFlightsResults ul:nth-child(2) li:nth-child(3)
{
     text-align: left;
}
.savedFlightsResults ul:nth-child(2) li:nth-child(4)
{
    text-align: left;
}
.savedFlightsResults li, .savedFlightsReturnResults li
{
    text-align: right;
}
.header3.flightName
{
    margin-right: 5px;
}

/* End - Single Flight Element */

/* tabs */
.searchresultstabs div
{
    float:right;
}
.searchresultstabs div:nth-child(1)
{
    border-radius: 0px 4px 4px 0px;
    border-left: none !important;
    border-right: 1px solid #d7d7d7 !important;
}
.searchresultstabs div:nth-child(2)
{
    border:1px solid #d7d7d7 !important;
}
.searchresultstabs div:nth-child(3)
{
    border-radius: 4px 0 0 4px;
    border-right: none !important;
    width: 28.3% !important;
}
.showdays p
{
    margin-right: 5px;
}
/* End - tabs */

/* Filter */
#contentContainer #oneWayFilter
{
    float: left;
}
#stopsDiv > p:nth-child(1)
{
    text-align: right;
}
.silder2 p:nth-child(1)
{
    text-align: right;
}
.filter_arrow
{
    float: left;
    left: 7%;
    right: 0%;
    margin-left: 7%;
}
#dropdown
{
    text-align: right;
    padding-right: 15px;
    padding-left:0;
}
.myCheckbox
{
    float: right;
    margin-right: 10px;
}
.moreoptionsdetails h6
{
    text-align: right;
}
.proferedline-popup h2
{
    text-align: right;
}
#operators h6
{
    text-align: right;
    direction: ltr;
}
div.silder2
{
    direction:ltr;
}
/* End - Filter */

/* Top contents */
.searchresults_text ul li:nth-child(1) h1
{
    margin-right: 2.4%;
    text-align: right;
    margin-left: 0px;
}
.searchresults_text ul li:nth-child(2)
{
    float: right;
}
.searchresults_text ul li:nth-child(3)
{
    float: right;
}
.searchresults_text ul li:nth-child(4)
{
    float: right;
}
.searchresults_text ul li:nth-child(5)
{
    float: right;
}
.departDate
{
    float: right;
}
.searchresults_text ul li:nth-child(1) h1, .searchresults_text ul li:nth-child(5), .searchresults_text ul li:nth-child(2)
{
    margin-right: 2.4%;
    margin-left: 0px;
}
.searchresults_text ul h2
{
    float: right;
}
/* End - Top contents */
/******************* End Flight Search Results Page ********************/

/******************* Flight Details Page ********************/
span#skypriority
{
    margin:0 0 2% 24%;float:left;
}

div.flight_info
{
    margin-right:5%;
    margin-left: 0px;
}
/*.flight_info ul li:nth-child(1) p, .flight_info ul li:nth-child(2) p, .flight_info ul li:nth-child(3) p
{
    float:right !important;
    text-align: right;
}*/
.flight_info ul li:nth-child(2), .flight_info ul li:nth-child(3), .flight_info ul li:nth-child(4)
{
    float:right !important;
}
/*.flight_info ul li:nth-child(4)
{
    width: 100%;
    margin-bottom: 15px;
}*/
/*.flight_info ul li:nth-child(4) p:nth-child(1)
{
    float:right;
}*/
.flight_info ul li:nth-child(4) p:nth-child(2)
{
    float: left;
    margin-left: 10px;
}
#valduration
{
    float:right;
}
#lblduration
{
    float:right;
}
.flight_info ul li
{
    width: 100%;
}
.flight_info ul li:nth-child(2) p, .flight_info ul li:nth-child(3) p {
width: 100%;
}
/******************* End Flight Details Page ********************/

/*******************  Flight Status Page ********************/
.flightstatus_arrowdown1
{
    float: left;
    padding: 15px 0px 0 10px;

}
#airlinesList p
{
    padding-right: 10px;
    float: right;
    width: 80%;
    text-align: right;
}
.Depdate
{
    text-align: right  !important;
}
.flightstatus_arrowdown
{
    float: left;
    padding-left: 15px;
    padding-right: 0px;
}
.departureListLi p
{
    padding: 10px 10 0 0px;
    float: right;
}
.airports_info input[type="tel"]
{
    padding-right:10px;
}
.airports_info input[type="text"]
{
    padding-left: 35px;
    padding-right: 10px;
}
#operators .radiobutton
{
    float:right;
    margin-right: 5px;
}
.cancel_flightNumber
{
    margin-left:27%;
    float:left;
}
.search_from, .search_to, .cancel_from, .cancel_to
{
    margin-left:0px;
}
.tabs li:first-child
{
    border-right: 1px solid #d7d7d7 !important;
}
#scan_label
{
    direction:rtl;
}

/******************* End Flight Status Page ********************/

/******************* End Flight Status Results Page ********************/
/* Single Element */
.flightStatus_wrapper #contentContainer .flightStatusResultslist .flightstatusResultsSublist .flightStatusResults ul:nth-child(2) li:nth-child(1)
{
    float: right;
    text-align: right;
}
.flightstatus_wrapper #contentcontainer .flightstatusresultslist .flightstatusresultssublist .flightstatusresults ul:nth-child(2) li:nth-child(2)
{
    float: right;
}
.flightstatus_wrapper #contentcontainer .flightstatusresultslist .flightstatusresultssublist .flightstatusresults ul:nth-child(2) li:nth-child(3) p
{
    text-align: left;
}
.flightStatus_wrapper #contentContainer .flightStatusResultslist .flightstatusResultsSublist .flightStatusResults ul:nth-child(3) li
{
    float: right !important;
}
.flightStatus_wrapper #contentContainer .flightStatusResultslist .flightstatusResultsSublist .flightStatusResults ul:nth-child(3) li:nth-child(1)
{
    text-align: right;
}
.flightStatus_wrapper #contentContainer .flightStatusResultslist .flightstatusResultsSublist .flightStatusResults ul:nth-child(3) li:nth-child(2)
{
    text-align: right;
}
.flightStatus_wrapper #contentContainer .flightStatusResultslist .flightstatusResultsSublist .flightStatusResults ul:nth-child(3) li:nth-child(3)
{
    text-align: left;
}
.flightStatus_wrapper #contentContainer .flightStatusResultslist .flightstatusResultsSublist .flightStatusResults ul:nth-child(3) li:nth-child(4)
{
    text-align: left;
}
.flightStatus_wrapper #contentContainer .flightStatusResultslist .flightstatusResultsSublist .flightStatusResults ul:nth-child(4) li
{
    text-align: right;
}
/* End - Single Element */

.flightStatus_wrapper .flightStatus_textmsg ul li
{
    float: right;
}
.flightStatus_wrapper .flightStatus_textmsg ul li h2
{
    float: right;
}
/******************* End Flight Status Results Page ********************/

/*******************Flight Status Details Page ********************/
/*.flight_info ul li:nth-child(3)
{
    margin-bottom: 15px;
    width:98%;
}*/
/******************* End Flight Status Details Page ********************/

/*******************  Lounge Finder Page ********************/
.notes p
{
    direction: rtl;
}
.search_skytips, .cancel_Skytips
{
    margin-left:0px;
}
.loungesPolicy .policyContent li p
{
     direction: rtl;
}
#airport_text
{
    padding-right: 10px;
    padding-left: 40px;
}
/******************* End Lounge Finder Page ********************/

/******************* Lounge Results Page ********************/
.lounge_info
{
    width: 100% !important;
    display:table;
}
.lounge_info ul
{
    margin-bottom:10px;
}
.lounge_info ul li:nth-child(1) p
{
    text-align: right;
    margin-right: 15px;
}
.lounge_info ul li:nth-child(2) p
{
    text-align: right;
    margin-right: 15px;
}
.airportss
{
    margin-left:0px;
}
/******************* End Lounge Results Page ********************/

/*******************  SkyPriority Basic Results Page ********************/

.sp_container_open .leftcontent
{
     float:right;
}
.box h1
{
    float:right;
    margin: 2px 5px 1px 0px;
    text-align: right;
}
img.disclaimer_img
{
    -webkit-transform :rotate(270deg);
   margin: -1px 1px -1px -2px;
}
.box p
{
    text-align: right;
    float: right;
}
.Sp_res_top p
{
    float: right;
}
.Sp_res_top h4
{
    float: left;
    padding: 15px 0px 0 15px;
}
div.disclaimer_text p
{
    text-align: right;
}
.Sp_airport h2
{
    text-align: right;
}
.Sp_select_airline_img
{
    float:left;
}
#sp_airline
{
    float:right;
}

/******************* End SkyPriority Basic Results Page ********************/

/*******************  SkyPriority Advanced Results Page ********************/
.spa_placename
{
    text-align: right;
    margin-right: 10px;
    margin-left:0px;
}

.spa_airlinename
{
    text-align: right;
    padding-right: 10px;
    padding-left: 0px;
}
.spnofeature
{
    text-align: right;
}
#sp_airportname.Sp_airport
{
    display: table;
    width: 100%;
}
.Sp_airport h2
{
    float:right;
}

/******************* End SkyPriority Advanced Results Page ********************/

/*******************  SkyTips Finder Page ********************/
#skytipsPage .cancel_Skytips
{
    margin-left:5.5%;
}
#skytipsPage .search_skytips
{
    margin-left:5.5%;
}
.skyTipsNotes p
{
    text-align: right;
}
#skytipsPage input[type=text]
{
    padding-right: 10px;
    padding-left: 35px;
}
/******************* End - SkyTips Finder Page ********************/

/*******************  Add SkyTips Page ********************/

.add_skytips .skytips_searchImg, .add_skytips .cancel_skytips_btn
{
    float:left;margin-top: -41px;
}
.add_skytips .cancel_skytips
{
    float:left;margin-left: 4%;
}

#skytipsaddPage input[type=text]
{
    padding-right: 10px;
    padding-left: 35px;
}
.sky_chkbox h6 span
{
    margin-right: 10px;
}
.sky_chkbox h6
{
    text-align: right;
}
.themeImg
{
    margin-left:10px;
    margin-right:0px;
    float:right;
}
#skytipsaddPage .arrow_down
{
    float: left;
}
.arrow_down
{
    margin-left: 10px;
    margin-right:0px;
}
#ThemeSelect p
{
    padding-top: 10px;
    padding-left: 0px;
    float: right;
    padding-right: 10px;
    width: 80%;
    text-align: right !important;
}
.skytiptitle_text
{
    text-align: right;
    direction: rtl;
}
.themeImgPreview
{
    float: right;
}
button.btn_post
{
    float: left;
    margin-left: 4%;
}
button.btn_edit
{
    float: right;
    margin-right: 4%;
}
.skytips_popup .previewMessage
{
    width:100%;
    text-align: right;
}
.skytips_popup .sub_heading
{
    float: right;
    margin-bottom: 5px;
}
p.username
{
    float: right;
}
span.userlocation
{
    float: right;
    text-align: right;
}
span.postDate
{
    float: left;
}
.add_skytips .cancel_skytips {
    margin-left: 4%;
}
.terms_wrapper {
    direction: ltr;
}
/******************* End - Add SkyTips Page ********************/

/*******************  SkyTips Results Page ********************/
#skytipsPage .arrow_down
{
    float:left;
}
#skytipsPage .airports_tips
{
    text-align: right;
    width: 100%;
}
.menu_skytips .tipscount p{
    text-align:right !important;
}
/* Single element */
.tips_msgs li img
{
    float: right;
    padding-left: 3%;
}
.tips_msgs ul li
{
     text-align: right;
}
.tips_msgs ul li:nth-child(2)
{
    direction: rtl;
}
.name span
{
    float: right;
}
.name span:nth-child(3)
{
    float: left !important;
}
.name p {
    text-align: right !important;
}
p.translated {
    float: right;
}
/* End - Single element */
/******************* End - SkyTips Results Page ********************/

/*******************  About SkyTeam Page ********************/
.abt_skyteam ul
{
    direction:rtl;
}
.mem_details ul li img
{
    float: right;
}
.mem_details ul li p
{
     float: right;
     text-align: right;
     padding-right:5px;
     padding-left:0px;
}
.mem_info li
{
    direction: rtl;
    text-align: justify;
}
/******************* End - About SkyTeam Page ********************/

/******************* Settings Page ********************/
.settings p
{
    text-align: right;
}
.arrow_down
{
    float: left;
    left:10px;
    right: 0;
}
.settings ul.tab1 li:nth-child(1)
{
    float:right;
    border-radius: 0px 6px 6px 0px;
    border-left: none;
    border-right: 1px solid #d7d7d7;
}
.settings ul.tab1 li:nth-child(2)
{
    border-radius: 6px 0px 0px 6px;
}
.settings .on li:nth-child(1)
{
    float:right;
    border-radius: 0px 6px 6px 0px;
    border-left: none;
    border-right: 1px solid #d7d7d7;
}
.settings .on li:nth-child(2)
{
     border-radius: 6px 0px 0px 6px;
}
#languageSelect, #dateSelect
{
    padding-right:12px;
}
.settings .about
{
    direction:rtl;
}
.settings .about li:nth-child(1)
{
    text-align:right;
}
.settings .about li:nth-child(2) h3
{
    text-align:right;
}
.settings .about li:nth-child(3)
{
    text-align:right;
}
div.disclaimerDiv
{
    direction: rtl;
}
.disclaimerDiv h3
{
    text-align:right;
}
div.privacyPolicyDiv
{
    direction: rtl;
}
.privacyPolicyDiv ul li
{
    direction: rtl;
    text-align: right;
}
/******************* End - Settings Page ********************/

/*******************  Airport Details Page ********************/

.airport_facility li a img
{
    padding-right: 15px;
}
.airport_facility li a label
{
    padding-right: 5%;
}
.airports_wrapper div.fly_buttons button
{
    float: right;
}
.airports_temp ul li
{
    float:right;
    margin-right: 4px;
    margin-left: 0px;
}
.airports_temp ul li:nth-child(4)
{
    float: left;
    margin-left: 2%;
    text-align: left;
    margin-right: 0%;
}
.save_buttons button img
{
    float:right;
}
.airport_facility li
{
    float:right;
}
.weather ul li:first-child p
{
    padding-right: 15px;
}
.airlineTitle, .airlineTitleMkt {
    margin: 10px 10px 0px 0px;
    float: right;
}
/* Transportation */
.transportationList_small label, .transportationList_high label
{
    padding-right: 10px;
    padding-left: 0px;
    float: right;
    display: inline-table;
}
.back2
{
    float: left;
    margin-left: 3%;
    -webkit-transform: rotate(180deg);
}
.transDisc p
{
    padding-right: 3%;
}
.transportationList_high p
{
    direction: ltr;
}
.flightstatus_arrowdown2 {
    float: left;
    margin-left: 3%;
}
/* End - Transportation */
/******************* End - Airport Details Page ********************/


/******************* Saved Flights/Airport Page ********************/
/*.savedflightsresults_flight ul:nth-child(1) li:nth-child(1)
{
    float: right;
}
.savedflightsresults_flight ul:nth-child(1) li:nth-child(2)
{
    float: right;
}
.savedflightsresults_flight ul:nth-child(2) li:nth-child(1)
{
    float: right;
    padding-right: 10px;
}
.savedflightsresults_flight ul:nth-child(2) li:nth-child(2)
{
    float: left;
    padding-left: 10px;
}
.savedflightsresults_flight ul:nth-child(3) li:nth-child(1)
{
    padding-right: 10px;
    float: right;
    text-align: right;
    padding-left: 0px;
}
.savedflightsresults_flight ul:nth-child(3) li:nth-child(2)
{
    text-align: right;
    padding-left: 4px;
    float: right;
}
.savedflightsresults_flight ul:nth-child(3) li:nth-child(3)
{
    float: right;
}
.savedflightsresults_flight ul:nth-child(3) li:nth-child(4)
{
    float: left;
    text-align: left;
    padding-left: 10px;
    clear: left;
}
.savedflightsresults_flight ul:nth-child(4) li
{
    text-align: right;
}*/
.airportinfo
{
    padding: 0px 10 0px 0px;
    text-align: right;
}
.airportinfo p
{
    float: right;
    text-align: right;
}
.fullairportinfo
{
    padding: 5px 10px 10px 0px;
    text-align: right;
    float: right;
}
.arrowimg
{
    float: right;
}
.enableArrow, .disableArrow
{
    -webkit-transform: rotate(180deg);
}
/* Home page */
.savedFlightsResults1 ul:nth-child(2) li:nth-child(1), .savedFlightsResults1 ul:nth-child(2) li:nth-child(3)
{
    float: right;
}
.savedFlightsResults1 ul:nth-child(2) li:nth-child(1)
{
    margin-left: 8%;
}
.savedFlightsResults1 ul:nth-child(2) li:nth-child(2)
{
    float: right;
}
.savedFlightsResults1 ul:nth-child(2) li:nth-child(3)
{
    text-align:left;
}
.savedFlightsResults1 ul:nth-child(4) li:nth-child(1)
{
    float: right;
}
.savedFlightsResults1 ul:nth-child(4) li:nth-child(2)
{
    float: right;
    padding-right:3px;
}
.savedFlightsResults1 ul:nth-child(4) li:nth-child(3)
{
    float: right;
    text-align: left;
}
.savedflightsresults1 ul:nth-child(4) li:nth-child(3)
{
    padding-left: 4px;
}
.savedFlightsResults1 ul:nth-child(4) li:nth-child(4)
{
    text-align: left;
    width: auto;
}
.savedFlightsResults1
{
    float: right;
    margin-right: 18px;
    margin-left:0px;
}
.arrow img
{
    margin-right: 3.6%;
    -webkit-transform: rotate(180deg);
}
.savedFlightsResults1 ul:nth-child(5) li:nth-child(1) span:nth-child(2)
{
    float: right;
    width: 100%;
}
/* End - Home page */
/******************* End - Saved Flights/Airport Page ********************/
.flight_info ul{ text-align:right;}

.right-arrow:after{
    content:"\00a0 \2190 \00a0";
    top:-3px;
}
.Sp_airport .right-arrow
{
    padding: 15px 0 0 0 !important;
}

/* Justin Lounge alignment changes - 27/03.17 */
.loungeFinder p{
text-align: initial;
margin-right: 10px;
}
.loungeFinder .loungeScroll .access-airlines {
text-align: initial;
margin-right: 0px;
}
.loungeScroll .loungeDetail .loungeName:after {
    content: "\200E‎";
}
.loungeDetail ul li {
margin-right: 50px;
}





/*Initiate Booking */
.ini-Book-SecondBlock{
    left: 0;

    right: 75%;;
    border-radius: 6px 0px 0px 6px;
}
.ini-Book-SB-Button{

    display: block !important;
    width: 100% !important;
    height: 50% !important;
    text-align: center !important;
    position: relative;
}
.ini-Button{
    margin-right: 2px !important;
}
.ini-Book-SB-Button img{
    margin-right: 10px !important;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.savedFlightsResults ul:first-child li:nth-child(2){
    margin-right: 2%;
}

.returnTime-ini-hyp
{
    margin-right: 0px !important;
    margin-left: -8px !important;
}
.ini-totalstops.ini-Duration
{
    right:54%;
}
.ini-Duration
{
    right:40% ;
}
p.header5.duration{
    direction: ltr;

}
.departure_details{
    width:90%;
}
.saveflight_btn{
    margin-right: -10% !important;
}

.bookon-img-FD{
   margin-top: 0px;
   /*float: right;*/
}

.bookon-button-class{
float:right;
}
/*
.bookon-FD {
padding-right: 15%;
float: left;
padding-left:10px !important;
}

*/
.saveflight_btn_book ul li button {

    margin-right: -19% !important;
}

.saveflight_btn ul li button {
    width: 75% !important;
    margin: 0px 14px 0px 0px;
}
.savedFlightsResults ul:nth-child(2) li:nth-child(4) {
    text-align: right;
}
.savedFlightsResults ul:nth-child(2) li:nth-child(4) {

    float: left;
    font-family: 'HNM', sans-serif;
    font-size: 12px;
    line-height: 18px;
}
.ini-Duration {
    right: 43%;
}
.hours-top {
    float: left;
    margin-top: -30px;
}
.origin-Destination-hy .icon-flight.head {
    transform: rotate(180deg);
     margin-right: 10px;
}

/*
.headerflighticon-FD #mblfr-FD {

transform: rotate(180deg);

} */
.headerflighticon-FD #mblfr-FD {

margin: 18px -5px 0 6px;

 }
 .mbl-dep-code-FD {
position: absolute;
margin-left: 12%;
margin-top: -5px;
 }

 .flightfinder-li-stops {
    float: left;
 }
 .flightfinder-li-stops .flightNoStops {
  text-align: left !important;
    padding-left: 7% !important;

   }
   #closeBtnFilter {
       height: 30px;
       float: left;
       margin-top: -69px;
       margin-left: 9px;
   }

   #moreOptions-cancel{
       float:right;
   }
   .multipleAirline-Interline{
       margin-right: 20;
   }
   .interline-disclaimerText{
       margin-left: 55px;
       margin-right: 5px;
   }

.savedFlightsResults ul:nth-child(2) li:nth-child(3){
    text-align: left !important;
    float:left;
    margin-left:11px;
    }
   .flightfinder-li-cityName-des{
   width:36% !important;
   }
   .loungeFinder .fec_text{
   margin-right: -27px;
   }
   .loungeDetail ul li{
   float:right;
   }
   .airports_temp ul li:nth-child(1){
       width: 12% !important;
   }
   .airports_temp ul li:nth-child(2){
   width: 5% !important;
   }

.airports_temp ul li {
    width: 13%;
}
