.searchButton {
    width: 85%;}


.tabs li a#savedAirports
{
    padding:10px 0px;
}

.iconPlane h3 {
    font-size: 18px; }

#airlinesList p {
    font-size:14px;}

.airport_facility li{
    width:100%;
}

.airlineTitle
{
    margin-bottom: 5px;
}

.airport_buttons h3 {
    font-size: 12px;
}
#moreoptions-ok, #moreOptions-cancel{
    margin-top: 0px;
}
.interlineclass{
    margin-top: 5%;
}