
#airlinesList p {
    font-size:14px;}
.airport_facility li{
    width:100%;
}
.modal p
{
    font-size:12px;
    line-height:14px;
}
.modal .searchButton
{
    margin-top: 25%;
}
.tabs li a {
padding: 10px 0px;
}
.main_header ul li:nth-child(3) h2
{
    font-size: 16px;
}