.airport_facility li{
    width:100%;
}

button#outboundFlightsBtn, button#returnFlightsBtn{width:90%;}

.savedFlightsResults ul:nth-child(2) li:nth-child(3), .savedFlightsResults ul:nth-child(2) li:nth-child(2){width: 16%;}
.savedFlightsResults ul:nth-child(2) li:nth-child(1),.savedFlightsResults ul:nth-child(4) li:nth-child(1), .savedFlightsResults ul:nth-child(2) li:nth-child(4){width: 29%;}

.savedflightsresults_flight ul:nth-child(3) li:nth-child(1), .savedflightsresults_flight ul:nth-child(3) li:nth-child(4){width: 29%;}
.savedflightsresults_flight ul:nth-child(3) li:nth-child(2), .savedflightsresults_flight ul:nth-child(3) li:nth-child(3){width: 16%;}

.savedFlightsResults1 ul:nth-child(2) li:nth-child(1),.savedFlightsResults1 ul:nth-child(5) li:nth-child(1){margin-left: 5%;}
.savedflightsresults1 ul:nth-child(2) li:nth-child(3){width: 18%;}
.savedflightsresults1 ul:nth-child(4) li:nth-child(1), .savedflightsresults1 ul:nth-child(4) li:nth-child(4){font-size:12px;}

.datecalender button li:nth-child(2){margin-left:0;}
#departure, #arrival{font-size:12px;}
#airlinesList p{width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

.searchButton{width:90%;}
.iconPlane h3{font-size:18px;}

button#flightfinder{margin-right:10px;}
#flightfinder h2, #flightstatus h2{font-size:13px;}
button#flightfinder, button#flightstatus{width:45%;padding:5px;}

div#departureTab.tab.offHover{white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
.savedFlightsResults ul:nth-child(3) li{padding-top:2%;}
.savedFlightsResults1 ul:nth-child(2) li:nth-child(2){width:57%;}
#flightStatusairlineOperator{
    height:72% !important;
}
.proferedline-popup h2
{
    font-size: 18px;
}


/* Trying the System font */

#nav li label {
font-family: '-apple-system';font-weight:700;
}
.main_header ul li:nth-child(4) h2 {
font-family: '-apple-system';font-weight:500;
}
.main_header ul li:nth-child(3) h2 {
font-family: '-apple-system';font-weight:300;
}
.tips_content ul li p {
font-family: '-apple-system';font-weight:500;
}
.tips_content ul li span {
font-family: '-apple-system';font-weight:300;
}
.lounges {
font-family: '-apple-system';font-weight:500;
}
.airport {
font-family: '-apple-system';font-weight:300;
}
.tips_content1 ul li p {
font-family: '-apple-system';font-weight:500;
}
.tips_content1 ul li span {
font-family: '-apple-system';font-weight:300;
}
.tips_content2 ul li p {
font-family: '-apple-system';font-weight:500;
}
.tips_content2 ul li span {
font-family: '-apple-system';font-weight:500;
}
.main_buttons button {
font-family: '-apple-system';font-weight:300;
}
#flightfinder h2, #flightstatus h2{
font-family: '-apple-system';font-weight:500;
}
.tabs li {
font-family: '-apple-system';font-weight:500;
}
.flightcontent input[type="text"] {
font-family: '-apple-system';font-weight:300;
}
.datecalender button {
font-family: '-apple-system';font-weight:300;
}
.datecalender button li:nth-child(3) {
font-family: '-apple-system';font-weight:700;
}
.ab {
font-family: '-apple-system';font-weight:700;
}
.flightsBriefcase h1 {
font-family: '-apple-system';font-weight:300;
}
.savedFlightsairports ul:nth-child(1) li:nth-child(1), .savedFlightsairports ul:nth-child(1) li:nth-child(3) {
font-family: '-apple-system';font-weight:300;
}
.deleteClass p {
font-family: '-apple-system';font-weight:500;
}
savedFlightsairports ul:nth-child(2) li:nth-child(1), .savedFlightsairports ul:nth-child(2) li:nth-child(4) {
font-family: '-apple-system';font-weight:500;
}
.savedFlightsairports ul:nth-child(2) li:nth-child(2), .savedFlightsairports ul:nth-child(2) li:nth-child(3) {
font-family: '-apple-system';font-weight:700;
}
.savedFlightsairports ul:nth-child(3) li {
font-family: '-apple-system';font-weight:500;
}
.airportsBriefcase h1 {
font-family: '-apple-system';font-weight:300;
}
.airportinfo {
font-family: '-apple-system';font-weight:300;
}
.fullairportinfo {
font-family: '-apple-system';font-weight:500;
}
.iconPlane h3 {
font-family: '-apple-system';font-weight:300;
}
.savedFlightsResults1 ul:first-child li {
font-family: '-apple-system';font-weight:500;
}
.savedFlightsResults1 ul:nth-child(2) li:nth-child(1), .savedFlightsResults1 ul:nth-child(2) li:nth-child(3) {
font-family: '-apple-system';font-weight:300;
}
.savedFlightsResults1 ul:nth-child(2) li:nth-child(2) p {
font-family: '-apple-system';font-weight:700;
}
.savedFlightsResults1 ul:nth-child(3) li:nth-child(1) {
font-family: '-apple-system';font-weight:500;
}
.savedFlightsResults1 ul:nth-child(3) li:nth-child(2) {
font-family: '-apple-system';font-weight:500;
}
.savedFlightsResults1 ul:nth-child(4) li:nth-child(1) {
font-family: '-apple-system';font-weight:500;
}
.savedFlightsResults1 ul:nth-child(4) li:nth-child(2) {
font-family: '-apple-system';font-weight:700;
}
.savedFlightsResults1 ul:nth-child(4) li:nth-child(3) {
font-family: '-apple-system';font-weight:700;
}
.savedFlightsResults1 ul:nth-child(4) li:nth-child(4) {
font-family: '-apple-system';font-weight:500;
}
.savedFlightsResults1 ul:nth-child(5) li:nth-child(1) {
font-family: '-apple-system';font-weight:500;
}
.date-popup h2, .proferedline-popup h2, .moreOptionsDetails h2 {
font-family: '-apple-system';font-weight:300;
}
#departure, #arrival {
font-family: '-apple-system';font-weight:700;
}
#ok {
font-family: '-apple-system';font-weight:500;
}
.moreOptionsDetails {
font-family: '-apple-system';font-weight:300;
}
#operators h6 {
font-family: '-apple-system';font-weight:300;
}
#operator-ok, #moreOptions-ok, #operator-ok1 {
font-family: '-apple-system';font-weight:500;
}
.moreOptionsDetails h6 {
font-family: '-apple-system';font-weight:500;
}
.airport_name h1 {
font-family: '-apple-system';font-weight:300;
}
.airport_name h6 {
font-family: '-apple-system';font-weight:500;
}
.airports_temp ul li p {
font-family: '-apple-system';font-weight:300;
}
.airports_temp ul li sup {
font-family: '-apple-system';font-weight:500;
}
.airports_temp ul li:nth-child(4) span {
font-family: '-apple-system';font-weight:300;
}
.airports_temp ul li:nth-child(4) .gmt {
font-family: '-apple-system';font-weight:500;
}
.airport_facility li a label {
font-family: '-apple-system';font-weight:500;
}
.airport_buttons h3 {
font-family: '-apple-system';font-weight:500;
}
.save_buttons button h3 {
font-family: '-apple-system';font-weight:300;
}
.ui-widget-content {
font-family: '-apple-system';font-weight:500;
}
.ui-widget-content a {
font-family: '-apple-system';font-weight:300;
}
.abt_skyteam ul li:nth-child(1) {
font-family: '-apple-system';font-weight:300;
}
.abt_skyteam ul li:nth-child(2) {
font-family: '-apple-system';font-weight:500;
}
.abt_skyteam ul li:nth-child(3), .abt_skyteam ul li:nth-child(4) {
font-family: '-apple-system';font-weight:700;
}
.mem_skyteam ul li:nth-child(1) {
font-family: '-apple-system';font-weight:300;
}
.mem_skyteam ul li:nth-child(2) {
font-family: '-apple-system';font-weight:500;
}
.search_airport ul li input[type=text] {
font-family: '-apple-system';font-weight:300;
}
.map_message {
font-family: '-apple-system';font-weight:500;
}
.two_tabs ul li {
font-family: '-apple-system';font-weight:500;
}
.airport_list {
font-family: '-apple-system';font-weight:500;
}
.member_name ul li:nth-child(2) p, .member_name ul li:nth-child(2) span {
font-family: '-apple-system';font-weight:500;
}
.member_name ul li:nth-child(2) span {
font-family: '-apple-system';font-weight:500;
}
.mem_website ul li {
font-family: '-apple-system';font-weight:500;
}
.mem_info p {
font-family: '-apple-system';font-weight:300;
}
.mem_info span {
font-family: '-apple-system';font-weight:700;
}
.mem_details ul li p {
font-family: '-apple-system';font-weight:300;
}
.mem_details ul li p:nth-child(3) {
font-family: '-apple-system';font-weight:500;
}
.modal p {
font-family: '-apple-system';font-weight:500;
}
.modal .searchButton
{
font-family: '-apple-system';font-weight:500;
}
#airport_name {
font-family: '-apple-system';font-weight:300;
}
.searchResultNumber {
font-family: '-apple-system';font-weight:500;
}
.airportss {
font-family: '-apple-system';font-weight:500;
}
.loungeDetail ul li p {
font-family: '-apple-system';font-weight:500;
}
.loungeName {
font-family: '-apple-system';font-weight:500;
}
.loungeLocation {
font-family: '-apple-system';font-weight:500;
}
.loungeLocation1{
font-family: '-apple-system';font-weight:300;
}
.operatedBy{
font-family: '-apple-system';font-weight:500;
}
.timeDetails {
font-family: '-apple-system';font-weight:500;
}
.timeDetails1{
font-family: '-apple-system';font-weight:300;
}
.details {
font-family: '-apple-system';font-weight:500;
}
.operatedBy{
font-family: '-apple-system';font-weight:500;
}
.skyTipsNotes p {
font-family: '-apple-system';font-weight:700;
}
.notes p {
font-family: '-apple-system';font-weight:700;
}
.loungesPolicy .policyContent {
font-family: '-apple-system';font-weight:500;
}
.flight_info ul li:nth-child(1) {
font-family: '-apple-system';font-weight:500;
}
.flight_info ul li:nth-child(1) {
font-family: '-apple-system';font-weight:500;
}
.flight_info ul li:nth-child(2), .flight_info ul li:nth-child(3), .flight_info ul li:nth-child(4) {
font-family: '-apple-system';font-weight:300;
}
.departure_zone li:nth-child(1) {
font-family: '-apple-system';font-weight:300;
}
.departure_zone li:nth-child(1) span {
font-family: '-apple-system';font-weight:300;
}
.departure_zone li:nth-child(2) {
font-family: '-apple-system';font-weight:700;
}
.departure_zone li:nth-child(2) span {
font-family: '-apple-system';font-weight:500;
}
.last_arrow li:nth-child(1) {
font-family: '-apple-system';font-weight:300;
}
.last_arrow li:nth-child(1) span {
font-family: '-apple-system';font-weight:300;
}
.last_arrow li:nth-child(2) {
font-family: '-apple-system';font-weight:500;
}
.mem_flight li:nth-child(1) {
font-family: '-apple-system';font-weight:500;
}
.mem_flight li:nth-child(2) {
font-family: '-apple-system';font-weight:500;
}
.mem_flight li:nth-child(2) li:nth-child(2), .mem_flight li:nth-child(2) li:nth-child(3), .mem_flight li:nth-child(2) li:nth-child(4), .mem_flight li:nth-child(2) li:nth-child(5) {
font-family: '-apple-system';font-weight:500;
}
.stop li:nth-child(1) {
font-family: '-apple-system';font-weight:500;
}
.settings p {
font-family: '-apple-system';font-weight:300;
}
.settings ul.tab1 .onHover {
font-family: '-apple-system';font-weight:500;
}
.settings .offHover {
font-family: '-apple-system';font-weight:500;
}
.settings .about li:nth-child(1) {
font-family: '-apple-system';font-weight:300;
}
.settings .about li:nth-child(2) {
font-family: '-apple-system';font-weight:700;
}
.settings .about li:nth-child(2) h3 {
font-family: '-apple-system';font-weight:300;
}
.settings .about li:nth-child(2) p {
font-family: '-apple-system';font-weight:500;
}
.settings .about li:nth-child(3) {
font-family: '-apple-system';font-weight:700;
}
.settings .about li:nth-child(4) {
font-family: '-apple-system';font-weight:500;
}
.settings .about .rate {
font-family: '-apple-system';font-weight:300;
}
.settings .version {
font-family: '-apple-system';font-weight:500;
}
.settings .on .onHover {
font-family: '-apple-system';font-weight:500;
}
.settings .offHover {
font-family: '-apple-system';font-weight:500;
}
.airports_info input[type="tel"], .airports_info input[type="text"] {
font-family: '-apple-system';font-weight:300;
}
.airports_info ul li {
font-family: '-apple-system';font-weight:300;
}
.transportationList_small label, .transportationList_high label{
font-family: '-apple-system';font-weight:500;
}
#transportationListTransferTerminal_high p,#transportationListTransferCity_high p,#transportationListCarRental_high p,#transportationListTaxi_high p,#transportationListFacilities_high p,#transportationListCarParking_high p{
font-family: '-apple-system';font-weight:500;
}
.savedFlights ul:nth-child(2) li:nth-child(2), .savedFlights ul:nth-child(2) li:nth-child(3) {
font-family: '-apple-system';font-weight:700;
}
.abt_skyteam ul li:nth-child(3), .abt_skyteam ul li:nth-child(4) {
font-family: '-apple-system';font-weight:700;
}
#skytipsPage .searchResultNumber {
font-family: '-apple-system';font-weight:300;
}
#skytipsPage .airports_tips {
font-family: '-apple-system';font-weight:500;
}
#skytipsPage .airports_tipsFor {
font-family: '-apple-system';font-weight:500;
}
.onHover {
font-family: '-apple-system';font-weight:500;
}
.offHover {
font-family: '-apple-system';font-weight:500;
}
.tips_msgs ul li:nth-child(1) {
font-family: '-apple-system';font-weight:500;
}
.tips_msgs ul li:nth-child(2) {
font-family: '-apple-system';font-weight:500;
}
.noOfSkytips {
font-family: '-apple-system';font-weight:300;
}

#noSkyTips {
font-family: '-apple-system';font-weight:300;
}

#noSkyTips p {
font-family: '-apple-system';font-weight:500;
}
.name {
font-family: '-apple-system';font-weight:500;
}

.likes {
font-family: '-apple-system';font-weight:700;
}
.last_arrow li:nth-child(2) p {
font-family: '-apple-system';font-weight:700;
}
.searchresults_text ul li:nth-child(1) h1 {
font-family: '-apple-system';font-weight:300;
}
.searchresults_text ul .searchfirsth2 {
font-family: '-apple-system';font-weight:300;
}
.searchresultstabs div:nth-child(2), .searchresultstabs div:nth-child(3), .searchresultstabs div:nth-child(4) {
font-family: '-apple-system';font-weight:500;
}
#contentcontainer #onewayfilter {
font-family: '-apple-system';font-weight:500;
}
.savedFlightsResults ul li p.header2 {
font-family: '-apple-system';font-weight:300;
}
.savedFlightsResults ul:nth-child(2) li:nth-child(1) {
font-family: '-apple-system';font-weight:500;
}
.savedFlightsResults ul:nth-child(2) li:nth-child(2) {
font-family: '-apple-system';font-weight:700;
}
.savedFlightsResults ul:nth-child(2) li:nth-child(3) {
font-family: '-apple-system';font-weight:500;
}
.savedFlightsResults ul:nth-child(2) li:nth-child(4) {
font-family: '-apple-system';font-weight:500;
}
.savedFlightsResults ul:nth-child(3) li {
font-family: '-apple-system';font-weight:500;
}
#returnFlightsBtn, #outboundFlightsBtn {
font-family: '-apple-system';font-weight:300;
}

.airport_facility ul li a span {
font-family: '-apple-system';font-weight:700;
}
#facebookSite li {
font-family: '-apple-system';font-weight:300;
}
.skytiptitle_text {
font-family: '-apple-system';font-weight:300;
}
.sky_chkbox h6 {
font-family: '-apple-system';font-weight:300;
}
.tipsAddsText
{
font-family: '-apple-system';font-weight:500;
}
#skytipsaddPage .searchResultNumber {
font-family: '-apple-system';font-weight:300;
}
#skytipsaddPage .airports_tips {
font-family: '-apple-system';font-weight:500;
}
.skytips_popup .sub_heading {
font-family: '-apple-system';font-weight:300;
}
.previewMessage{
font-family: '-apple-system';font-weight:700;
}
.moreOptionsDetails {
font-family: '-apple-system';font-weight:500;
}
.moreOptionsDetails .silder2 p {
font-family: '-apple-system';font-weight:500;
}
.moreoptionsdetails #labels p {
font-family: '-apple-system';font-weight:700;
}
#labels1 p {
font-family: '-apple-system';font-weight:700;
}
.proferedline-popup h2 {
font-family: '-apple-system';font-weight:300;
}
#operators {
font-family: '-apple-system';font-weight:300;
}
.silder2 #time1, .silder2 #time {
font-family: '-apple-system';font-weight:700;
}
.gm-style .gm-style-iw, .gm-style .gm-style-iw a, .gm-style .gm-style-iw span, .gm-style .gm-style-iw label, .gm-style .gm-style-iw div {
font-family: '-apple-system';font-weight:700;
}
.disclaimerDiv h3 {
font-family: '-apple-system';font-weight:300;
}
.disclaimerDiv p {
font-family: '-apple-system';font-weight:500;
}
.popUp, .notePopup, .toast_dialog{
font-family: '-apple-system';font-weight:500;
}
.popUp button, .notePopup button {
font-family: '-apple-system';font-weight:500;
}
.popUpMessage {
font-family: '-apple-system';font-weight:500;
}
.offlinemsg {
font-family: '-apple-system';font-weight:700;
}
.savedflightsresults_flight ul:nth-child(1) li:nth-child(1) {
font-family: '-apple-system';font-weight:300;
}
.savedflightsresults_flight ul:nth-child(1) li:nth-child(3) {
font-family: '-apple-system';font-weight:300;
}
.savedflightsresults_flight ul:nth-child(2) li:nth-child(1) {
font-family: '-apple-system';font-weight:500;
}
.savedflightsresults_flight ul:nth-child(2) li:nth-child(1) {
font-family: '-apple-system';font-weight:500;
}
.savedflightsresults_flight ul:nth-child(2) li:nth-child(2) {
font-family: '-apple-system';font-weight:500;
}
.savedflightsresults_flight ul:nth-child(3) li:nth-child(1) {
font-family: '-apple-system';font-weight:500;
}
.savedflightsresults_flight ul:nth-child(3) li:nth-child(2) {
font-family: '-apple-system';font-weight:700;
}
.savedflightsresults_flight ul:nth-child(3) li:nth-child(3) {
font-family: '-apple-system';font-weight:700;
}
.savedflightsresults_flight ul:nth-child(3) li:nth-child(4) {
font-family: '-apple-system';font-weight:500;
}
.savedflightsresults_flight ul:nth-child(4) li {
font-family: '-apple-system';font-weight:500;
}
.weather ul li {
font-family: '-apple-system';font-weight:500;
}
.weather ul li:first-child {
font-family: '-apple-system';font-weight:300;
}
.privacyPolicyDiv {
font-family: '-apple-system';font-weight:500;
}
.privacyPolicyDiv p {
font-family: '-apple-system';font-weight:700;
}
.privacyPolicyDiv h3 {
font-family: '-apple-system';font-weight:500;
}
.flightStatus_wrapper .flightStatus_textmsg ul li h2 {
font-family: '-apple-system';font-weight:300;
}
.flightStatus_wrapper #contentContainer .flightStatusResultslist .flightstatusResultsSublist .flightStatusResults ul:nth-child(2) li:nth-child(1) {
font-family: '-apple-system';font-weight:300;
}
.flightStatus_wrapper #contentContainer .flightStatusResultslist .flightstatusResultsSublist .flightStatusResults ul:nth-child(2) li:nth-child(2) p {
font-family: '-apple-system';font-weight:500;
}
.flightStatus_wrapper #contentContainer .flightStatusResultslist .flightstatusResultsSublist .flightStatusResults ul:nth-child(2) li:nth-child(3) {
font-family: '-apple-system';font-weight:300;
}
.flightStatus_wrapper #contentContainer .flightStatusResultslist .flightstatusResultsSublist .flightStatusResults ul:nth-child(3) li {
font-family: '-apple-system';font-weight:500;
}
.flightStatus_wrapper #contentContainer .flightStatusResultslist .flightstatusResultsSublist .flightStatusResults ul:nth-child(3) li:nth-child(2) {
font-family: '-apple-system';font-weight:700;
}
.flightStatus_wrapper #contentContainer .flightStatusResultslist .flightstatusResultsSublist .flightStatusResults ul:nth-child(3) li:nth-child(3) {
font-family: '-apple-system';font-weight:700;
}
.flightStatus_wrapper #contentContainer .flightStatusResultslist .flightstatusResultsSublist .flightStatusResults ul:nth-child(4) li {
font-family: '-apple-system';font-weight:500;
}
.flightStatus_wrapper #contentContainer .flightStatusResultslist .flightstatusResultsSublist .flightStatusResults ul:nth-child(1) li {
font-family: '-apple-system';font-weight:500;
}
.privacypolicydiv p {
font-family: '-apple-system';font-weight:500;
}
.deleteClass_airports p {
font-family: '-apple-system';font-weight:500;
}
#ThemeSelect p {
font-family: '-apple-system';font-weight:300;
}
#airlinesListValue {
font-family: '-apple-system';font-weight:300;
}
.languageButton{
font-family: '-apple-system';font-weight:500;
}
span#skypriority {
font-family: '-apple-system';font-weight:700;
}
.Sp_airport h2{
font-family: '-apple-system';font-weight:300;
}
.Sp_select_airline{
font-family: '-apple-system';font-weight:300;
}
.Sp_res_top p{
font-family: '-apple-system';font-weight:500;
}
.Sp_res_top h4{
font-family: '-apple-system';font-weight:700;
}
.box h1{
font-family: '-apple-system';font-weight:700;
}
.box p{
font-family: '-apple-system';font-weight:500;
}
.spa_placename{
font-family: '-apple-system';font-weight:300;
}
.spa_airlinename{
font-family: '-apple-system';font-weight:700;
}
div.disclaimer_text{
font-family: '-apple-system';font-weight:500;
}
.spnofeature{
font-family: '-apple-system';font-weight:500;
}
.Sp_btns h1{
font-family: '-apple-system';font-weight:700;
}
.airlineTitle, .airlineTitleMkt
{
font-family: '-apple-system';font-weight:300;
}
.scan_label {
font-family: '-apple-system';font-weight:300;
}
#airline-ok,.depDate-ok,#moreOptions-airlineok,#sp_airline-ok{
font-family: '-apple-system';font-weight:500;
}
.toastmsg{
font-family: '-apple-system';font-weight:300;
}
p.separtor{
font-family: '-apple-system';font-weight:700;
}
.class_service_failed
{
font-family: '-apple-system';font-weight:500;
}
.newdepname, .newarrname {
font-family: '-apple-system';font-weight:500;
}
.newdepname-FD, .newarrname-FD {
font-family: '-apple-system';font-weight:300;
}
.ini-Book-SB-Button .ini-Button {
font-family: '-apple-system';font-weight:500;
}
.ini-Book-FirstBlock .returnTime-ini {
font-family: '-apple-system';font-weight:500;
}
.ini-Book-FirstBlock .destination-CityName,.source-CityName{
font-family: '-apple-system';font-weight:500;
}
.ini-Duration{
    font-family:HelveticaNeue-Medium !important;
}
.ini-Book-FirstBlock .ini-totalStops{
    font-family:HelveticaNeue-Medium !important;
}
.searchresults_text ul li:nth-child(1) h1 {
    font-family: '-apple-system';
    font-weight:300;
}
#mbl-dep-name{
    font-family: '-apple-system';
    font-weight:500;
}
#mbl-arr-name{
    font-family: '-apple-system';
    font-weight:500;
}
.ini-Button-Interline{
font-family: '-apple-system';font-weight:300;
}
.interline-disclaimerText
{
font-family: '-apple-system';font-weight:300;
}

#nav h3 {
   font-family: '-apple-system';font-weight:300;
}

/* Trying the System font */