<div class="shadow"></div>
<div class="skyteam_about">
    <div class="abt_skyteam" style="display:block;">
        <ul>
            <li><p><%=sky_alliance%></p></li>
            <li><p><%=sky_welcome%>
                <br>• <%=sky_airline_quantity%>
                <br>• <%=sky_daily_flights%>
                <br>• <%=sky_more_destinations%>
                <br>• <%=sky_explore_countries%>
                <br>• <%=sky_lounges_quantity%>
                <br><%=sky_features%>
                </p></li>
            <li class="white_button"><p><%=sky_website%></p></li>
             <li class="white_button"><p><%=sky_facebook%></p></li>
            
        </ul>
    </div>
    
    <div class="members">
        <ul>
            <li class="Aeroflot" id="SULogo"></li>
            <li class="Aerolineas Argentinas" id="ARLogo"></li>
            <li class="Aeromexico" id="AMLogo"></li>
            <li class="Air Europa" id="UXLogo"></li>
            <li class="Air France" id="AFLogo"></li>
             <li class="Alitalia" id="AZLogo"></li>
            <li class="China Airlines" id="CILogo"></li>
            <li class="China Eastern" id="MULogo"></li>
            <li class="China Southern" id="CZLogo"></li>
            <li class="Czech Airlines" id="OKLogo"></li>
            <li class="Delta AirLines" id="DLLogo"></li>
            <li class="Garuda Indonesia" id="GALogo"></li>
            <li class="Kenya Airways" id="KQLogo"></li>
            <li class="KLM" id="KLLogo"></li>
            <li class="Korean Air" id="KELogo"></li>
            <li class="Middle East Airlines" id="MELogo"></li>
            <li class="Saudia" id="SVLogo"></li>
           <li class="TAROM" id="ROLogo"></li>
            <li class="Vietnam Airlines" id="VNLogo"></li>
            <li class="Xiamen Air" id="MFLogo"></li>
        </ul>
    </div>
</div>