<div class="airports_wrapper">
	<div class="airports_image">
    <div class="airport_name">
        <h6></h6>
        <h1></h1>
    </div>
    </div>
	<div class="airports_temp">
        <ul>
            <li id="airport_code"><p></p></li>
             <li id="weather_icon"></li>
             <li><p id="currenttemp"></p><sup></sup><p></p></li>
            <li ><span id="local_time"></span><span class="gmt" ></span></li>
            
        </ul>
    </div>
	<div  class="airport_facility">
        <ul>
            <li id="lounges">
                <a><img src="./images/airport_Lounges.png" /><label><%=sky_lounge%><span id="lounges_count"></span></label></a>
            </li>
            <li id="memberAirlines">
                <a ><img src="./images/airport_members.png" /><label><%=sky_airlines%><span id="airlines_count"></span></label></a>
            </li>
            <li id="weatherReport">
                <a ><img src="./images/airport_weather.png" /><label><%=sky_weather%></label></a>
            </li>
            <li id="skyTips" style="display:none !important">
                <a ><img src="./images/airport_skytips.png" /><label><%=sky_tips_airport%><span id="skytips_count"></span></label></a>
            </li>
            <li id="skyPriority">
                <a ><img src="./images/new_menu_icons/skypriority_icon.png"/><label><%=sky_priority%></label></a>
            </li>
            <li id="transportation">
                <a ><img src="./images/transportation/transportation.png"/><label><%=sky_transportation%></label></a>
            </li>
            <li id="airportmaps">
                <a ><img src="./images/airportmap.png"/><label><%=sky_airportmaps%></label></a>
            </li></ul>
    </div>
    <div class="airport_buttons">
    <div  class="fly_buttons">
		<button id="fly_here" class="white_button"><h3><%=sky_flyfromhere%></h3>
            </button>
            <button id="fly_to" class="white_button"><h3><%=sky_flytohere%></h3>
            </button>
            </div>
            </div>

    <div class="save_buttons">
		<button id="airport_save"><img src="images/saved_flights.png"/><h3><%=sky_airport_save%></h3>
        </button>
        </div>
</div>