<div class="airports_wrapper">
    <div class="airports_image">
        <div class="airport_name">
            <h6><%=CountryName%></h6>
            <h1><%=AirportFullName%></h1>
        </div>
    </div>
    <div class="airports_temp">
        <ul>
            <li id="airport_code">
                <p><%=AirportCode%></p>
            </li>
            <li id="weather_icon">
                <%if(WeatherImagePath!== ''){%>
                <img src="<%=WeatherImagePath%>" alt="weather_image"></img>
                <%}%>
            </li>
            <li>
                <p id="currenttemp"><%=TemperatureInLocalMetric%></p>
                <%if(Temperature!== ''){%>
                <sup>o</sup>
                <p><%=TemperatureType%></p>
                <%}%>
            </li>
            <li >
                <span id="local_time"><%=Time%></span>
                <span class="gmt" ><%=GMT%></span>
            </li>
        </ul>
    </div>
    <div  class="airport_facility">
        <ul>
            <%if(parseInt(LoungesCount)>0){%>
            <li id="lounges">
                <a><img src="./images/airport_Lounges.png" /><label><%=sky_lounge%><span id="lounges_count">
                        <%if(LoungesCount !== ''){%>
                            (<%=LoungesCount%>)
                            <%}%>
                    </span></label></a>
            </li>
            <%}%>
            <%if(parseInt(AirlineDetails.Operating.Count)>0){%>
            <li id="memberAirlines">
                <a ><img src="./images/airport_members.png" /><label><%=sky_airlines%><span id="airlines_count">

                        <%if(AirlineDetails.Operating.Count !== ''){%>
                        (<%=AirlineDetails.Operating.Count%>)
                        <%}%>
                    </span></label></a>
            </li>
            <%}%>
            <li id="weatherReport">
                <a ><img src="./images/airport_weather.png" /><label><%=sky_weather%></label></a>
            </li>
            <%if(parseInt(SkyTipsCount)>0){%>
            <li id="skyTips">
                <a ><img src="./images/airport_skytips.png" /><label><%=sky_tips_airport%><span id="skytips_count">
                        <%if(SkyTipsCount !== ''){%>
                        (<%=SkyTipsCount%>)
                        <%}%>
                    </span></label></a>
            </li>
            <%}%>
            <%if('Y' === SkyPriorityFeatures){%>
            <li id="skyPriority">
                <a ><img src="./images/new_menu_icons/skypriority_icon.png"/><label><%=sky_priority%></label></a>
            </li>
            <%}%>
            <%if(Details && hasValue(Details) && (hasValue(Details.TransferTerminals) || hasValue(Details.TransferCity) ||hasValue(Details.CarRental) || hasValue(Details.Taxi) || hasValue(Details.Facilities) || hasValue(Details.CarParking) )){%>
            <li id="transportation">
                <a ><img src="./images/transportation.png"/><label><%=sky_transportation%></label></a>
            </li>
            <%}%>
            <%if(AirportCode == 'AMS' || AirportCode == 'IST' || AirportCode == 'LHR' || AirportCode == 'SYD' || AirportCode == 'FCO' || AirportCode == 'GVA' || AirportCode == 'TPE'){%>
            <li id="airportmaps">
                <a ><img src="./images/airportmap.png"/><label><%=sky_airportmaps%></label></a>
            </li>
            <%}%></ul>
    </div>
    <div class="airport_buttons">
        <div  class="fly_buttons">
            <button id="fly_here" class="white_button"><h3><%=sky_flyfromhere%></h3>
            </button>
            <button id="fly_to" class="white_button"><h3><%=sky_flytohere%></h3>
            </button>
        </div>
    </div>

    <div class="save_buttons">
        <button id="airport_save"><img src="images/saved_flights.png"/><h3><%=sky_airport_save%></h3>
        </button>
    </div>
</div>