<!--<div class="flightsBriefcase">
	<h1>My Saved Flights</h1>
	<div class="scroll" id="flightList">
</div>
</div>
<div class="airportsBriefcase">
	<h1>My Saved Airports</h1>
    <div id="airportList">
    </div>
</div> -->
<div class="savedFlightsContent">
	<div class="tabarea">
		<ul class="tabs group">
			<li id="flights" class="onHover">
				<a id="savedFlights"><%=sky_saved_flights%></a>
			</li>
			<li id="airports" class="offHover">
				<a id="savedAirports"><%=sky_saved_airports%></a>
			</li>
		</ul>
    </div>
	<div class="flightsBriefcase">
		<div class="scroll" id="flightList"></div>
    </div>
    <div class="airportsBriefcase">
	    <div id="airportList"></div>
    </div>
</div>
   