<div class="disclaimerDiv">
<div class="Preamble" >
    <h3>
<%=sky_preamble%>
</h3>
    <p><%=sky_user_assistane%></p>
    
    <p><%=sky_terms%> </p>
</div>
<div class="website">
<h3><%=sky_webuse%></h3>
    <p><%=sky_conditions%> </p>
    
    <p><%=sky_user_agree%> </p>
    
    <p><%=sky_rights%></p>
</div>
<div class="rights">
<h3><%=sky_intellectual%></h3>
    <p>
    <%=sky_use%>
    </p>
</div>
<div class="disc">
    <h3><%=sky_disclaimer%></h3><p><%=sky_website_content%> </p>
    
   <p> <%=sky_reference%></p>
    
    <p><%=sky_communication%>  <span id="privacypolicy"><%=sky_privacypolicy%></span>.</p>
    
    <p><%=sky_access%></p></div>
<div class="indemnity">
    <h3><%=sky_idemnity%></h3>
    <p><%=sky_agree%> </p></div>
<div class="general">
    <h3 ><%=sky_general%></h3>
    <p><%=sky_terms_conditions%> </p>
    
    <p><%=sky_agreement%></p>
    
   <p> <%=sky_provision%> </p>
    
    <p><%=sky_printedversion%> 
    
   <%=sky_currentversion%></p>
</div>
</div>