<div class="flightdetails_view">
    <div class="flight_info">
        
        <ul>
            
            <%if(statusResults.details.flights.length != undefined){
               
                var len=statusResults.details.flights.length;
                var i= 0 ,originAirport, destinationAirport, localDepDate ;
                
                originAirport = getAirportName(statusResults.details.flights[i].origin.airportCode);
                destinationAirport = getAirportName(statusResults.details.flights[len-1].destination.airportCode);
                localDepDate = getDateInLocaleFormat(statusResults.details.flights[i].flightLegs[i].departureDetails.scheduledDate,true);
                localArrivalDate= getDateInLocaleFormat(statusResults.details.flights[len-1].flightLegs[i].arrivalDetails.scheduledDate,true);%>
            <li>
                <p><%= originAirport%></p>
                <p class="right-arrow"></p>
                <p><%= destinationAirport%></p></li>
            <li>
                <p> <%=sky_departdate%>: <%=localDepDate%></p>
            </li>
            
            <li>
                <p>
                <span id="lblduration"><%=sky_arrivaldate%>: <%= localArrivalDate%></span>
                <span id="skypriority"><%=sky_priority%></span>
                </p>
            </li>
        </ul>
        
        <%}%>
    </div>
    
    <div class="flight_details_info">
        <div class="departure_details">
        <!--    <div class="line">
                <ul>
                    <%if(statusResults.details.flights.length == 1){%>
                    <li></li>
                    
                    <%}else{
                        for(var i=0, statusLength = statusResults.details.flights.length; i < statusLength; i++){
                            
                            var j = statusResults.details.totalNoTransfers;
                        if(i < j) {%>
                    <li></li>
                    <%if(i == (j-1)){%>
                    <li></li><%}%>
                    <li></li>
                    <%}}}%>
                </ul>
            </div> -->
        <%
            var flightCount = statusResults.details.flights.length;

				if(statusResults.details.totalNoTransfers){
                    var transferCount = statusResults.details.totalNoTransfers;

                }
                else{
                     var transferCount = 0;
                    
                }
            
            var totalStoppages = transferCount;
            for (itr = 0; itr<flightCount; itr++){
                totalStoppages = totalStoppages + statusResults.details.flights[itr].totalTechnicalStops;
            }
            %>
<div class="line">
    <ul>
        <% for(var i=0,maxlen = (2*totalStoppages+1);i<maxlen;i++){%>
        <li></li>
        <%}%>
    </ul>
</div>
            <div class="status">
                
                      <%
                          for(var i=0, maxlength=statusResults.details.flights.length; i < maxlength; i++){
                        var j = statusResults.details.totalNoTransfers;
                        
                        if (statusResults.details.flights[i].totalTechnicalStops < 1){

                        
                        var dep_time,arr_time,colorcode ,overallStatusCode,statusDescription,origin,originAirport ,fno,overallStatus ,operatingAirline ,terminal ,aircraftType,destination;
            
                            
                            dep_time = statusResults.details.flights[i].flightLegs[0].departureDetails.scheduledTime.split('+')[0].split(':')[0] + ":" +statusResults.details.flights[i].flightLegs[0].departureDetails.scheduledTime.split('+')[0].split(':')[1];
                            
                            arr_time = statusResults.details.flights[i].flightLegs[statusResults.details.flights[i].flightLegs.length-1].arrivalDetails.scheduledTime.split('+')[0].split(':')[0] + ":" +statusResults.details.flights[i].flightLegs[statusResults.details.flights[i].flightLegs.length-1].arrivalDetails.scheduledTime.split('+')[0].split(':')[1];
                            
    
                        
                       // overallStatusCode = statusResults.details.overallStatus.description;

                statusDescription=statusResults.details.flights[i].flightLegs[0].status.description;

                statusCode="";
                statusCode=statusResults.details.flights[i].flightLegs[0].status.code;

                        if (statusDescription == "Cancelled" || statusCode=="CX") {
                            
                            colorcode= '#D7862F';
                            
                        } else if (statusDescription == "Delayed"  || statusCode=="DY") {
                            
                            colorcode= '#D7862F';
                            
                        } else {
                            
                            colorcode= '#0B1761';
                            
                        }
                        
                        
                       // overallStatus = (statusResults.details.overallStatus.description.substring(0,2).trim(" ") == "No") ? "" : getStatus(statusResults.details.overallStatus.description);
                        
                        origin = statusResults.details.flights[i].origin.airportCode;
                        
                        destination = statusResults.details.flights[i].destination.airportCode;
                        
                        originAirport = getAirportName(statusResults.details.flights[i].origin.airportCode);
                        
                        fno = statusResults.details.flights[i].marketingFlightNumber;
                        
                        operatingAirline = statusResults.details.flights[i].operatingAirlineName;
                        
                        terminal = statusResults.details.flights[i].flightLegs[statusResults.details.flights[i].flightLegs.length-1].arrivalDetails.terminal;
                        
                        if(statusResults.details.flights[i].flightLegs[0].aircraftType !=undefined){
                            
                            aircraftType = statusResults.details.flights[i].flightLegs[0].aircraftType;
                        }%>
                
                <div class="dep_data">
                    <ul class="departure_zone getAirportDetails" id="departure_zone_<%=i%>">
                        <li><p><%= origin%></p><span><%=dep_time%></span>
                        </li>
                        <li><p><%=sky_departure%></p>
                            <span><%= originAirport%></span>
                        </li>
                        <li><img src="./images/arrow.png" alt="arrow" />
                        </li>
                    </ul>
                    <ul class="mem_flight">
                        <li>
                            <p><%= fno%></p>
                            
                            <p style="color: <%= colorcode%>">&#32;<%= statusDescription%></p>
                            
                            
                            <%if(statusDescription  == "Delayed"){
                                
                                var delay = statusResults.details.overallStatus.delayTime;
                                if(delay != undefined && delay != ""){
                                    if(delay.match('H') && delay.match('M')){
                                        var delayH = delay.split('H')[0];
                                        var delayM = (delay.split('M')[0]).split('H')[1];
                                        
                                        if(delayH.length == 1){
                                            delayH = "0" + delayH + "h";
                                        }
                                        else{
                                            delayH = delayH + "h";
                                        }
                                        if(delayM.length == 1){
                                            delayM = "0" + delayM + "m";
                                        }
                                        else{
                                            delayM = delayM + "m";
                                        }
                                        delay = delayH + delayM;
                                        
                                        }
                                        else{
                                            if(delay.match('H')){
                                                var delayH = delay.split('H')[0];
                                                if(delayH.length == 1){
                                                    delayH = "0" + delayH+"h00m";
                                                }
                                                else{
                                                    delayH = delayH+"h00m";
                                                }
                                                delay = delayH;
                                                }
                                                if(delay.match('M')){
                                                    var delayM = delay.split('M')[0]
                                                    if(delayM.length == 1){
                                                        delayM = "00h0" + delayM+"m";
                                                    }
                                                    else{
                                                        delayM = "00h"+delayM+"m";
                                                    }
                                                    delay = delayM;
                                                    }
                                                    }
                                                    }%><p style="color:#D7862F"><%=delay%></p><%}%></li>
                        
                        <li>
                            <ul>
                                <li><img class="operatorImg" src="./images/members2/<%=(fno.substring(0, 2))%>-Logo.png"/></li>
                                <li>
                                    <p><%=sky_operatedby%>: <span><%=operatingAirline%></span>
                                    </p></li>
                                
                                
                                
                                <li><p><%=sky_terminal%>: <span> <%=terminal%></span></p></li>
                                
                                
                                <li><p><%=sky_aircraft%>: <span> <%=aircraftType%></span></p></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="last_arrow getAirportDetails" id="arrival_zone_<%=i%>">
                        <li><p><%= destination%></p><span><%= arr_time%></span></li>
                        <li><p><%=sky_arrival%></p><span><%= getAirportFullName(destination)%></span></li>
                        <li><img src="./images/arrow.png" alt="arrow" /></li>
                    </ul>
                </div>
                <%if(i < j) {%>
                <div class="stopover" >
                    <ul class="stop">
                        <li><p><%=sky_connectiontime%>: <span><%= statusResults.details.transfers[i].transferTime%>
                        </span></p></li>
                    </ul>
                </div>
                <%}%>
                
                
                <%}else {
                        
                       
                        var dep_time,arr_time,colorcode ,overallStatusCode,statusDescription,origin,originAirport ,fno,overallStatus ,operatingAirline ,terminal ,aircraftType,destination;
                        
                        
                       
                        var maxLegLength =statusResults.details.flights[i].flightLegs.length;
                        var noTechStops = statusResults.details.flights[i].totalTechnicalStops;
                        
                         for(var j=0; j< maxLegLength;j++){
                        
                        dep_time = statusResults.details.flights[i].flightLegs[j].departureDetails.scheduledTime.split('+')[0].split(':')[0] + ":" +statusResults.details.flights[i].flightLegs[j].departureDetails.scheduledTime.split('+')[0].split(':')[1];
                        
                        arr_time = statusResults.details.flights[i].flightLegs[j].arrivalDetails.scheduledTime.split('+')[0].split(':')[0] + ":" +statusResults.details.flights[i].flightLegs[j].arrivalDetails.scheduledTime.split('+')[0].split(':')[1];
                        
                        
                        
                       // overallStatusCode = statusResults.details.overallStatus.description;
                statusDescription=statusResults.details.flights[i].flightLegs[0].status.description;
                        statusCode=statusResults.details.flights[i].flightLegs[0].status.code;
                        if (statusDescription == "Cancelled" || statusCode=="CX") {
                            
                            colorcode= '#D7862F';
                            
                        } else if (statusDescription == "Delayed" || statusCode=="DY") {
                            
                            colorcode= '#D7862F';
                            
                        } else {
                            
                            colorcode= '#0B1761';
                            
                        }
                        
                        
                     //   overallStatus = (statusResults.details.overallStatus.description.substring(0,2).trim(" ") == "No") ? "" : getStatus(statusResults.details.overallStatus.description);
                        
                        origin = statusResults.details.flights[i].flightLegs[j].origin.airportCode;
                        
                        destination = statusResults.details.flights[i].flightLegs[j].destination.airportCode;
                        
                        originAirport = getAirportName(statusResults.details.flights[i].flightLegs[j].origin.airportCode);
                        
                        fno = statusResults.details.flights[i].marketingFlightNumber;
                        
                        operatingAirline = statusResults.details.flights[i].operatingAirlineName;
                        
                        terminal = statusResults.details.flights[i].flightLegs[j].arrivalDetails.terminal;
                        
                        if(statusResults.details.flights[i].flightLegs[j].aircraftType !=undefined){
                            
                            aircraftType = statusResults.details.flights[i].flightLegs[j].aircraftType;
                        }%>
               
                <div class="dep_data">
                    <ul class="departure_zone getAirportDetails" id="departure_zone_<%=j%>">
                        <li><p><%= origin%></p><span><%=dep_time%></span>
                        </li>
                        <li><p><%=sky_departure%></p>
                            <span><%= originAirport%></span>
                        </li>
                        <li><img src="./images/arrow.png" alt="arrow" />
                        </li>
                    </ul>
                    <ul class="mem_flight">
                        <li>
                            <p><%= fno%></p>
                            
                            <p style="color: <%= colorcode%>">&#32;<%= statusDescription%></p>
                            
                            
                            <%if(statusDescription  == "Delayed"){
                                
                                var delay = statusResults.details.overallStatus.delayTime;
                                if(delay != undefined && delay != ""){
                                    if(delay.match('H') && delay.match('M')){
                                        var delayH = delay.split('H')[0];
                                        var delayM = (delay.split('M')[0]).split('H')[1];
                                        
                                        if(delayH.length == 1){
                                            delayH = "0" + delayH + "h";
                                        }
                                        else{
                                            delayH = delayH + "h";
                                        }
                                        if(delayM.length == 1){
                                            delayM = "0" + delayM + "m";
                                        }
                                        else{
                                            delayM = delayM + "m";
                                        }
                                        delay = delayH + delayM;
                                        
                                        }
                                        else{
                                            if(delay.match('H')){
                                                var delayH = delay.split('H')[0];
                                                if(delayH.length == 1){
                                                    delayH = "0" + delayH+"h00m";
                                                }
                                                else{
                                                    delayH = delayH+"h00m";
                                                }
                                                delay = delayH;
                                                }
                                                if(delay.match('M')){
                                                    var delayM = delay.split('M')[0]
                                                    if(delayM.length == 1){
                                                        delayM = "00h0" + delayM+"m";
                                                    }
                                                    else{
                                                        delayM = "00h"+delayM+"m";
                                                    }
                                                    delay = delayM;
                                                    }
                                                    }
                                                    }%><p style="color:#D7862F"><%=delay%></p><%}%></li>
                        
                        <li>
                            <ul>
                                <li><img class="operatorImg" src="./images/members2/<%=(fno.substring(0, 2))%>-Logo.png"/></li>
                                <li>
                                    <p><%=sky_operatedby%>: <span><%=operatingAirline%></span>
                                    </p></li>
                                
                                
                                
                                <li><p><%=sky_terminal%>: <span> <%=terminal%></span></p></li>
                                
                                
                                <li><p><%=sky_aircraft%>: <span> <%=aircraftType%></span></p></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="last_arrow getAirportDetails" id="arrival_zone_<%=j%>">
                        <li><p><%= destination%></p><span><%= arr_time%></span></li>
                        <li><p><%=sky_arrival%></p><span><%= getAirportFullName(destination)%></span></li>
                        <li><img src="./images/arrow.png" alt="arrow" /></li>
                    </ul>
                </div>
               
               
              
               <% if(noTechStops>0 && maxLegLength!== j+1) {%>
                <div class="stopover">
                    <ul class="stop">
                        <li><p><%=sky_connectiontime%>: <span><%= statusResults.details.flights[i].stops[j].stopTime%>
                        </span></p></li>
                    </ul>
                </div>
                
                <%}else if(noTechStops>0 && maxLegLength== j+1 && flightCount>i+1){%>
                <div class="stopover">
                    <ul class="stop">
                        <li><p><%=sky_connectiontime%>: <span><%= statusResults.details.flights[i].stops[j-1].stopTime%>
                        </span></p></li>
                    </ul>
                </div>
                 <%}
                    }}}%>
                
             
                
                
            </div>
            
        </div>
    </div>
    <div class="saveflight_btn">
        <ul><li><button id="saveStatusFlight" class="iconPlane searchButton">
            <img src="images/saved_flights.png"/><h3><%=sky_save_flight%></h3>
        </button></li></ul>
        
    </div>
</div>
