<div class="flightdetails_view">
    <div class="flight_info">
        <ul>
            <li><p><%=getAirportName(Origin) %></p><p class="right-arrow"></p><p><%=getAirportName(Destination)%></p></li>

            <li><p><%=sky_departdate%>: </p><p><span> <%=getDateInLocaleFormat(DepartureDate)%></span></p></li>
            <li><p><%=sky_arrivaldate%>:</p><p> <span><%=getDateInLocaleFormat(ArrivalDate)%></span></p></li>
            <li><p><span id="lblduration"><%if(hasValue(details.TotalDuration)){%><%=sky_duration%>: <%=details.TotalDuration%> <%}%></span> <span id="skypriority"><%=sky_priority%></span></p></li>
        </ul>
    </div>
    <div class="flight_details_info">
        <div class="departure_details">
            <div class="line">
                <ul>
                    <% for(var i=0,maxlen = (2*NoOfStops+1);i<maxlen;i++){%>
                    <li></li>
                    <%}%>
                </ul>
            </div>

            <div class="status">
                <%
                var segmentsDetail = details.Segments;
                for(var i=0,maxlen=segmentsDetail.length;i<maxlen;i++){
                var timeDepartureDetail = segmentsDetail[i].DepartureTime.split(":");
                segmentsDetail[i].DepartureTime = timeDepartureDetail[0]+":"+timeDepartureDetail[1];

                var timeArrivalDetail = segmentsDetail[i].ArrivalTime.split(":");
                segmentsDetail[i].ArrivalTime = timeArrivalDetail[0]+":"+timeArrivalDetail[1];

                %>
                <div class="dep_data"><!-- start departure deta -->
                    <ul class="departure_zone openairport" id="<%='departure_zone_'+i%>">
                        <li><p><%=segmentsDetail[i].Origin %></p><span><%=segmentsDetail[i].DepartureTime%></span></li>
                        <li><p><%=sky_departure%></p><span><%=getAirportFullName(segmentsDetail[i].Origin)%></span></li>
                        <li><img src="./images/arrow.png"></li>
                    </ul>
                    <ul class="mem_flight" id="<%='mem_flight'+i%>">
                        <li><p><%=segmentsDetail[i].FlightNumber%></p>
                            <% if(CurrentDetail.length){
                            if(CurrentDetail[i].Status == "Delayed"){%>
                            <span class="flight_status_alert"><%=getStatus(CurrentDetail[i].Status)%></span>
                            <span class="flight_status_alert"><%=(CurrentDetail[i].delay)%></span>
                            <% }else if(CurrentDetail[i].Status == "Cancelled"){%>
                            <span class="flight_status_alert"><%=getStatus(CurrentDetail[i].Status)%></span>
                            <%}else{%>
                            <span class="flight_status"><%=getStatus(CurrentDetail[i].Status)%></span>
                            <%}%>
                            <%}%>
                        </li>
                        <li>
                            <ul>
                                <li><img class="operatorImg" src="./images/members2/<%=(segmentsDetail[i].FlightNumber.substr(0,2))%>-Logo.png"></li>
                                <li><p><%=sky_operatedby%> <span><%=segmentsDetail[i].OperatedBy%></span></p></li>
                                <li><p><%if(hasValue(segmentsDetail[i].TravelTime)){%><%=sky_duration%>: <%=segmentsDetail[i].TravelTime %><%}%></p></li>
                                <li style="display: none;"><p><%=sky_terminal%> <span></span></p></li>
                                <li style="display: none;"><p>Bagage belt: <span></span></p></li>
                                <li><p><span></span></p></li>
                                <li style="display: block;"><p><%=sky_aircraft%>: <span><%=segmentsDetail[i].AircraftType%></span></p></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="last_arrow openairport" id="<%='arrival_zone_'+i%>">
                        <li><p><%=segmentsDetail[i].Destination%></p><span><%=segmentsDetail[i].ArrivalTime%></span></li>
                        <li><p><%=sky_arrival%></p><span><%=getAirportFullName(segmentsDetail[i].Destination)%></span></li>
                        <li><img src="./images/arrow.png"></li>
                    </ul>
                </div><!-- end departure deta -->


                <!-- start stopover -->
                <% if(NoOfStops>0 && maxlen!== i+1){%>
                <div class="stopover">
                    <ul class="stop">
                        <li>
                            <p><%=sky_connectiontime%>: <span><%=getTravelTime(details.StopTimes[i])%></span></p>
                        </li>
                    </ul>
                </div>
                <%}%>
                <!-- start stopover -->
                <%}%>
            </div>
        </div>
    </div>
    <div class="saveflight_btn">
        <ul><li><button id="saveflightDetails" class="iconPlane searchButton">
            <img src="images/saved_flights.png"/><h3><%=sky_save_flight%></h3>
        </button></li></ul>
    </div>
</div>
