<div class="proferedline-popup" id="depatureDate-popup">
    <h2><%=sky_yourdate%></h2>
    <div id="operators" class="departureDate">
        <label class="radiobutton">
            <input type="radio" name="dep_date" value="<%=yes_date_val%>" class="groupCheckbox" id="checkone"/>
            <span></span>
        </label>
        <h6><span class="spanDepartDate" for="checkone"><%=sky_yesterday%>  <%=yes_date%></span></h6>
        
        <label class="radiobutton">
            <input type="radio" name="dep_date" class="groupCheckbox" value="<%=today_date_val%>" id="checktwo" checked=checked/>
            <span></span>
        </label>
        <h6><span class="spanDepartDate" for="checktwo"><%=sky_today%> <%=today_date%></span></h6>
        
        
        <label class="radiobutton">
            <input type="radio" name="dep_date" value="<%=tmrw_date_val%>" class="groupCheckbox" id="checkthree"/>
            <span></span>
        </label>
        <h6><span class="spanDepartDate" for="checkthree"><%=sky_tomorrow%>  <%=tmrw_date%></span></h6>
    </div>
    <button class="depDate-ok"><%=sky_ok%></button>
</div>


<div class="proferedline-popup" id="members-popup">
    <h2><%=sky_airline_select%></h2>
    <div id="operators">
        <div class="scrollforflightsname" id="flightStatusairlineOperator">
            
            <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="Aeroflot"  value="SU"name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="Aeroflot"><%=sky_SU%></span></h6>
            <label class="radiobutton">
                <input  type="radio" id="AerolineasArgentinas" class="groupCheckbox"  value="AR" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="AerolineasArgentinas"><%=sky_AR%></span></h6>
            <label class="radiobutton">
                <input  type="radio" id="Aeromexico" class="groupCheckbox"  value="AM" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="Aeromexico"><%=sky_AM%></span></h6>
            <label class="radiobutton">
                <input id="AiEuropa" type="radio" class="groupCheckbox"  value="UX"  name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="AiEuropa"><%=sky_UX%></span></h6>
            <label class="radiobutton">
                <input  type="radio" id="AirFrance" class="groupCheckbox"  value="AF" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="AirFrance"><%=sky_AF%></span></h6>
            <label class="radiobutton">
                <input  type="radio" id="Alitalia" class="groupCheckbox"  value="AZ" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="Alitalia"><%=sky_AZ%></h6>
            <label class="radiobutton">
                <input  type="radio"id="ChinaAirlines" class="groupCheckbox"  value="CI" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="ChinaAirlines"><%=sky_CI%></span></h6>
            <label class="radiobutton">
                <input  type="radio"id="ChinaEastern" class="groupCheckbox"  value="MU" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="ChinaEastern"><%=sky_MU%></span></h6>
            <label class="radiobutton">
                <input id="ChinaSouthern" type="radio" class="groupCheckbox" value="CZ"  name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="ChinaSouthern"><%=sky_CZ%></span></h6>
            <label class="radiobutton">
                <input id="CzechAirlines" type="radio" class="groupCheckbox"  value="OK"  name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="CzechAirlines"><%=sky_OK%></span></h6>
            <label class="radiobutton">
                <input id="DeltaAirLines" type="radio" class="groupCheckbox"  value="DL"  name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="DeltaAirLines"><%=sky_DL%></span></h6>
            <label class="radiobutton">
                <input id="GarudaIndonesia" type="radio" class="groupCheckbox"  value="GA"  name="operatorsGroup" />
                <span></span>
            </label>
            
            <h6><span class="airlineName" for="GarudaIndonesia"><%=sky_GA%></span></h6>
            <label class="radiobutton">
                <input id="KenyaAirways" type="radio" class="groupCheckbox"  value="KQ"  name="operatorsGroup" />
                <span></span>
            </label>
            
            <h6><span class="airlineName" for="KenyaAirways"><%=sky_KQ%></span></h6>
            <label class="radiobutton">
                <input id="KLM" type="radio" class="groupCheckbox"  value="KL" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="KLM"><%=sky_KL%></span></h6>
            <label class="radiobutton">
                <input id="KoreanAir" type="radio" class="groupCheckbox"  value="KE" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="KoreanAir"><%=sky_KE%></span></h6>
            <label class="radiobutton">
                <input id="MiddleEastAirlines" type="radio" class="groupCheckbox"  value="ME"  name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="MiddleEastAirlines"><%=sky_ME%></span></h6>
            <label class="radiobutton">
                <input id="Saudia" type="radio" class="groupCheckbox"  value="SV" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="Saudia"><%=sky_SV%></span></h6>
            <label class="radiobutton">
                <input id="TAROM" type="radio" class="groupCheckbox"  value="RO"  name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="TAROM"><%=sky_RO%></span></h6>
            <label class="radiobutton">
                <input id="VietnamAirlines" type="radio" class="groupCheckbox"  value="VN"  name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="VietnamAirlines"><%=sky_VN%></span></h6>
            <label class="radiobutton">
                <input id="XiamenAIR" type="radio" class="groupCheckbox"  value="MF"  name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="airlineName" for="XiamenAIR"><%=sky_MF%></span></h6>
        </div>
    </div>
    <button id="airline-ok" class="members-ok"><%=sky_ok%></button>
</div>
