<div class="flightdetails_view">
    <div class="flight_info">
        <ul>
            <li><p>Amsterdam to Los Angeles</p></li>

            <li><p><%=sky_departdate%>: <span></span></p></li>
            <li><p><%=sky_arrivaldate%>: <span></span></p></li>
            <li><p><%=sky_duration%>: <span></span> <span id="skypriority"><%=sky_priority%></span></p></li>
        </ul>
    </div>
    <div class="flight_details_info">
        <div class="departure_details">
            <div class="line">
                <ul></ul>
            </div>

            <div class="status">
            </div>
        </div>
    </div>
    <div class="saveflight_btn">
        <ul><li><button id="saveflightDetails" class="iconPlane searchButton">
            <img src="images/saved_flights.png"/><h3><%=sky_save_flight%></h3>
        </button></li></ul>
    </div>
</div>
