<div class="flightdetails_view">
    <div class="flight_info">
        <ul>
            <li><p><%=getAirportName(Origin) %></p><p class="right-arrow"></p><p><%=getAirportName(Destination)%></p></li>

            <li><p><%=sky_departdate%>: </p><p><span> <%=getDateInLocaleFormat(DepartureDate)%></span></p></li>
            <li><p><%=sky_arrivaldate%>:</p><p> <span><%=getDateInLocaleFormat(ArrivalDate)%></span></p></li>
            <li class="skypriority_li"><p>
                <!--<span id="lblduration"><%if(hasValue(details.totalDuration)){%><%=sky_duration%>: <%=details.totalDuration%> <%}%></span> -->
                <span id="skypriority"><%=sky_priority%></span>
            <!--</p></li>-->
        </ul>
    </div>
    <div class="flight_details_info">
        <div class="departure_details">
            <!-- Boopathy code - for Technical Stops
             ##Calculate total stoppages-->
            <%

            var flightCount = details.flights.length;
            var transferCount = noOfStops;
            var totalStoppages = transferCount;
            for (itr = 0; itr<flightCount; itr++){
            totalStoppages = totalStoppages + details.flights[itr].totalTechnicalStops;
            }
            %>

            <div class="line">
                <ul>
                    <% for(var i=0,maxlen = (2*totalStoppages+1);i<maxlen;i++){%>
                    <li></li>
                    <%}%>
                </ul>
            </div>

            <div class="status">
                <%
                var segmentsDetail = details.flights;
                var nex_Indicator="";
                var booking_URL=""

                <!--if($('.mbl-dep-code-FD').text()=="undefined"){-->
                $('.mbl-dep-code-FD').text(segmentsDetail[0].origin.airportCode);
                <!--}-->
                <!--if($('.mbl-ret-code-FD').text()=="undefined"){-->
                $('.mbl-ret-code-FD').text(segmentsDetail[segmentsDetail.length-1].destination.airportCode);
                <!--}-->

                for(var i=0,maxlen=segmentsDetail.length;i<maxlen;i++){
                /* check if flight has techStops*/
                booking_URL=""
                if (segmentsDetail[i].totalTechnicalStops < 1){

                if(segmentsDetail[0].bookingDetails !=undefined)
                {
                 booking_URL=segmentsDetail[0].bookingDetails.mobileUrl;
                }

                var timeDepartureDetail = segmentsDetail[i].flightLegs[0].departureDetails.scheduledTime.split(":");
                segmentsDetail[i].DepartureTime = timeDepartureDetail[0]+":"+timeDepartureDetail[1];

                var timeArrivalDetail = segmentsDetail[i].flightLegs[segmentsDetail[i].flightLegs.length-1].arrivalDetails.scheduledTime.split(":");
                segmentsDetail[i].ArrivalTime = timeArrivalDetail[0]+":"+timeArrivalDetail[1];


                var departureTime_ND=segmentsDetail[i].flightLegs[0].departureDetails.scheduledDate;
                var arrivalTime_ND=segmentsDetail[i].flightLegs[0].arrivalDetails.scheduledDate;

                nex_Indicator="";
                if(departureTime_ND!=arrivalTime_ND){
                nex_Indicator="(Next day)";
                }


                %>
                <div class="dep_data"><!-- start departure deta -->
                    <ul class="departure_zone openairport" id="<%='departure_zone_'+i%>">
                        <li><p><%=segmentsDetail[i].origin.airportCode %></p><span><%=segmentsDetail[i].DepartureTime%></span></li>
                        <li><p><%=sky_departure%></p><span><%=getAirportFullNameNew(segmentsDetail[i].origin.airportCode)%></span></li>
                        <li><img src="./images/arrow.png"></li>
                    </ul>
                    <ul class="mem_flight" id="<%='mem_flight'+i%>">
                        <li><p><%=segmentsDetail[i].marketingFlightNumber%></p>
                            <% if(segmentsDetail[i].flightLegs[0].status){
                            if(segmentsDetail[i].flightLegs[0].status.description == "Delayed" || segmentsDetail[i].flightLegs[0].status.code == "DY"){%>
                            <span class="flight_status_alert"><%=getStatus(segmentsDetail[i].flightLegs[0].status.code)%></span>
                            <% }else if(segmentsDetail[i].flightLegs[0].status.description == "Cancelled" || segmentsDetail[i].flightLegs[0].status.code == "CX"){%>
                            <span class="flight_status_alert"><%=getStatus(segmentsDetail[i].flightLegs[0].status.code)%></span>
                            <%}else{%>
                            <span class="flight_status"><%=getStatus(segmentsDetail[i].flightLegs[0].status.code)%></span>
                            <%}%>
                            <%}%>
                        </li>
                        <li>
                            <ul>
                                <li><img class="operatorImg" src="./images/members2/<%=(segmentsDetail[i].marketingFlightNumber.substr(0,2))%>-Logo.png"></li>
                                <li><p><%=sky_operatedby%> <span><%=segmentsDetail[i].operatingAirlineName%></span></p></li>
                                <li><p><%if(hasValue(segmentsDetail[i].travelTime)){%><%=sky_duration%>: <%=segmentsDetail[i].travelTime %><%}%></p></li>
                                <li style="display: none;"><p><%=sky_terminal%> <span></span></p></li>
                                <li style="display: none;"><p>Bagage belt: <span></span></p></li>
                                <li><p><span></span></p></li>
                                <li style="display: block;"><p><%=sky_aircraft%>: <span><%=segmentsDetail[i].flightLegs[0].aircraftType%></span></p></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="last_arrow openairport" id="<%='arrival_zone_'+i%>">
                        <li><p><%=segmentsDetail[i].destination.airportCode%></p><span><%=segmentsDetail[i].ArrivalTime%></span><p class="next_Day"><%=nex_Indicator%></p></li>
                        <li><p><%=sky_arrival%></p><span><%=getAirportFullNameNew(segmentsDetail[i].destination.airportCode)%></span></li>
                        <li><img src="./images/arrow.png"></li>
                    </ul>
                </div><!-- end departure deta -->


                <!-- start stopover -->
                <% if(noOfStops>0 && maxlen!== i+1){%>
                <div class="stopover">
                    <ul class="stop">
                        <li>
                            <p><%=sky_connectiontime%>: <span><%=getTravelTime(details.transfers[i].transferTime)%></span></p>
                        </li>
                    </ul>
                </div>
                <%}%>
                <!-- start stopover -->
                <%}
                //for flights having technical stops
                else{

                nex_Indicator="";

if(segmentsDetail[0].bookingDetails !=undefined)
                {
                booking_URL=segmentsDetail[0].bookingDetails.mobileUrl;
                }
                var flightLegDetail = segmentsDetail[i].flightLegs;
                var maxLegLength =segmentsDetail[i].flightLegs.length;
                var noTechStops = segmentsDetail[i].totalTechnicalStops;

                for(var j=0; j< maxLegLength;j++){
                var timeDepartureDetail = flightLegDetail[j].departureDetails.scheduledTime.split(":");
                flightLegDetail[j].DepartureTime = timeDepartureDetail[0]+":"+timeDepartureDetail[1];

                var timeArrivalDetail = flightLegDetail[j].arrivalDetails.scheduledTime.split(":");
                flightLegDetail[j].ArrivalTime = timeArrivalDetail[0]+":"+timeArrivalDetail[1];

                var departureTime_ND=flightLegDetail[j].departureDetails.scheduledDate;
                var arrivalTime_ND=flightLegDetail[j].arrivalDetails.scheduledDate;



                if(departureTime_ND!=arrivalTime_ND){
                nex_Indicator="(Next day)";
                }

                %>
                <div class="dep_data"><!-- start departure deta -->
                    <ul class="departure_zone openairport" id="<%='departure_zone_'+j%>">
                        <li><p><%=flightLegDetail[j].origin.airportCode %></p><span><%=flightLegDetail[j].DepartureTime%></span></li>
                        <li><p><%=sky_departure%></p><span><%=getAirportFullNameNew(flightLegDetail[j].origin.airportCode)%></span></li>
                        <li><img src="./images/arrow.png"></li>
                    </ul>
                    <ul class="mem_flight" id="<%='mem_flight'+i%>">
                        <li><p><%=segmentsDetail[i].marketingFlightNumber%></p>
                            <% if(segmentsDetail[i].flightLegs[0].status){

                            if(segmentsDetail[i].flightLegs[0].status.description == "Delayed" || segmentsDetail[i].flightLegs[0].status.code == "DY"){%>
                            <span class="flight_status_alert"><%=getStatus(segmentsDetail[i].flightLegs[0].status.code)%></span>

                            <% }else if(segmentsDetail[i].flightLegs[0].status.description == "Cancelled" || segmentsDetail[i].flightLegs[0].status.code == "CX"){%>
                            <span class="flight_status_alert"><%=getStatus(segmentsDetail[i].flightLegs[0].status.code)%></span>
                            <%}else{%>
                            <span class="flight_status"><%=getStatus(segmentsDetail[i].flightLegs[0].status.code)%></span>
                            <%}%>
                            <%}%>
                        </li>
                        <li>
                            <ul>
                                <li><img class="operatorImg" src="./images/members2/<%=(segmentsDetail[i].marketingFlightNumber.substr(0,2))%>-Logo.png"></li>
                                <li><p><%=sky_operatedby%> <span><%=segmentsDetail[i].operatingAirlineName%></span></p></li>
                                <li><p><%if(hasValue(segmentsDetail[i].travelTime)){%><%=sky_duration%>: <%=segmentsDetail[i].travelTime %><%}%></p></li>
                                <li style="display: none;"><p><%=sky_terminal%> <span></span></p></li>
                                <li style="display: none;"><p>Bagage belt: <span></span></p></li>
                                <li><p><span></span></p></li>
                                <li style="display: block;"><p><%=sky_aircraft%>: <span><%=segmentsDetail[i].flightLegs[0].aircraftType%></span></p></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="last_arrow openairport" id="<%='arrival_zone_'+j%>">
                        <li><p><%=flightLegDetail[j].destination.airportCode%></p><span><%=flightLegDetail[j].ArrivalTime%></span><p class="next_Day"><%=nex_Indicator%></p></li>
                        <li><p><%=sky_arrival%></p><span><%=getAirportFullNameNew(flightLegDetail[j].destination.airportCode)%></span></li>
                        <li><img src="./images/arrow.png"></li>
                    </ul>
                </div><!-- end departure deta -->



                <!-- start stopover -->
                <% if(noTechStops>0 && (maxLegLength!== j+1)){%>
                <div class="stopover">
                    <ul class="stop">
                        <li>
                            <p><%=sky_connectiontime%>: <span><%=getTravelTime(segmentsDetail[i].stops[j].stopTime)%></span></p>
                        </li>
                    </ul>
                </div>
                <%}else if(noTechStops>0 && maxLegLength== j+1 && flightCount>i+1){%>
                <div class="stopover">
                    <ul class="stop">
                        <li>
                            <p><%=sky_connectiontime%>: <span><%=getTravelTime(details.transfers[i].transferTime)%></span></p>
                        </li>
                    </ul>
                </div>
                <%}
                }}}%>
            </div>
        </div>
    </div>
    <%if(typeof details.isInterline !== "undefined"){%>

    <%if(details.isInterline=="N"){%>

    <div class="saveflight_btn booking_class" data-bookingurl="<%=booking_URL%>" data-marketingcode="<%=(details.flights[0].marketingFlightNumber.substr(0,2))%>">

        <ul><li><button id="bookFligts" class="bookFlights-FD">



            <h3 class="bookon-FD"><%=initiate_bookon%></h3>





            <img class="<%=(details.flights[0].marketingFlightNumber.substr(0,2))%> bookon-img-FD" src="./images/members/<%=(details.flights[0].marketingFlightNumber.substr(0,2))%>-Logo.png"/>





        </button></li></ul>

    </div>

    <%}%>

    <%if(details.isInterline=="Y"){%>
    <p class="interline-disclaimerText"><span class="icon-information disclaimer-icon"></span> Please note that not all the flight itineraries listed above are purchasable on the websites of our members.</p>
    <%}%>

    <%} else {%>

    <div class="saveflight_btn booking_class" data-bookingurl="<%=booking_URL%>" data-marketingcode="<%=(details.flights[0].marketingFlightNumber.substr(0,2))%>">

        <ul><li><button id="bookFligts" class="bookFlights-FD">



            <h3 class="bookon-FD"><%=initiate_bookon%></h3>





            <img class="<%=(details.flights[0].marketingFlightNumber.substr(0,2))%> bookon-img-FD" src="./images/members/<%=(details.flights[0].marketingFlightNumber.substr(0,2))%>-Logo.png"/>





        </button></li></ul>

    </div>

    <%}%>

    <div class="saveflight_btn">
        <ul><li><button id="saveflightDetails" class="iconPlane searchButton">
            <img src="images/saved_flights.png"/><h3><%=sky_save_flight%></h3>
        </button></li></ul>
    </div>
</div>
