<div id="flightStatusScan">
    <div class ="scan_group">
        <p class="scan_label"><%=sky_flight_status_scan%> </p>
        <div class="flightstatus_btnalign">
            <button id="scanTicket" class="iconPlane searchButton">
                <img src="images/scann.png"/><h3><%=sky_boarding_pass%></h3>
            </button>
        </div>
        <p class="separtor">
            <span class="half_line"/>
            <span> <%=sky_or_flight_status%></span>
            <span class="half_line"/>
        </p>
    </div>

    <div class="flight_status">
        <div class="tabarea">
            <ul class="tabs group">
                <li id="flightNumber" class="onHover">
                    <a id="oneway"><%=sky_flight_number%></a>
                </li>
                <li id="airPorts" class="offHover">
                    <a id="roundTrip"><%=sky_airports%></a>
                </li>
            </ul>
        </div>

        <script>
        $('input[type="text"]').each(function() {
                                     var $this = $(this);
                                     $this.attr("placeholder", $this.attr("value")).removeAttr("value");
                                     });
        </script>
        <div class="airports_info">
            <ul>
                <li><div id="airlinesList"><p><%=sky_airline_select%></p><img src="images/down.png" class="flightstatus_arrowdown1"/></div></li>
                <li>
                    <div id="airlinesListValue"></div>

                    <input id="airport_flightNumber" type="tel"  placeholder="<%=sky_flight_number%>...." autocorrect="off" autocomplete="off"  style="width: 70.5% !important;"><img src="images/cross.png" class="cancel_flightNumber"><button class="cancel_flightNumber" style="border:none;"></button></input></li>

                <li class="airports" style="display:none;"><input type="text" class="Departure_text" id="sourceAirport" placeholder="<%=sky_departing%>..." autocorrect="off" autocomplete="off"><img src="images/cross.png" class="cancel_from"><img src="images/icon_search.png" class="search_from"><button class="cancel_from" style="border:none;"></button></input> </li>

                <li class="airports" style="display:none;"><input type="text" onfocus="if (this.value==this.defaultValue) this.value = ''"
                                                                  onblur="if (this.value=='') this.value = this.defaultValue" class="Departure_text" id="destinationAirport" value="<%=sky_arriving%>..." autocorrect="off" autocomplete="off"><img src="images/cross.png" class="cancel_to"><img src="images/icon_search.png" class="search_to"><button class="cancel_to" style="border:none;"></button></input></li>
                <li class="depDate"><%=sky_departure%></li>
                <li class="departureListLi"><p></p><img src="images/down.png" class="flightstatus_arrowdown"/></li>

            </ul>


            <div class="flightstatus_btnalign">
                <button id="searchStatus" class="iconPlane searchButton">
                    <img src="images/plane.png"/><h3><%=sky_find_flightstatus%></h3>
                </button></div>
        </div>
    </div>