<!-- Content starts from here -->

<div class="flightStatus_wrapper">
<div class="flightStatus_textmsg">
    <ul>


        <%if(res.schedules != "Network Error"){
        if(res.schedules.trips.length != undefined){

        var i= 0 ,originAirport, destinationAirport, localDepDate;

        if(res.schedules.trips[i].flights.length != undefined){

        originAirport = getAirportName(res.schedules.trips[i].flights[i].origin.airportCode);

        localDepDate = getDateInLocaleFormat(res.schedules.trips[i].flights[i].flightLegs[i].departureDetails.scheduledDate,true)


        if(res.schedules.trips[i].flights.length == 1){

        destinationAirport = getAirportName(res.schedules.trips[i].flights[i].destination.airportCode);

        }

        else if(res.schedules.trips[i].flights.length > 1){

        j = (res.schedules.trips[i].flights.length)-1;

        destinationAirport = getAirportName(res.schedules.trips[i].flights[j].destination.airportCode);

        }%>



        <li><h2 class="searchfirsth2"><%= originAirport%></h2></li>
        <li> <h2 class="searchfirsth2 right-arrow"></h2></li>

        <li><h2 class="searchfirsth2"><%= destinationAirport%></h2></li>
        <li><h2 class="searchfirsth2"><%=sky_departdate%>: <%= localDepDate%></h2></li>


        <%}}}%>

    </ul>


</div>
<div id="contentContainer">

<div class="flightStatusResultslist" >
<%if(res.schedules != "Network Error"){
if(res.schedules.trips.length != undefined){
for (var k=0,connectionLength=res.schedules.trips.length;k<connectionLength;k++){

var dep_date,arr_date,dep_time,arr_time,colorcode ,overallStatus,fno ,origin , destination ,transfers ,overallStatusCode;

if(res.schedules.trips[k].flights != undefined){
if(res.schedules.trips[k].flights.length != undefined){
if(res.schedules.trips[k].flights.length == 1){


if (localStorage.date == "YYYY") {
dep_date = (res.schedules.trips[k].flights[i].flightLegs[i].departureDetails.scheduledDate);

arr_date = (res.schedules.trips[k].flights[i].flightLegs[i].arrivalDetails.scheduledDate);
}
else if (localStorage.date == "MMM") {
dep_date = convertDateMMM(res.schedules.trips[k].flights[i].flightLegs[i].departureDetails.scheduledDate);
arr_date = convertDateMMM(res.schedules.trips[k].flights[i].flightLegs[i].arrivalDetails.scheduledDate);
}
else
{
dep_date = convertDate(res.schedules.trips[k].flights[i].flightLegs[i].departureDetails.scheduledDate);
arr_date = convertDate(res.schedules.trips[k].flights[i].flightLegs[i].arrivalDetails.scheduledDate);
}

if (localStorage.time == "12h") {

dep_time = timeConvertor(res.schedules.trips[k].flights[i].flightLegs[i].departureDetails.scheduledTime.split('+')[i].split(':')[i] + ":" +res.schedules.trips[i].flights[i].flightLegs[i].departureDetails.scheduledTime.split('+')[i].split(':')[1]);

arr_time = timeConvertor(res.schedules.trips[k].flights[i].flightLegs[i].arrivalDetails.scheduledTime.split('+')[i].split(':')[i] + ":" +res.schedules.trips[k].flights[i].flightLegs[i].arrivalDetails.scheduledTime.split('+')[i].split(':')[1]);

} else {

dep_time = res.schedules.trips[k].flights[i].flightLegs[i].departureDetails.scheduledTime.split('+')[i].split(':')[i] + ":" +res.schedules.trips[k].flights[i].flightLegs[i].departureDetails.scheduledTime.split('+')[i].split(':')[1];

arr_time = res.schedules.trips[k].flights[i].flightLegs[i].arrivalDetails.scheduledTime.split('+')[i].split(':')[i] + ":" +res.schedules.trips[k].flights[i].flightLegs[i].arrivalDetails.scheduledTime.split('+')[i].split(':')[1];

}

overallStatusCode = res.schedules.trips[k].overallStatus.description;
   statusCode = res.schedules.trips[k].overallStatus.code;

if (overallStatusCode == "Cancelled" || statusCode=="CX") {

colorcode= '#D7862F';

} else if (overallStatusCode == "Delayed" || statusCode=="DY") {

colorcode= '#D7862F';

} else {

colorcode= '#0B1761';

}


overallStatus = (res.schedules.trips[k].overallStatus.description.substring(0,2).trim(" ") == "No") ? "" : getStatus(res.schedules.trips[k].overallStatus.description);

transfers= res.schedules.trips[k].totalNoTransfers;

var flightCount = res.schedules.trips[k].flights.length;
var transferCount = res.schedules.trips[k].totalNoTransfers;
var totalStoppages = transferCount;
for (itr = 0; itr<flightCount; itr++){
    totalStoppages = totalStoppages + res.schedules.trips[k].flights[itr].totalTechnicalStops;
}

fno=res.schedules.trips[k].flights[i].marketingFlightNumber;

origin = res.schedules.trips[k].flights[i].origin.airportCode;

destination = res.schedules.trips[k].flights[i].destination.airportCode;

}

else if(res.schedules.trips[k].flights.length > 1){
j = (res.schedules.trips[k].flights.length)-1;

if (localStorage.date == "YYYY") {
dep_date = (res.schedules.trips[k].flights[i].flightLegs[i].departureDetails.scheduledDate);

arr_date = (res.schedules.trips[k].flights[j].flightLegs[i].arrivalDetails.scheduledDate);
}
else if (localStorage.date == "MMM") {
dep_date = convertDateMMM(res.schedules.trips[k].flights[i].flightLegs[i].departureDetails.scheduledDate);
arr_date = convertDateMMM(res.schedules.trips[k].flights[j].flightLegs[i].arrivalDetails.scheduledDate);
}
else
{
dep_date = convertDate(res.schedules.trips[k].flights[i].flightLegs[i].departureDetails.scheduledDate);
arr_date = convertDate(res.schedules.trips[k].flights[j].flightLegs[i].arrivalDetails.scheduledDate);
}



if (localStorage.time == "12h") {

dep_time = timeConvertor(res.schedules.trips[k].flights[i].flightLegs[i].departureDetails.scheduledTime.split('+')[i].split(':')[i] + ":" +res.schedules.trips[k].flights[i].flightLegs[i].departureDetails.scheduledTime.split('+')[i].split(':')[1]);

arr_time = timeConvertor(res.schedules.trips[k].flights[j].flightLegs[i].arrivalDetails.scheduledTime.split('+')[i].split(':')[i] + ":" +res.schedules.trips[k].flights[j].flightLegs[i].arrivalDetails.scheduledTime.split('+')[i].split(':')[1]);

} else {

dep_time = res.schedules.trips[k].flights[i].flightLegs[i].departureDetails.scheduledTime.split('+')[i].split(':')[i] + ":" +res.schedules.trips[k].flights[i].flightLegs[i].departureDetails.scheduledTime.split('+')[i].split(':')[1];


arr_time = res.schedules.trips[k].flights[j].flightLegs[i].arrivalDetails.scheduledTime.split('+')[i].split(':')[i] + ":" +res.schedules.trips[k].flights[j].flightLegs[i].arrivalDetails.scheduledTime.split('+')[i].split(':')[1];

}



overallStatusCode = res.schedules.trips[k].overallStatus.description;
statusCode = res.schedules.trips[k].overallStatus.code;

  console.log("overallStatusCode:"+overallStatusCode);


if (overallStatusCode == "Cancelled" || statusCode=="CX") {

colorcode= '#D7862F';

} else if (overallStatusCode == "Delayed" || statusCode=="DY") {

colorcode= '#D7862F';

} else {

colorcode= '#0B1761';

}


overallStatus = (res.schedules.trips[k].overallStatus.description.substring(0,2).trim(" ") == "No") ? "" : getStatus(res.schedules.trips[k].overallStatus.description);

transfers= res.schedules.trips[k].totalNoTransfers;


var flightCount = res.schedules.trips[k].flights.length;
var transferCount = res.schedules.trips[k].totalNoTransfers;
var totalStoppages = transferCount;
for (itr = 0; itr<flightCount; itr++){
    totalStoppages = totalStoppages + res.schedules.trips[k].flights[itr].totalTechnicalStops;
}


origin = res.schedules.trips[k].flights[i].origin.airportCode;

destination = res.schedules.trips[k].flights[j].destination.airportCode;


fno=res.schedules.trips[k].flights[i].marketingFlightNumber;


for(var h=0;h<j;h++)
{
fno=fno+"/"+res.schedules.trips[k].flights[h+1].marketingFlightNumber;

}
}%>



<li class="flightstatusResultsSublist">

    <div class="flightStatusResults" id="status_<%=k%>">

        <ul>
            <li style="color:<%= colorcode%> ">
                <p class="header5" ></p>
            </li>
        </ul>


        <ul>
            <li>
                <p class="header2"><%= origin%></p>
            </li>

            <li>
                <img src="./images/stops-<%= totalStoppages %>-icon.png"  />
                <p class="header5" style="color:<%= colorcode%> ">&#32;<%= overallStatusCode%></p>
            </li>

            <li>
                <p class="header2"><%= destination%></p>
            </li>
        </ul>

        <ul>
            <li>
                <p class="header5" style="font-size:12px;"><%= dep_date%></p>
            </li>
            <li>
                <p class="header5"><%= dep_time%></p>
            </li>
            <li>
                <p class="header5"><%= arr_time%></p>
            </li>
            <li>
                <p class="header5" style="font-size:12px;"><%= arr_date%></p>
            </li>
        </ul>
        <ul>
            <li>
                <p class="header5">&#32;<%= fno%></p>
            </li>
        </ul>


    </div>


</li>


<%
}                %>
<%
}}}}%>



</div>

</div>
<!-- Pop Up div-->
<div id="blackshade" >

</div>


