<div class="wrapper homepagetemplate" >
	<div class="swiper-container" style="background: #CCCCCC; direction:ltr;">
		<div class="swiper-wrapper">
			<div class="swiper-slide tips_content">
				<ul>
                    <li><p class="lounges"><%=sky_member_airlines_quantity%></p><span class="airport"><%=sky_greetings%></span></li>
				</ul>
			</div>
			<div class="swiper-slide tips_content2">
                <ul>
                    <li><p class="lounges"><%=sky_morethan%></p><span class="airport"><%=sky_destinations_quantity%></span></li>
				</ul>
			</div>
			<div class="swiper-slide tips_content1">
                <ul>
                    <li><p class="lounges"><%=sky_global_relaxation%></p><span class="airport"><%=sky_lounges_quantity%></span></li>
				</ul>
			</div>
		</div>
		<div class="pagination"></div>
	</div>
	
	<div class="savedFlights-container" id="savedFlightsMainContainer">
        <!--  <div id="savedFlights" class="swiper-wrapper">
         
         </div> -->
        <div id="savedFlightsLoader">
            <div class='uil-default-css' style='-webkit-transform:scale(0.23)'>
                <div style='top:75px;left:93px;width:14px;height:50px;background:#83458b;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:6px;position:absolute;'></div>
                <div style='top:75px;left:93px;width:14px;height:50px;background:#83458b;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:6px;position:absolute;'></div>
                <div style='top:75px;left:93px;width:14px;height:50px;background:#83458b;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:6px;position:absolute;'></div>
                <div style='top:75px;left:93px;width:14px;height:50px;background:#83458b;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:6px;position:absolute;'></div>
                <div style='top:75px;left:93px;width:14px;height:50px;background:#83458b;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:6px;position:absolute;'></div>
                <div style='top:75px;left:93px;width:14px;height:50px;background:#83458b;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:6px;position:absolute;'></div>
                <div style='top:75px;left:93px;width:14px;height:50px;background:#83458b;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:6px;position:absolute;'></div>
                <div style='top:75px;left:93px;width:14px;height:50px;background:#83458b;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:6px;position:absolute;'></div>
                <div style='top:75px;left:93px;width:14px;height:50px;background:#83458b;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:6px;position:absolute;'></div>
                <div style='top:75px;left:93px;width:14px;height:50px;background:#83458b;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:6px;position:absolute;'></div>
                <div style='top:75px;left:93px;width:14px;height:50px;background:#83458b;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:6px;position:absolute;'></div>
                <div style='top:75px;left:93px;width:14px;height:50px;background:#83458b;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:6px;position:absolute;'></div>
            </div>
        </div>
    </div>
	<!--<div class="main_buttons">
     <div class="holder">
     <button><img src="images/plane.png"/><h3><%=sky_flight_finder%></h3></button>
     <button id="airportSearch"><img src="images/Search_airport1.png"/><h3><%=sky_airport_finder%></h3></button>
     </div>
     </div> -->
    <div class="main_buttons">
        <div class="holder">
            <button id="allflights" style="text-align:center;background:#FFFFFF; color:#9F549D; box-shadow: none;width:100%;"><img id="iconFlight"  src="images/airport_members.png" style="align:center"/><h3><%=sky_flights%></h3><img id="back1" src="images/arrow.png"/></button>
            <div id="flightshide" class="hidden" style="background-color:EDEDED;" >
                <button id="flightfinder">
                    <h2><%=sky_flight_finder%></h2>
                </button>
                <button id="flightstatus">
                    <h2><%=sky_flight_status%></h2>
                </button>
			</div>
			<button id="airportSearch" style="background:#FFFFFF; color:#9F549D;box-shadow: none;width:100%"><img id="iconAirport"  src="images/airports45.png" style="align:center"/><h3><%=sky_airports%></h3><img id="back" style="" src="images/arrow.png"/></button>
        </div>
    </div>
</div>
<div class="proferedline-popup" style="top:10px !important;  height:85%; margin:10% auto auto auto;" id="members-popup">

    <div id="operators" style="height:85% !important;">
        <h2><%=sky_selectlanguage%></h2>
        <div class="scrollforflightsname" style="height:85% !important;">
        
            <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="lang-en" value="En" name="operatorsGroup"  />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-en">English</span></h6>
                   <label class="radiobutton">
                <input  type="radio" id="lang-fr" class="groupCheckbox"  value="Fr" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-fr">français</span></h6>

            <label class="radiobutton">
                <input  type="radio" id="lang-es" class="groupCheckbox"  value="Es" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-es">Español</span></h6>
                      <label class="radiobutton">
                           <input  type="radio" id="lang-pt" class="groupCheckbox"  value="Pt" name="operatorsGroup" />
                           <span></span>
                       </label>
                       <h6><span class="langText" for="lang-pt">Português</span></h6>

            <label class="radiobutton">
                <input  type="radio" id="lang-it" class="groupCheckbox"  value="It" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-it">italiano</span></h6>
            <label class="radiobutton">
                <input  type="radio" id="lang-ko" class="groupCheckbox"  value="Ko" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-ko">한국어</span></h6>
            <label class="radiobutton">
                <input  type="radio" id="lang-zh" class="groupCheckbox"  value="zh" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-zh">简体中文</span></h6>
                 <label class="radiobutton">
                          <input  type="radio" id="lang-zh-hant" class="groupCheckbox"  value="zh-Hant" name="operatorsGroup" />
                          <span></span>
                      </label>
                      <h6><span class="langText" for="lang-zh-hant">中文(繁體)</span></h6>

            <label class="radiobutton">
                <input  type="radio" id="lang-ja" class="groupCheckbox"  value="Ja" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-ja">日本語</span></h6>
            <label class="radiobutton">
                <input  type="radio" id="lang-ru" class="groupCheckbox"  value="Ru" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-ru">русский</span></h6>
            <label class="radiobutton">
                <input  type="radio" id="lang-vi" class="groupCheckbox"  value="Vi" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-vi">Tiếng Việt</span></h6>
                <label class="radiobutton">
                          <input  type="radio" id="lang-de" class="groupCheckbox"  value="De" name="operatorsGroup" />
                          <span></span>
                      </label>
                      <h6><span class="langText" for="lang-de">Deutsch</span></h6>

        </div>

    </div>

    <button id="operator-ok" class="members-ok"  ><%=sky_ok%></button>
	
</div>
<div id="blackshade" >
        
</div>


