<div class="loungeFinder longuesResutls" >
	<!--input id="airport_name" readonly="readonly"/-->
	<p class="searchResultNumber">
		
	</p>
	<p class="airportss">
	
	</p>

        <div class="loungeScroll">
	<div class="loungeDetails">
	
	</div> 
	<div class="notes">
		<p><%=sky_lounge_policy%><span class="readmore"> <%=sky_instructions%></span></p>


	</div>
  <div>
</div>
</div>
</div>
