<div class="loungesPolicy">
    <div class="policyContent">
        <ul>
            <li><p><%=sky_lounge_facility%></p></li>
            <li><p><%=sky_eliteplus%></p></li>
            <li><p><%=sky_lounge_guest%> </p></li>
            <li><p><%=sky_lounge_access%> </p></li>
            <li><p><%=sky_lounge_duration%> </p></li>
        </ul>
    </div>
</div>