<div class="loungeFinder longuesResutls"><!--** --->

    <div class="lounge_info">
        <ul>
            <li>
                <% if( Count === "1" ) {%>
                    <p class="searchResultNumber"><%=sky_loungeone%></p>
                <%}
                else  {%>
                     <p class="searchResultNumber"> <%=Count%>&nbsp;<%=sky_lounge%></p>
                <%}%>
            </li>
            <li>
                <p class="airportss"><%=getAirportFullName(sessionStorage.airportCode)%>&nbsp;(<%=sessionStorage.airportCode %>)</p>
            </li>
        </ul>
    </div>

    <div class="loungeScroll">
        <div class="loungeDetails"><!-- lounge details start -->
            <% _.each(LoungeData,function(loungeDetail){%>
            <div class="loungeDetail">
                <p class="loungeName"><%=loungeDetail.LoungeName%></p>
                <%if((typeof loungeDetail.OperatingAirline!="undefined") && (loungeDetail.OperatingAirline!="")) {%>
<p class="operatedBy"><%=sky_lounge_Operated_by%> </p><p id="OperatedBy-<%=loungeDetail.OperatingAirline%>"></p>
                <%}%>
                <%if((typeof loungeDetail.LoungeLocation!="undefined") && (loungeDetail.LoungeLocation!="")){%>
                <p class="loungeLocation"><%=sky_lounge_Location%> <span class="loungeLocation1"><%=loungeDetail.LoungeLocation%></span></p>
                <%}%>
                <%if((typeof loungeDetail.HoursOfOperation!="undefined")&&(loungeDetail.OperationHours!="-") && (loungeDetail.HoursOfOperation!="")){%>
                <p class="timeDetails"><%=sky_lounge_Opening_hours%> <span class="timeDetails1"><%=loungeDetail.HoursOfOperation%></span>
                </p>
                <%}%>
                <hr>
                <p class="timeDetails"><%=sky_lounge_Amenities%></p>


                <ul>
                    <%if((typeof loungeDetail.SilentArea!="undefined") && (loungeDetail.SilentArea!="")){%>
                    <li> <span class="icon-quite-area"  title="QuietRelaxArea"></span>
                        <p class="fec_text"><%=loungeDetail.SilentArea%></p>
                    </li>
                    <%}%>



                    <%if((typeof loungeDetail.BusinessCenter!="undefined") && (loungeDetail.BusinessCenter!="")){%>
                    <li> <span class="icon-business-center"  title="BusinessCenter"></span>
                        <p class="fec_text"><%=loungeDetail.BusinessCenter%></>
                    </li>
                    <%}%>



                    <%if((typeof loungeDetail.MeetingAndConferenceRoom!="undefined") && (loungeDetail.MeetingAndConferenceRoom!="")){%>
                    <li> <span class="icon-conference-rooms"  title="MeetingConferenceRooms"></span>
                        <p class="fec_text"><%=loungeDetail.MeetingAndConferenceRoom%></p>
                    </li>
                    <%}%>



                    <%if((typeof loungeDetail.SmokingRoom!="undefined") && (loungeDetail.SmokingRoom!="")){%>
                    <li> <span class="icon-smoking-room"  title="SmokingRoom"></span>
                        <p class="fec_text"><%=loungeDetail.SmokingRoom%></p>
                    </li>
                    <%}%>



                    <%if((typeof loungeDetail.KidsRoom!="undefined") && (loungeDetail.KidsRoom!="")){%>
                    <li> <span class="icon-kids-room"  title="KidsRoom"></span>
                        <p class="fec_text"><%=loungeDetail.KidsRoom%></p>
                    </li>
                    <%}%>



                    <%if((typeof loungeDetail.Shower!="undefined") && (loungeDetail.Shower!="")){%>
                    <li> <span class="icon-shower"  title="Shower"> </span>
                        <p class="fec_text"><%=loungeDetail.Shower%></p>
                    </li>
                    <%}%>



                    <%if((typeof loungeDetail.Meal!="undefined") && (loungeDetail.Meal!="")){%>
                    <li> <span class="icon-quick-meal"  title="MealLikeDishes"></span>
                        <p class="fec_text"><%=loungeDetail.Meal%></p>
                    </li>
                    <%}%>



                    <%

                    if((typeof loungeDetail.ActionStation!="undefined") && (loungeDetail.ActionStation!="")){

                    %>
                    <li> <span class="icon-action-station"  title="ActionStation"></span>
                        <p class="fec_text"><%=loungeDetail.ActionStation%></p>
                    </li>
                    <%}%>



                    <%if((typeof loungeDetail.Appetizers!="undefined") && (loungeDetail.Appetizers!="")){%>
                    <li> <span  class="icon-appetizers"  title="Appetizers"></span>
                        <p class="fec_text"><%=loungeDetail.Appetizers%></p>
                    </li>
                    <%}%>



                    <%if((typeof loungeDetail.Snacks!="undefined") && (loungeDetail.Snacks!="")){%>
                    <li> <span class="icon-snacks"  title="Snacks"></span>
                        <p class="fec_text"><%=loungeDetail.Snacks%></p>
                    </li>
                    <%}%>



                    <%if((typeof loungeDetail.Wine!="undefined") && (loungeDetail.Wine!="")){%>
                    <li> <span class="icon-beer-wine"  title="BeerWine"></span>
                        <p class="fec_text"><%=loungeDetail.Wine%></p>
                    </li>
                    <%}%>



                    <%if((typeof loungeDetail.Spirits!="undefined") && (loungeDetail.Spirits!="")){%>
                    <li>
                        <span  class="icon-alcoholic-drinks"  title="Spirits"></span>
                        <p class="fec_text"><%=loungeDetail.Spirits%></p>
                    </li>
                    <%}%>



                    <%if((typeof loungeDetail.SoftDrink!="undefined") && (loungeDetail.SoftDrink!="")){%>
                    <li> <span class="icon-soft-drinks"  title="SoftDrinks"></span>
                        <p class="fec_text"><%=loungeDetail.SoftDrink%></p>
                    </li>
                    <%}%>



                    <%if((typeof loungeDetail.AccessTodisabled!="undefined") && (loungeDetail.AccessTodisabled!="")){%>
                    <li> <span class="icon-wheelchair"  title="AccessToDisabled"></span>
                        <p class="fec_text"><%=loungeDetail.AccessTodisabled%></p>
                    </li>
                    <%}%>



                    <%if((typeof loungeDetail.CustomerService!="undefined") && (loungeDetail.CustomerService!="")){%>
                    <li> <span class="icon-customer-services"  title="CustomerService"></span>
                        <p class="fec_text"><%=loungeDetail.CustomerService%></p>
                    </li>
                    <%}%>



                    <%if((typeof loungeDetail.BoardingAnnoncements!="undefined") && (loungeDetail.BoardingAnnoncements!="")){%>
                    <li> <span class="icon-announcements"  title="BoardingAnnouncements"></span>
                        <p class="fec_text"><%=loungeDetail.BoardingAnnoncements%></p>
                    </li>
                    <%}%>



                    <%if((typeof loungeDetail.FlightMonitor!="undefined") && (loungeDetail.FlightMonitor!="")){%>
                    <li> <span class="icon-flightmonitor"  title="FlightMonitor"></span>
                        <p class="fec_text"><%=loungeDetail.FlightMonitor%></p>
                    </li>
                    <%}%>

                    <%if((typeof loungeDetail.Tv!="undefined") && (loungeDetail.Tv!="")){%>
                    <li> <span class="icon-tv-room"  title="TV"></span>
                        <p class="fec_text"><%=loungeDetail.Tv%></p>
                    </li>
                    <%}%>



                    <%if((typeof loungeDetail.FreeWiFi!="undefined") && (loungeDetail.FreeWiFi!="")){%>
                    <li> <span  class="icon-free-wifi"  title="FreeWifi"></span>
                        <p class="fec_text"><%=loungeDetail.FreeWiFi%></p>
                    </li>
                    <%}%>



                    <%if((typeof loungeDetail.MagazinesAndNewspapers!="undefined") && (loungeDetail.MagazinesAndNewspapers!="")){%>
                    <li> <span class="icon-newspaper-magazines"  title="MagazinesNewspaper"></span>
                        <p class="fec_text"><%=loungeDetail.MagazinesAndNewspapers%></p>
                    </li>
                    <%}%>


                    <%if((typeof loungeDetail.FixedInternetAcces!="undefined") && (loungeDetail.FixedInternetAcces!="")){%>
                    <li> <span class="icon-ethernet"  title="InternetTerminals"></span>
                        <p class="fec_text"><%=loungeDetail.FixedInternetAcces%></p>
                    </li>
                    <%}%>

                </ul>
                <%if(loungeDetail.AirlineCode!=""){%>

                <hr>

                <p class="timeDetails"><%=sky_lounge_Member_Airlines%></p>

                <div class="access-airlines">
<ul>
                    <%_.each((loungeDetail.AirlineCode).split('*'),function(airlinesList){%>


<li>
                    <img class="<%=airlinesList%>" src="./images/members2/<%=airlinesList%>-Logo.png"/>
</li>
                    <%});%>

</ul>
                </div>
                <%}%>
            </div>
            
            <%});%>
            
        </div> <!--lounge details end -->
        
        <div class="notes">
            <p><%=sky_lounge_policy%><span class="readmore"> <%=sky_instructions%></span></p>
        </div>
        <div>
        </div>
    </div>
    
    
</div><!--** --->