<div class="menu_lounges">
    <div class="loungeFinder" >
	<input id="airport_name" type="text" class="Departure_text" autocorrect="off" autocomplete="off" placeholder="<%=sky_airport_select%>"><img src="images/icon_search.png" class="lounge_searchImg"><img src="images/cross.png" class="cancel_Lounges"></input>
	<p class="searchResultNumber">
    
	</p>
	<p class="airportss">
	
	</p>
    
    <div class="loungeScroll" >
        <div class="loungeDetails">
            
        </div>
        <div class="notes">
            
            <p><%=sky_lounge_policy%> <span class="readmore"> <%=sky_instructions%></span></p>
            
        </div>
        <div>
        </div>
        
    </div>
    
</div>
<div class="loungeSearch" >
    <button id="searchLounges" class="iconPlane searchButton" style="display:block;"><h3><%=sky_find_lounge%></h3></button>
</div>
</div>

<div class="popUpShade">
</div>
<div class="notePopup">
    <p>
    %<=sky_note%>
    </p>
    <button id="note-ok"><%=sky_ok%></button>
</div>

