
<div class="spfinder">
        <div class="sp_banner">
            <!-- <img class="priority_img" src="images/new_images/sky_priority_banner.png">-->
            <div class="lounge_banner-img"></div>
        </div>
        <div class="airports_info">
            <ul class="spfinder_search">
               <li class="menu_skypriority_li" id="skypriorityPage" >
				<input id="airport_text" type="text"  autocorrect="off" autocomplete="off" placeholder="<%=sky_airport_select%>...">
							<img src="images/icon_search.png" class="search_skytips">
							<img src="images/cross.png" class="cancel_Skytips">
							<button class="cancel_Skytips" style="border:none; background:none;"></button>
				</input>
			   </li> 
               <li class="notes">
               <% if(localStorage.language != "En"){ %>
               		<p style="font-family: 'HNM';"><%=sky_lounge_only_english %></p>
               <% } %>
				<p style="font-family: 'HNM';"><%=sky_lounge_policy%><span class="readmore"> <%=sky_instructions%></span></p>
			   </li>
			</ul>
        </div>
         <div>
           <button id="searchLounges" class="iconPlane searchButton" style="display:block;"><img src="images/LoungeBtnIcon.png"/><h3><%=sky_find_lounge%></h3>
           </button>
       </div>
</div>