<div class="member_info">
    <div class="member_name">
        <ul>
            <li></li>
            <li><div class="logoDetails"><p><%=Member_Name %></p>
                <span><%= Member_Name_1 %></span></div></li>
        </ul>
    </div>
    <div class="mem_website">
        <ul><li class="white_button"><p>
        </p></li></ul>
    </div>
    <div class="mem_details">
        <ul style="list-style:none;">
            <li><img src="images/facts/destinations.png"/><p><%=sky_destinations%></p><p class="statistics"><%= Destinations %></p></li>
            <li><img src="images/facts/daily_departures.png"/><p><%=sky_daily_departure%></p><p class="statistics"><%= Daily_Departures %></p></li>

            <li><img src="images/facts/operating_revenue.png"/><p><%=sky_revenue%></p><p class="statistics"><%= Operating_Revenue %></p></li>
            <!--<li><img src="images/facts/year_of_formation.png"/><p><%=sky_year%></p><p class="statistics"><%= Year_of_Formation %></p></li>-->

            <li><img src="images/facts/countries.png"/><p><%=sky_countries%></p><p class="statistics"><%= Countries %></p></li>
            <li><img src="images/facts/annual_passangers.png"/><p><%=sky_annual_passengers%></p><p class="statistics"><%= Annual_Passengers %></p></li>
            <!--<li><img src="images/facts/headquarters.png"/><p><%=sky_headquaters%></p><p class="statistics"><%= Headquarters %></p></li>-->
            <!--<li><img src="images/facts/joining_date.png"/><p><%=sky_joindate%></p><p class="statistics"><%= Joining_Date %></p></li>-->
            <li><img src="images/facts/fleet.png"/><p><%=sky_fleet%></p><p class="statistics"><%= Fleet %></p></li>
            <!--<li><img src="images/facts/frequent_flyer_members.png"/><p><%=sky_FFM%></p><p class="statistics"><%= Frequent_Flyer_Members %></p></li>-->
            <li><img src="images/facts/lounges.png"/><p><%=sky_lounge%></p><p class="statistics"><%= Lounges %></p></li>
            <!--<li><img src="images/facts/employees.png"/><p><%=sky_employees%></p><p class="statistics"><%= Employees %></p></li>-->
            <!--<li><img src="images/facts/hubs.png"/><p><%=sky_hubs%></p><p><%= Hubs %></p></li>-->
            <li><img src="images/facts/frequent_flyer_program.png"/><p><%=sky_FFP%></p><p class="statistics"><%= Frequent_Flyer_Program %></p></li>
            <li><img src="images/facts/website.png"/><p><%=sky_ws%></p><p class="statistics"><%= Website %></p></li>
            <!--<li><img src="images/facts/director_general_CEO.png"/><p></p><p class="statistics"><%= Director_General %></p></li>-->
        </ul>
    </div>
    <div class="mem_info">
        <ul><li><p><%= About_Airline %></p>
            <span>
			<%= Description %>
            </span> </li></ul>
    </div>
</div>