<div id="nav" >
	<ul>
        <li><h3><%=sky_menu%></h3></li>
		<li id="home">
			<a ><img src="./images/new_menu_icons/home_menu.fw.png" /><label><%=sky_home%></label></a>
		</li>
		<li id="flightSearch">
			<a><img src="./images/new_menu_icons/flightsearch_menu.fw.png" /><label><%=sky_flight_finder%></label></a>
		</li>
		<li id="flightStatus">
			<a ><img src="./images/new_menu_icons/new_flightStatus_icon.png"/><label><%=sky_flight_status%></label></a>
		</li>
		<li id="airportsSearch">
			<a ><img src="./images/new_menu_icons/airports.fw.png" /><label><%=sky_airport_finder%></label></a>
		</li>
		<li id="loungeFinderMenu">
			<a ><img src="./images/new_menu_icons/longue_finder.fw.png"/><label><%=sky_lounge_finder%></label></a>
		</li>
		<li id="skyPriority">
			<a ><img src="./images/new_menu_icons/skypriority_icon.png"/><label><%=sky_priority%></label></a>
		</li>
		<li id="skyTips" style="display:none">
			<a ><img src="./images/new_menu_icons/skytips.fw.png"/><label><%=sky_tips%></label></a>
		</li>
        <li id="yogaVideo" style="display:none">
            <a ><img src="./images/new_menu_icons/yoga.png"/><label><%=sky_entertainments%></label></a>
        </li>
		<li id="aboutSkyteam">
			<a ><img src="./images/new_menu_icons/p_about.png"/><label><%=sky_about%></label></a>
		</li>
		<li id="settingsPage">
			<a ><img src="./images/new_menu_icons/settings.fw.png"/><label><%=sky_settings%></label></a>
		</li>
	</ul>
</div>

