<div class="moreOptDiv">
    <div class="moreOptionsDetails">
        <div id="stopsDiv">
            <p><%=sky_stop_number%></p>
            <!--filter changes -->
            <!--<img id="closeBtnFilter" src="./images/closeDark2x.png">-->
            <!--filter changes -->
            <div id="slider"></div>
            <p>|</p>
            <p>|</p>
            <p>|</p>
            <p>|</p>
            <div id="labels">
                <p><%=sky_nostop%></p>
                <p><%=sky_onestop%></p>
                <p><%=sky_twostop%></p>
                <p><%=sky_morestop%></p>
            </div>
        </div>
        <div id="timeRangeDiv">
            <div class="silder2">
                <p class="options_time"><%=sky_time%></p>
                <span id="time"></span>
                <span id="time1"></span>
                <div id="slider2" ></div>
                <p>|</p>
                <p>|</p>
                <p>|</p>
                <div id="labels1">
                    <p>00:00</p>
                    <p>12:00</p>
                    <p>24:00</p>
                </div>
            </div>
        </div>
        <button id="dropdown"><%=sky_preferance%></button>
        <img src="images/down.png" class="filter_arrow">

        <label class="myCheckbox">
            <input type="checkbox"  id="schedule" name="test"/>
            <span></span>
        </label>
        <h6><span class="scheduleChkBox" for="schedule"><%=sky_schedule%></span></h6>
<div class="interlineclass" style="display:block">
        <label class="myCheckbox">
            <input type="checkbox"  id="interline" name="inter"/>
            <span></span>
        </label>
        <h6><span class="interlineChkBox" for="interline"><%=sky_interlineFilter%></span></h6>
</div>
        <button id="moreOptions-cancel"><%=sky_cancel%></button>
        <button id="moreOptions-ok"><%=sky_apply%></button>
    </div>
    <div class="proferedline-popup" id="moreOptionsPopup">
        <h2><%=sky_operators%></h2>
        <div id="operators">
            <label class="myCheckbox">
                <input  type="checkbox" id="select" checked="checked"/>
                <span></span>
            </label>
            <h6><span class="airlineName" for="select"><%=sky_all%></span></h6>
            <hr/>
            <div class="scrollforoperators filteroperators">
                <label class="myCheckbox">
                    <input type="checkbox" class="groupCheckbox" name="operatorsGroup" id="checkone" value="SU"/>
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checkone"><%=sky_SU%></span></h6>
                <label class="myCheckbox">
                    <input  type="checkbox"name="operatorsGroup" class="groupCheckbox" id="checktwo" value="AR"/>
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checktwo"><%=sky_AR%></span></h6>
                <label class="myCheckbox">
                    <input  type="checkbox"name="operatorsGroup" class="groupCheckbox" id="checkthree" value="AM"/>
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checkthree"><%=sky_AM%></span></h6>
                <label class="myCheckbox">
                    <input name="operatorsGroup" type="checkbox" class="groupCheckbox" id="checkfour" value="UX" />
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checkfour"><%=sky_UX%></span></h6>
                <label class="myCheckbox">
                    <input  type="checkbox"name="operatorsGroup" class="groupCheckbox" id="checkfive" value="AF"/>
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checkfive"><%=sky_AF%></span></h6>
                <label class="myCheckbox">
                    <input  type="checkbox"name="operatorsGroup" class="groupCheckbox" id="checktsix" value="AZ"/>
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checktsix"><%=sky_AZ%></span></h6>
                <label class="myCheckbox">
                    <input  type="checkbox"name="operatorsGroup" class="groupCheckbox" id="checkseven" value="CI"/>
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checkseven"><%=sky_CI%></span></h6>
                <label class="myCheckbox">
                    <input  type="checkbox"name="operatorsGroup" class="groupCheckbox" id="checkeight" value="MU"/>
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checkeight"><%=sky_MU%></span></h6>
                <label class="myCheckbox">
                    <input name="operatorsGroup" type="checkbox" class="groupCheckbox" id="checknine" value="CZ" />
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checknine"><%=sky_CZ%></span></h6>
                <label class="myCheckbox">
                    <input name="operatorsGroup" type="checkbox" class="groupCheckbox" id="checkten" value="OK" />
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checkten"><%=sky_OK%></span></h6>
                <label class="myCheckbox">
                    <input name="operatorsGroup" type="checkbox" class="groupCheckbox" id="checkeleven" value="DL" />
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checkeleven"><%=sky_DL%></span></h6>
                <label class="myCheckbox">
                    <input name="operatorsGroup" type="checkbox" class="groupCheckbox" id="checktwelve" value="GA" />
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checktwelve"><%=sky_GA%></span></h6>
                <label class="myCheckbox">
                    <input name="operatorsGroup" type="checkbox" class="groupCheckbox" id="checkthirteen" value="KQ" />
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checkthirteen"><%=sky_KQ%></span></h6>
                <label class="myCheckbox">
                    <input name="operatorsGroup" type="checkbox" class="groupCheckbox" id="checkfourteen" value="KL"/>
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checkfourteen"><%=sky_KL%></span></h6>
                <label class="myCheckbox">
                    <input name="operatorsGroup" type="checkbox" class="groupCheckbox" id="checkfifteen" value="KE"/>
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checkfifteen"><%=sky_KE%></span></h6>
                <label class="myCheckbox">
                    <input name="operatorsGroup" type="checkbox" class="groupCheckbox" id="checksixteen" value="ME" />
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checksixteen"><%=sky_ME%></span></h6>
                <label class="myCheckbox">
                    <input name="operatorsGroup" type="checkbox" class="groupCheckbox" id="checkseventeen" value="SV"/>
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checkseventeen"><%=sky_SV%></span></h6>
                <label class="myCheckbox">
                    <input name="operatorsGroup" type="checkbox" class="groupCheckbox" id="checkeighteen" value="RO" />
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checkeighteen"><%=sky_RO%></span></h6>
                <label class="myCheckbox">
                    <input name="operatorsGroup" type="checkbox" class="groupCheckbox" id="checknineteen" value="VN" />
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checknineteen"><%=sky_VN%></span></h6>
                <label class="myCheckbox">
                    <input name="operatorsGroup" type="checkbox" class="groupCheckbox" id="checktwenty" value="MF" />
                    <span></span>
                </label>
                <h6><span class="airlineName" for="checktwenty"><%=sky_MF%></span></h6>
            </div>
        </div>
        <button id="moreOptions-airlineok" ><%=sky_ok%></button>
    </div>
    <div id="blackshade" >
    </div>
</div>