<div class="privacyPolicyDiv">
    <p>
    <%=sky_datacontroller%> 
    </p>
    <h3>
     <%=sky_data%>
    </h3>
    <p>
   <%=sky_datacollection%>
    </p>
    <p>
         <%=sky_personaldata%>
    </p>
    <h3>
             <%= sky_datacollection_purpose%>
    </h3>
    <p>
         <%=sky_datacollection_use%> 
    </p>
    <p>
       <%=sky_assurance%> 
    </p>
    <h3>
              <%= sky_protect%>
    </h3>
    <p>
        <%=sky_security%> 
    </p>
    <h3>
                  <%=sky_exercise%>
    </h3>
    <p>
				<%=sky_register%> 
    </p>
    <h3>
         <%=sky_cookies%>
    </h3>
    <p>
         <%=sky_cookie_policy%> 
    </p>
    <h3>
              <%=sky_link_website%> 
        </h3>
    <p>
       <%=sky_links%>
 
    </p>
    <ul>
        <li><h3><%=sky_contact%></h3></li>
        <li><%=sky_airline_management%></li>
        <li><%=sky_bouleavard%></li>
        <li><%=sky_floor%></li>
        <li><%=sky_schiphol%></li>
        <li><%=sky_netherlands%></li>
        <li><%=sky_email%></li>
        <li><%=sky_currentversion%></li>
    </ul>
</div>