<div class="searchresults_wrapper">
    <div class="searchresults_text">

        <ul>
            <%

            if(currentTravel === "Onward"){%>

            <li><h1> <%=sky_diff_departflight%>(<span id="flightCount"><%=departureFlights.Count%></span>) </h1></li>
            <li><h2 class="searchfirsth2" style="display:none"><%=src_AirportName%></h2></li>
            <li> <h2 class="right-arrow" style="display:none"></h2></li>
            <li> <h2 class="searchfirsth2" style="display:none"><%=dest_AirportName%></h2></li>
            <li><h2 class="searchfirsth2 departDate"><%=sky_departdate%>:</h2><h2 class="searchfirsth2"> <%=departureDate%></h2></li>
            <%}else{%>
            <li><h1> <%=sky_returnflight%>(<span id="flightCount"><%=returnFlights.Count%></span>)</h1></li>
            <li><h2 class="searchfirsth2" style="display:none"><%=dest_AirportName%></h2></li>
            <li> <h2 class="right-arrow" style="display:none"></h2></li>
            <li> <h2 class="searchfirsth2" style="display:none"><%= src_AirportName%></h2></li>
            <li><h2 class="searchfirsth2"><%=sky_arrivaldate%>: <%=arrivalDate%></h2></li>
            <%}%>
        </ul>
    </div>
    <div id="tabContainer" class="searchresultstabs">
        <div class="tab onHover" id="durationTab"><%=sky_duration%></div>
        <div class="tab offHover" id="departureTab"><%=sky_dep_time%></div>
        <div class="tab offHover" id="arrivalTab"><%=sky_arr_time%></div>
    </div>
    <div id="contentContainer">
        <h2 id="oneWayFilter"><%=sky_filter%></h2>
        <div class="searchresultslist"><!-- start of flight list container-->

        </div><!-- end of flight list container-->

    </div><!-- end of contentContainer-->
</div><!-- end of wrapper-->
<%if("roundtrip" === journeyType){
%>
<div class="search_btn positionAbsolute">
    <%if("Return" === currentTravel){

    var total = departureFlights.Count;
    /******* interline */

    if(sessionStorage.isinterline == "yes"){
    total = interlineDepCount;
    }
    /******* interline */


    if(sessionStorage.show7DaysDeparture === "yes" || departureFlights.trips.length === "0"){
    total = Onward.Count;

    }%>
    <button id="outboundFlightsBtn" style="display: block;"><%=sky_departflight%>(<%=total%>)</button>

    <%}else{

    var totalR = returnFlights.Count;

    /******* interline */

    if(sessionStorage.isinterline == "yes"){
    totalR = interlineRetCount;
    }
    /******* interline */

    <!--if(sessionStorage.show7DaysArrival === "yes" || returnFlights.trips.length === "0"){-->
    <!--total = Return.Count;-->

    <!--}-->

    %>
    <button id="returnFlightsBtn" style="display: block;"><%=sky_returnflight%>(<%=totalR%>)</button>
    <%}%>
</div>
<%}%>