<div class="tripDetails" id="searchflights">
    <div class="tabarea">
        <ul class="tabs group">
            <li id="roundtrip" class="onHover">
                <a><%=sky_round_trip%></a>
            </li>
            <li id="oneway" class="offHover">
                <a><%=sky_one_way%></a>
            </li>
        </ul>

        <script>
            $('input[type="text"]').each(function() {
                                         var $this = $(this);
                                         $this.attr("placeholder", $this.attr("value")).removeAttr("value");
                                         });
            </script>

        <div class="flightcontent">
            <input type="text" placeholder=" <%=sky_departing%>..." class="Departure_text" id="source" autocorrect="off" autocomplete="off"><img src="images/icon_search.png" class="search_icon" id="search_icon_source"><img src="images/cross.png" class="cancel_Source"><button class="cancel_Source" style="border:none;"></button></input>

            <input type="text"  id="destination" class="Departure_text" autocorrect="off" autocomplete="off" placeholder=" <%=sky_arriving%>..."><img src="images/icon_search.png" class="search_icon" id="search_icon_dest"><img src="images/cross.png" class="cancel_Destination"><button class="cancel_Destination" style="border:none;"></button></input>

            <div class="datecalender departure">
                <button>
                    <li><img src="images/date.png" class="date_icon"></li>
                    <li>
                        <%=sky_departure%>:
                    </li>
                    <li id="departure"> </li>
                </button>
            </div>
            <div class="datecalender arrival">
                <button >
                    <li>  <img src="images/date.png" class="date_icon"></li>
                    <li>
                        <%=sky_return%>:
                    </li>
                    <li id="arrival"> </li>
                </button>
            </div>


            <button id="searchFlights" class="iconPlane searchButton">
                <img src="images/Btn_purple_flights.fw.png"/><h3><%=sky_find_flights%></h3>
            </button>

        </div>
    </div>
</div>
<div id="blackshade" >
</div>
<script type="text/template" id="singlePageTemp">
    <p> Success </p>
</script>
