<div class="airports_main">
    <div class="search_airport">

        <ul><li><input style="float:left;"type="text" id="airport_text" placeholder='<%=  check.Destination %>' autocorrect="off" autocomplete="off">
        <img src="images/icon_search.png" class="search_icon1" style="width:20px !important;height:18px !important;zoom:0; border:1px solid #fff;"><img class="cross_image" style="width:20px !important;height:18px !important;zoom:0; border:1px solid #fff;" src="images/cross.png"> </input></li>
            
        </ul>
    </div>
   <div class="maps_google">
              <div class="map_area_canvas" id="map_canvas" >
       </div>
       <div class="list_maps">
        
        
       </div>
    </div>
    <div class="tabarea">
        <ul class="tabs group">
        
            <li id="airport_maps" class="onHover">
                <a id="airport_map_view"><%= check.Map %></a>
            </li>
            <li id="airport_list" class="offHover">
                <a id="airprt_list_view"><%= check.List %></a>
            </li>
        </ul>
    </div>
</div>
