<div class="searchresults_wrapper">
	<div class="searchresults_text">
		<ul>
			<li><h1></h1></li>
			<li>
			<h2 class="searchfirsth2"></h2></li>
            <li> <h2 class="searchfirsth2"><%=sky_to%></h2></li>
            <li> <h2 class="searchfirsth2"></h2></li>
			<li><h2 class="searchfirsth2"></h2></li>
			</ul>
	</div>
	<div id="tabContainer" class='searchresultstabs'>
    <div class='tab onHover' id="durationTab"><%=sky_duration%></div>
    <div class='tab offHover' id="departureTab"><%=sky_dep_time%></div>
    <div class='tab offHover' id="arrivalTab"><%=sky_arr_time%></div>
</div>
<div id="contentContainer">
    <h2 id="oneWayFilter"><%=sky_filter%></h2>
<div class="searchresultslist"></div>
	
</div>
</div>
<div class="search_btn">
        <button id="returnFlightsBtn" style="display: none;"><%=sky_returnflight%></button>
        <button id="outboundFlightsBtn" style="display: none;"><%=sky_diff_departflight%></button>
    </div>
