<li class="searchrersultssublist">



    <div class="savedFlightsResults" id="<%=segmentIdentifier%>">
        <div class="ini-Book-FirstBlock">

        <ul>
            <li style="display:none"><p class="header5" style="font-size:12px;"><%=flights[0].DepartureDateInLocale%></p></li>
            <li class="returnTime-ini"><p class="header5"><%=flights[0].flightLegs[0].departureDetails.scheduledTime%></p></li>
            <li class="returnTime-ini-hyp"><p class="header5">-</p> </li>
            <li class="returnTime-ini"><p class="header5"><%=flights[totalNoTransfers].flightLegs[flights[totalNoTransfers].flightLegs.length-1].arrivalDetails.scheduledTime%></p></li>
            <!--<li style="display:none"><p class="header5" style="font-size:12px;"> <%=flights[totalNoTransfers].ArrivalDateInLocale%></p></li>-->
            <li class="returnTime-ini hours-top"><p class="header5 duration"><%=totalDuration.replace('H','h ').replace('M','min')%></p></li>
        </ul>
            <ul >
                <%
var stopsTag;
                var flightCount = flights.length;
                var booknow=$.i18n.map.initiate_book;
                var transferCount = totalNoTransfers;
                var totalStoppages = transferCount;
                var booking_URL=flights[0].bookingDetails.mobileUrl;
                var marketing_code=flights[0].marketingAirlineCode;
                for (itr = 0; itr<flightCount; itr++){
                totalStoppages = totalStoppages + flights[itr].totalTechnicalStops;
                }
                if(transferCount==1)
                {
                stopsTag="Stop";
                }
                else
                {
                stopsTag="Stops";
                }
                %>


                <li class="flightfinder-li-cityName-src"><%=flights[0].origin.cityName%> (<%=flights[0].origin.airportCode%>)</li>
                <li class="header5 origin-Destination-hy"> <div class="icon-flight head"></div> </li>
                <li class="flightfinder-li-cityName-des"><%=flights[totalNoTransfers].destination.cityName%> (<%=flights[totalNoTransfers].destination.airportCode%>)</li>
                <!--<li class="flightfinder-li-stops"><%=totalStoppages%> Stops</li>-->
            </ul>
        <ul>
            <!--<li class="ini-Duration"><p class="header5 duration"><%=totalDuration.replace('H','h ').replace('M','min')%></p></li>-->
            <li style="display:none"></li>
            <li class="flightnumber-blk">
                <p class="header3 flightName"><%=getAirlineNameForFlightNumber_notairline(FlightNumbers)%></p>
            </li>
            <li class="flightfinder-li-stops">
                <p class="flightNoStops"><%=transferCount%> <%=stopsTag%></p>
            </li>
            <%
            var flagShowDays = "hideDays";
            if(sessionStorage.showDays === "yes"){
            flagShowDays = "showDays";
            }
            %>
            <li id="show7Days" class="<%=flagShowDays%>"><p class="header3 flightDays"><%=sky_fileson%>:</p><p class="header3"><span><%=runOnDays%></span> </p></li>

        </ul>
        </div>
        <%if(typeof isInterline !== "undefined"){%>

        <%if(isInterline=="N"){%>



        <div class="ini-Book-SecondBlock booking_class no_interline" data-bookingurl="<%=booking_URL%>" data-marketingcode="<%=marketing_code%>">

            <ul class="ini-Book-SB-Ul">

                <li class="ini-Book-SB-Logo"><img class="<%=(flights[0].marketingFlightNumber.substr(0,2))%>" src="./images/members/<%=(flights[0].marketingFlightNumber.substr(0,2))%>-Logo.png"></li>

                <li class="ini-Book-SB-Button"  ><label class="ini-Button"><%=booknow%></label><img src="./images/arrow.png"></li>

            </ul>

        </div>

        <%}%>

        <%if(isInterline=="Y"){%>

        <div class="ini-Book-SecondBlock yes_interline" data-bookingurl='' data-marketingcode=''>

            <ul class="ini-Book-SB-Ul">

                <li class="ini-Book-SB-Logo-Interline"><img class="multipleAirline-Interline" src="./images/members/multipleAirlineLogo.png"></li>

                <li class="ini-Book-SB-Button"  ><label class="ini-Button-Interline">Multiple Airlines</label></li>

            </ul>

        </div>

        <%}%>

        <%} else{%>

        <div class="ini-Book-SecondBlock booking_class" data-bookingurl="<%=booking_URL%>" data-marketingcode="<%=marketing_code%>">

            <ul class="ini-Book-SB-Ul">

                <li class="ini-Book-SB-Logo"><img class="<%=(flights[0].marketingFlightNumber.substr(0,2))%>" src="./images/members/<%=(flights[0].marketingFlightNumber.substr(0,2))%>-Logo.png"></li>

                <li class="ini-Book-SB-Button"  ><label class="ini-Button"><%=booknow%></label><img src="./images/arrow.png"></li>

            </ul>

        </div>

        <%}%>

    </div>

</li>
</ul>
        
