<div class="proferedline-popup" style="top:10px !important; height:85%; margin:10% auto auto auto;" id="members-popup">
    <div id="operators" style="height:85% !important;">
        <h2><%=sky_selectlanguage%></h2>
        <div class="scrollforflightsname">

            <!-- English -->
            <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="lang-en" value="En" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-en">English</span></h6>

            <!-- Simplified Chinese -->
            <label class="radiobutton">
                <input  type="radio" id="lang-zh" class="groupCheckbox"  value="zh" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-zh">简体中文</span></h6>

            <!-- Added spanish  -->
            <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="lang-es" value="Es" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-es">Español</span></h6>

            <!-- French -->
            <label class="radiobutton">
                <input  type="radio" id="lang-fr" class="groupCheckbox"  value="Fr" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-fr">Français</span></h6>

            <!-- Arabic -->
            <label class="radiobutton">
                <input  type="radio" id="lang-ar" class="groupCheckbox"  value="Ar" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-ar">العربية</span></h6>

            <!-- Korean -->
            <label class="radiobutton">
                <input  type="radio" id="lang-ko" class="groupCheckbox"  value="Ko" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-ko">한국어</span></h6>

            <!-- German -->
            <label class="radiobutton">
                <input  type="radio" id="lang-de" class="groupCheckbox"  value="De" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-de">Deutsch</span></h6>

            <!-- Japanese -->
            <label class="radiobutton">
                <input  type="radio" id="lang-ja" class="groupCheckbox"  value="Ja" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-ja">日本語</span></h6>

            <!-- Italian -->
            <label class="radiobutton">
                <input  type="radio" id="lang-it" class="groupCheckbox"  value="It" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-it">Italiano</span></h6>

            <!-- Portuguese -->
            <label class="radiobutton">
                <input  type="radio" id="lang-pt" class="groupCheckbox"  value="Pt" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-pt">Português</span></h6>

            <!-- Traditional Chinese -->
            <label class="radiobutton">
                <input  type="radio" id="lang-zh-hant" class="groupCheckbox"  value="zh-Hant" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-zh-hant">中文(繁體)</span></h6>

            <!-- Russian -->
            <label class="radiobutton">
                <input  type="radio" id="lang-ru" class="groupCheckbox"  value="Ru" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-ru">Pусский</span></h6>

            <!-- Vietnamese -->
            <label class="radiobutton">
                <input  type="radio" id="lang-vi" class="groupCheckbox"  value="Vi" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-vi">Tiếng Việt</span></h6>

            <!--Dutch-->
            <label class="radiobutton">
                <input  type="radio" id="lang-nl" class="groupCheckbox"  value="Nl" name="operatorsGroup" />
                <span></span>
            </label>
            <h6><span class="langText" for="lang-nl">Nederlands</span></h6>

        </div>
        
    </div>
    <button id="operator-ok" class="members-ok" style="" ><%=sky_ok%></button>
</div>