<div class="settings">
    <div class="settings_wrapper">
        <p><%=sky_date%></p>

        <div>
            <input type="text" id="dateSelect" class="theme"  readonly>

            </input>
            <img src="images/down.png" class="arrow_down">
        </div>
        <p><%=sky_distance%></p>
        <ul class="tab1">
            <li id="kilometers" class="onHover">
                <a><%=sky_km%></a>
            </li>
            <li id="miles" class="offHover">
                <a><%=sky_miles%></a>
            </li>
        </ul>
        <p><%=sky_temp%></p>
        <ul class="tab1">
            <li id="celsius" class="onHover">
                <a><%=sky_celsius%></a>
            </li>
            <li id="fahrenheit" class="offHover">
                <a><%=sky_fahrenheit%></a>
            </li>
        </ul>
        <p><%=sky_home_savedflights%></p>
        <ul class="tabs1 on">
            <li id="on" class="onHover">
                <a><%=sky_on%></a>
            </li>
            <li id="off" class="offHover">
                <a><%=sky_off%></a>
            </li>
        </ul>
        <p><%=sky_language%></p>
        <div>
            <input type="text" id="languageSelect" class="theme"  readonly>

            </input>
            <img src="images/down.png" class="arrow_down">
        </div>
        <ul class="about">
            <li><%=sky_app_definition%></li>
            <li>
                <h3><%=sky_skyteamapp%></h3>
                <p><%=sky_skyteamapp_definition%></p>
                <!--<h3><%=sky_know_skyteam%></h3>
                <p><%=sky_members%></p>-->
                <p><%=sky_find_more%> <span id="skyTeamSite">skyteam.com </span></p>
            </li>
            <li id="disclamer"><%=sky_disclaimer%></li>
        </ul>
        <p class="version">
            <%=sky_version%> 3.8.9 (<span><%=sky_may%> 2018</span>)<br>
            &copy; 2018 SkyTeam
        </p>
    </div>
</div>


<!-- Date selection popup start -->
<!--*santosh_14OCT*-->
<script type="text/template" name="datepopupTemplate">

    <div class="proferedline-popup" style="height:auto !important;top:20% !important" id="date-popup">
        <h2><%=sky_date%></h2>
        <div id="operators">
            <div class="scrollforflightsname">

                <label class="radiobutton">
                    <input type="radio" class="groupCheckbox" id="DD" value="DD" name="operatorsGroup" />
                    <span></span>
                </label>
                <h6><span class="spanDateFormat" for="DD"><%=sky_date_format%></span></h6>
                <label class="radiobutton">
                    <input  type="radio" class="groupCheckbox" id="MMM" value="MMM" name="operatorsGroup" />
                    <span></span>
                </label>
                <h6><span class="spanDateFormat" for="MMM"><%=sky_otherdate_format%></span></h6>
                <label class="radiobutton">
                    <input  type="radio" id="YYYY" class="groupCheckbox"  value="YYYY" name="operatorsGroup" />
                    <span></span>
                </label>
                <h6><span class="spanDateFormat" for="YYYY"><%=sky_chinese_date_format%></span></h6>
                <button id="operator-ok1" class="members-ok" style="margin-top:20px !important;" ><%=sky_ok%></button>
            </div>
        </div>
    </div>
</script>