
<div class="spfinder">
        <div class="sp_banner">
            <!-- <img class="priority_img" src="images/new_images/sky_priority_banner.png">-->
            <div class="sp_banner-img"></div>
        </div>
        <div class="airports_info">
            <ul class="spfinder_search">
               <li class="menu_skypriority_li" id="skypriorityPage" >
				<input id="airport_text" type="text"  autocorrect="off" autocomplete="off" placeholder="<%=sky_airport_select%>...">
							<img src="images/icon_search.png" class="search_skytips">
							<img src="images/cross.png" class="cancel_Skytips">
							<button class="cancel_Skytips" style="border:none; background:none;"></button>
				</input>
			   </li> 
               <li class="menu_skypriority_li">
			   <div id="airlinesList"><p><%=sky_operating_airline%></p><img src="images/down.png" class="flightstatus_arrowdown1"/>
			   </div>
			   </li>
			</ul>
        </div>
         <div class="searchDiv">
           <button id="searchPriority" class="iconPlane searchButton" style="display:block;"><img src="images/button_sp.png"/><h3><%=sky_priority_find%></h3>
           </button>
       </div>
</div>
    <div class="popUpShade"></div>
    <div class="popUp">
        <div class="popUpMessage"><p class="popUpMessage1"></p></div>
       
    </div>
<div id ="popupWrapper">
<div class="proferedline-popup" id="members-popup">
    <h2><%=sky_airline_select%></h2>
    <div id="operators">
        <div class="scrollforflightsname" id="skyoperator">
            
       
        </div>
    </div>
    <button id="operator-ok" style="margin-top: 0px !important;" class="members-ok"><%=sky_ok%></button>
</div>
</div>
<div id="blackshade" >
    
</div>