<div class="content">
    <div class="Sp_airport" id="sp_airportname">
        <h2><%=getAirportFullName(TripOrigin)  %> </h2>
    </div>
    <div class="Sp_select_airline">
        <p><span id="sp_airline"><%=$.i18n.map["sky_"+OperatingCarrier]%></span><span class="Sp_select_airline_img"><img src="images/down.png"></span></p>
    </div>
    <div class="Sp_results">

        <!-- orgin skypriority features -->
        <div class="Sp_results_container">

            <div class="Sp_res_top">
                <p class="spa_info_head"><%=sky_departure%></p>
                <% if(isAvail) {
                if((PriorityImmigration === "Y" && ImmigrationFasttrackAccessibility === "0") || (PrioritySecurityLines === "Y" && SecurityFasttrackAccessibility === "0")){%>
                <h4 class="info disclaimerShown"><%=sky_moreinfo%></h4>
                <%}else{%>
                <h4 class="info"><%=sky_moreinfo%></h4>
                <%}}%>
            </div>
            <% if(!isAvail) {%>
            <div class="spnofeature"><%=sky_priority_nofeature%></div>
            <%}else{ %>
            <div class="sp_dep_content">
                <% if(PriorityCheckIn === "Y") {%>
                <div><img src="<%=spImages_small["PriorityCheckIn"]%>"></div>
                <%}%>
                <% if(PriorityBaggageDropOff === "Y") {%>
                <div><img src="<%=spImages_small["PriorityBaggageDropOff"]%>"></div>
                <%}%>
                <% if(PriorityImmigration === "Y") {%>
                <div><img src="<%=spImages_small["PriorityImmigration"]%>"></div>
                <%}%>
                <% if(PrioritySecurityLines === "Y") {%>
                <div><img src="<%=spImages_small["PrioritySecurityLines"]%>"></div>
                <%}%>
                <% if(PriorityTicketDesk === "Y") {%>
                <div><img src="<%=spImages_small["PriorityTicketDesk"]%>"></div>
                <%}%>
                <% if(PriorityTransferDesk === "Y") {%>
                <div><img src="<%=spImages_small["PriorityTransferDesk"]%>"></div>
                <%}%>
                <% if(PriorityBoarding === "Y") {%>
                <div><img src="<%=spImages_small["PriorityBoarding"]%>"></div>
                <%}%>
            </div>

            <div class="sp_container_open noclass">
                <% if(PriorityCheckIn === "Y") {%>
                <div class="box">
                    <div class="leftcontent">
                        <img src="<%=spImages_large['PriorityCheckIn']%>">
                    </div>
                    <div class="rightcontent">
                        <h1><%=sky_priority_checkin_title%></h1>
                        <p><%=sky_priority_checkin_msg%></p>
                    </div>
                </div>
                <%}%>
                <% if(PriorityBaggageDropOff === "Y") {%>
                <div class="box">
                    <div class="leftcontent">
                        <img src="<%=spImages_large['PriorityBaggageDropOff']%>">
                    </div>
                    <div class="rightcontent">
                        <h1><%=sky_priority_baggage_title%></h1>
                        <p><%=sky_priority_baggage_msg%></p>
                    </div>
                </div>
                <%}%>
                <% if(PriorityImmigration === "Y") {%>
                <div class="box">
                    <div class="leftcontent">
                        <img src="<%=spImages_large['PriorityImmigration']%>">
                    </div>
                    <div class="rightcontent">
                        <h1><%=sky_priority_immigration_title%></h1>
                        <%if(ImmigrationFasttrackAccessibility === "0"){%>
                        <img src="images/spfinder/cornerStar.png" class="disclaimer_img"/>
                        <%}%>
                        <p><%=sky_priority_immigration_msg%></p>
                    </div>
                </div>
                <%}%>
                <% if(PrioritySecurityLines === "Y") {%>
                <div class="box">
                    <div class="leftcontent">
                        <img src="<%=spImages_large['PrioritySecurityLines']%>">
                    </div>
                    <div class="rightcontent">
                        <h1><%=sky_priority_security_title%></h1>
                        <%if(SecurityFasttrackAccessibility === "0"){%>
                        <img src="images/spfinder/cornerStar.png" class="disclaimer_img"/>
                        <%}%>
                        <p><%=sky_priority_security_msg%></p>
                    </div>
                </div>
                <%}%>
                <% if(PriorityTicketDesk === "Y") {%>
                <div class="box">
                    <div class="leftcontent">
                        <img src="<%=spImages_large['PriorityTicketDesk']%>">
                    </div>
                    <div class="rightcontent">
                        <h1><%=sky_priority_ticket_title%></h1>
                        <p><%=sky_priority_ticket_msg%></p>
                    </div>
                </div>
                <%}%>
                <% if(PriorityTransferDesk === "Y") {%>
                <div class="box">
                    <div class="leftcontent">
                        <img src="<%=spImages_large['PriorityTransferDesk']%>">
                    </div>
                    <div class="rightcontent">
                        <h1><%=sky_priority_transfer_title%></h1>
                        <p><%=sky_priority_transfer_msg%></p>
                    </div>
                </div>
                <%}%>
                <% if(PriorityBoarding === "Y") {%>
                <div class="box">
                    <div class="leftcontent">
                        <img src="<%=spImages_large['PriorityBoarding']%>">
                    </div>
                    <div class="rightcontent">
                        <h1><%=sky_priority_boarding_title%></h1>
                        <p><%=sky_priority_boarding_msg%></p>
                    </div>
                </div>
                <%}%>
            </div>
            <% }%>
        </div>
        <!--end of orgin skypriority features -->

        <!--destination skypriority features -->
        <div class="Sp_results_container">

            <div class="Sp_res_top">
                <p class="spa_info_head"><%=sky_arrival%></p>
                <% if(BaggageFirst == 'Y') {%>
                <h4 class="info"><%=sky_moreinfo%></h4>
                <%}%>
            </div>

            <% if(BaggageFirst !== 'Y' ) {%>
            <div class="spnofeature"><%=sky_priority_nofeature%></div>
            <%}else{ %>
            <div class="sp_dep_content">
                <img class="sp_arrival_img" src="<%=spImages_small["BaggageFirst"]%>">
            </div>
            <div class="sp_container_open noclass">
                <div class="box">
                    <div class="leftcontent">
                        <img src="<%=spImages_large["BaggageFirst"]%>"></div>
                    <div class="rightcontent">
                        <h1><%=sky_priority_baggage_handle_title%></h1>
                        <p><%=sky_priority_baggage_handle_msg%></p>
                    </div>
                </div>
            </div>

            <%}%>
        </div>
        <!--end of destination skypriority features -->

    </div>

    <div class="disclaimer_text noclass"><p><sup>*<sup><%=sky_priority_disclaimer%></p></div>

</div>
<div id="popupWrapper">
    <div class="proferedline-popup" id="members-popup">
        <h2><%=sky_airline_select%></h2>
        <div id="operators">
            <div class="scrollforflightsname">

            </div>
        </div>
        <button id="operator-ok" class="members-ok"><%=sky_ok%></button>
    </div>
</div>