<div class="content">
	<div class="Sp_airport" id="sp_airportname"><h2>Amsterdam Schiphol Airport</h2></div>
    <div class="Sp_results">
    
    </div>
    <div class="noclass disclaimer_text"><sup>*</sup><%=sky_priority_disclaimer%></div>
    
    
</div>
<!-- 
<div class="popUpShade"></div>
<div class="popUp">
    <div class="popUpMessage"><p class="popUpMessage1"></p></div>
</div>
 -->
<div id="blackshade" >
    
</div>
<div id="spResultTop" class="noclass">
    
	<div class="Sp_res_top">
        <p class="spa_info_head">{#toheading}</p>
        <h4 class="info"><%=sky_moreinfo%></h4>
    </div><br>
    <p class="spa_placename">{#airportname}</p>
    <p class="spa_airlinename">{#airlinename}</p>
    
    
</div>
<div id="sp_nofeature" class="noclass">
    
	<div class="Sp_res_top">
        <p class="spa_info_head">{#toheading}</p>
    </div><br>
    <p class="spa_placename">{#airportname}</p>
    <p class="spa_airlinename">{#airlinename}</p>
    <div class="spnofeature"><%=sky_priority_nofeature%></div>
    
</div>
