<div class="proferedline-popup" style="display: block;" id="members-popup" >
    <h2><%=sky_airline_select%></h2>
    <div id="operators">
        <div class="scrollforflightsname" id="skyoperator">
            <!--<div class="scrollforoperators filteroperators">-->
            <%
            var selected = SelectedAirLineCode;
            for(var i=0,len= PriorityAirlines.length;i<len;i++){
            var code = PriorityAirlines[i];
            var name = $.i18n.map["sky_"+code];
            %>
            <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="<%=code%>" value="<%=code%>" name="operatorsGroup" <%if(selected === code){%>checked<%}%> />
                <span></span>
            </label>
            <h6><span class="airlineName" for="<%=code%>"><%=name%></span></h6>
            <%}%>
        </div>
    </div>
    <button id="sp_airline-ok"><%=sky_ok%></button>
</div>