<div class="content">
	<div class="Sp_airport" id="sp_airportname"><h2>Amsterdam Schiphol Airport</h2></div>
    <div class="Sp_select_airline" ><p><span id="sp_airline" >Aeroflot</span><span class="Sp_select_airline_img"><img src="images/downarrow.png"></span></p></div>
    <div class="Sp_results">
    </div>
    <div class="noclass disclaimer_text"><sup>*</sup><%=sky_priority_disclaimer%></div>
    
</div>
<!-- 
<div class="popUpShade"></div>
<div class="popUp">
    <div class="popUpMessage"><p class="popUpMessage1"></p></div>
</div>
 -->
<div id ="popupWrapper">
<div class="proferedline-popup" id="members-popup">
    <h2><%=sky_airline_select%></h2>
    <div id="operators">
        <div class="scrollforflightsname">
            

        </div>
    </div>
    <button id="operator-ok" class="members-ok"><%=sky_ok%></button>
</div>
</div>
<div id="blackshade" >
    
</div>
<div id="spResultTop" class="noclass">
    
	<div class="Sp_res_top">
        <p>{#toheading}</p>
        <h4 class="info"><%=sky_moreinfo%></h4>
    </div>
    
    
</div>
<div id="sp_nofeature" class="noclass">
    
	<div class="Sp_res_top">
        <p class="spa_info_head">{#toheading}</p>
    </div>
    <div class="spnofeature"><%=sky_priority_nofeature%></div>
    
</div>