<div class="content">
<div class="Sp_airport" id="sp_airportname">
    <h2><%=getAirportCityName(TripOriginFeatures.TripOrigin)  %></h2>
    <h2 class="right-arrow"></h2>
    <h2> <%=getAirportCityName(TripDestinationFeatures.TripDestination) %></h2>
</div>
<div class="Sp_results">
<!-- orgin skypriority features -->
<div class="Sp_results_container">

    <div class="Sp_res_top">
        <p class="spa_info_head"><%=sky_departure%></p>
        <% if(TripOriginFeatures.isAvail) {
        if((TripOriginFeatures.PriorityImmigration === "Y" && TripOriginFeatures.ImmigrationFasttrackAccessibility === "0") || (TripOriginFeatures.PrioritySecurityLines === "Y" && TripOriginFeatures.SecurityFasttrackAccessibility === "0")){%>
        <h4 class="info disclaimerShown"><%=sky_moreinfo%></h4>
        <%}else{%>
        <h4 class="info"><%=sky_moreinfo%></h4>
        <%}}%>
    </div>
    <p class="spa_placename"><%= getAirportFullName(TripOriginFeatures.TripOrigin) %></p>
    <p class="spa_airlinename">
        <% var orginOperatingCarrierName =$.i18n.map["sky_"+TripOriginFeatures.OperatingCarrier];

        if(!orginOperatingCarrierName){
        orginOperatingCarrierName = TripOriginFeatures.OperatingCarrierName;
        }

        %>
        <%= sky_operatedby %> <%=orginOperatingCarrierName%>
    </p>
    <% if(!TripOriginFeatures.isAvail) {%>
    <div class="spnofeature"><%=sky_priority_nofeature%></div>
    <%}else{ %>
    <div class="sp_dep_content">
        <% if(TripOriginFeatures.PriorityCheckIn === "Y") {%>
        <div><img src="<%=spImages_small["PriorityCheckIn"]%>"></div>
        <%}%>
        <% if(TripOriginFeatures.PriorityBaggageDropOff === "Y") {%>
        <div><img src="<%=spImages_small["PriorityBaggageDropOff"]%>"></div>
        <%}%>
        <% if(TripOriginFeatures.PriorityImmigration === "Y") {%>
        <div><img src="<%=spImages_small["PriorityImmigration"]%>"></div>
        <%}%>
        <% if(TripOriginFeatures.PrioritySecurityLines === "Y") {%>
        <div><img src="<%=spImages_small["PrioritySecurityLines"]%>"></div>
        <%}%>
        <% if(TripOriginFeatures.PriorityTicketDesk === "Y") {%>
        <div><img src="<%=spImages_small["PriorityTicketDesk"]%>"></div>
        <%}%>
        <% if(TripOriginFeatures.PriorityTransferDesk === "Y") {%>
        <div><img src="<%=spImages_small["PriorityTransferDesk"]%>"></div>
        <%}%>
        <% if(TripOriginFeatures.PriorityBoarding === "Y") {%>
        <div><img src="<%=spImages_small["PriorityBoarding"]%>"></div>
        <%}%>
    </div>

    <div class="sp_container_open noclass">
        <% if(TripOriginFeatures.PriorityCheckIn === "Y") {%>
        <div class="box">
            <div class="leftcontent">
                <img src="<%=spImages_large['PriorityCheckIn']%>">
            </div>
            <div class="rightcontent">
                <h1><%=sky_priority_checkin_title%></h1>
                <p><%=sky_priority_checkin_msg%></p>
            </div>
        </div>
        <%}%>
        <% if(TripOriginFeatures.PriorityBaggageDropOff === "Y") {%>
        <div class="box">
            <div class="leftcontent">
                <img src="<%=spImages_large['PriorityBaggageDropOff']%>">
            </div>
            <div class="rightcontent">
                <h1><%=sky_priority_baggage_title%></h1>
                <p><%=sky_priority_baggage_msg%></p>
            </div>
        </div>
        <%}%>
        <% if(TripOriginFeatures.PriorityImmigration === "Y") {%>
        <div class="box">
            <div class="leftcontent">
                <img src="<%=spImages_large['PriorityImmigration']%>">
            </div>
            <div class="rightcontent">
                <h1><%=sky_priority_immigration_title%></h1>
                <%if(TripOriginFeatures.ImmigrationFasttrackAccessibility === "0"){%>
                <img src="images/spfinder/cornerStar.png" class="disclaimer_img"/>
                <%}%>
                <p><%=sky_priority_immigration_msg%></p>
            </div>
        </div>
        <%}%>
        <% if(TripOriginFeatures.PrioritySecurityLines === "Y") {%>
        <div class="box">
            <div class="leftcontent">
                <img src="<%=spImages_large['PrioritySecurityLines']%>">
            </div>
            <div class="rightcontent">
                <h1><%=sky_priority_security_title%></h1>
                <%if(TripOriginFeatures.SecurityFasttrackAccessibility === "0"){%>
                <img src="images/spfinder/cornerStar.png" class="disclaimer_img"/>
                <%}%>
                <p><%=sky_priority_security_msg%></p>
            </div>
        </div>
        <%}%>
        <% if(TripOriginFeatures.PriorityTicketDesk === "Y") {%>
        <div class="box">
            <div class="leftcontent">
                <img src="<%=spImages_large['PriorityTicketDesk']%>">
            </div>
            <div class="rightcontent">
                <h1><%=sky_priority_ticket_title%></h1>
                <p><%=sky_priority_ticket_msg%></p>
            </div>
        </div>
        <%}%>
        <% if(TripOriginFeatures.PriorityTransferDesk === "Y") {%>
        <div class="box">
            <div class="leftcontent">
                <img src="<%=spImages_large['PriorityTransferDesk']%>">
            </div>
            <div class="rightcontent">
                <h1><%=sky_priority_transfer_title%></h1>
                <p><%=sky_priority_transfer_msg%></p>
            </div>
        </div>
        <%}%>
        <% if(TripOriginFeatures.PriorityBoarding === "Y") {%>
        <div class="box">
            <div class="leftcontent">
                <img src="<%=spImages_large['PriorityBoarding']%>">
            </div>
            <div class="rightcontent">
                <h1><%=sky_priority_boarding_title%></h1>
                <p><%=sky_priority_boarding_msg%></p>
            </div>
        </div>
        <%}%>
    </div>
    <% }%>
</div>
<!--end of orgin skypriority features -->

<!--connection airports skypriority features -->


<% if(isHavingTransferAirports){
var count =TransferAirportFeatures.length;
for(var i=0; i< count ;){
var connectionAirportText = $.i18n.map.sky_priority_connection_airport;
var transferAirportOrgin = TransferAirportFeatures[i];
var transferAirportDestination = TransferAirportFeatures[i+1];
var transferOperatingCarrier = $.i18n.map["sky_"+transferAirportDestination.OperatingCarrier];
if(!transferOperatingCarrier){
transferOperatingCarrier = transferAirportOrgin.OperatingCarrierName;
}
var isPriorityFeaturesAvail = true;
if(transferAirportOrgin.hasOwnProperty("ErrorCode") && transferAirportOrgin.ErrorCode === "101" && transferAirportDestination.hasOwnProperty("ErrorCode") && transferAirportDestination.ErrorCode === "101" ){
isPriorityFeaturesAvail = false;
}
if(count > 2){connectionAirportText = $.i18n.map.sky_priority_connection_airport+" "+ (i/2+1);}
%>
<div class="Sp_results_container">
    <div class="Sp_res_top">
        <p class="spa_info_head"><%=connectionAirportText%>  </p>
        <%if(isPriorityFeaturesAvail){
        if((transferAirportDestination.PriorityImmigration === "Y" && transferAirportDestination.ImmigrationFasttrackAccessibility === "0") || (transferAirportDestination.PrioritySecurityLines === "Y" && transferAirportDestination.SecurityFasttrackAccessibility === "0")){%>
        <h4 class="info disclaimerShown"><%=sky_moreinfo%></h4>
        <%}else{%>
        <h4 class="info"><%=sky_moreinfo%></h4>
        <%}
        }%>
    </div>
    <p class="spa_placename"><%= getAirportFullName(transferAirportOrgin.TransferAirport)%></p>
    <p class="spa_airlinename"><%= sky_operatedby %> <%=transferOperatingCarrier%></p>
    <%if(!isPriorityFeaturesAvail){%>
    <div class="spnofeature"><%=sky_priority_nofeature%></div>
    <%}else{%>
    <div class="sp_dep_content">

        <%if(transferAirportOrgin.BaggageFirst === "Y"){%>
        <div><img src="<%=spImages_small["BaggageFirst"]%>"></div>
        <%}

        for(var key in transferAirportDestination){
        if(transferAirportDestination[key] == "Y"){%>
        <div><img src="<%=spImages_small[key]%>"></div>
        <%}

        }
        %>
    </div>
    <div class="sp_container_open noclass">

        <% if(transferAirportDestination.PriorityCheckIn === "Y") {%>
        <div class="box">
            <div class="leftcontent">
                <img src="<%=spImages_large['PriorityCheckIn']%>">
            </div>
            <div class="rightcontent">
                <h1><%=sky_priority_checkin_title%></h1>
                <p><%=sky_priority_checkin_msg%></p>
            </div>
        </div>
        <%}%>
        <% if(transferAirportDestination.PriorityBaggageDropOff === "Y") {%>
        <div class="box">
            <div class="leftcontent">
                <img src="<%=spImages_large['PriorityBaggageDropOff']%>">
            </div>
            <div class="rightcontent">
                <h1><%=sky_priority_baggage_title%></h1>
                <p><%=sky_priority_baggage_msg%></p>
            </div>
        </div>
        <%}%>
        <% if(transferAirportDestination.PriorityImmigration === "Y") {%>
        <div class="box">
            <div class="leftcontent">
                <img src="<%=spImages_large['PriorityImmigration']%>">
            </div>
            <div class="rightcontent">
                <h1><%=sky_priority_immigration_title%></h1>
                <%if(transferAirportDestination.ImmigrationFasttrackAccessibility === "0"){%>
                <img src="images/spfinder/cornerStar.png" class="disclaimer_img"/>
                <%}%>
                <p><%=sky_priority_immigration_msg%></p>
            </div>
        </div>
        <%}%>
        <% if(transferAirportDestination.PrioritySecurityLines === "Y") {%>
        <div class="box">
            <div class="leftcontent">
                <img src="<%=spImages_large['PrioritySecurityLines']%>">
            </div>
            <div class="rightcontent">
                <h1><%=sky_priority_security_title%></h1>
                <%if(transferAirportDestination.SecurityFasttrackAccessibility === "0"){%>
                <img src="images/spfinder/cornerStar.png" class="disclaimer_img"/>
                <%}%>
                <p><%=sky_priority_security_msg%></p>
            </div>
        </div>
        <%}%>
        <% if(transferAirportDestination.PriorityTicketDesk === "Y") {%>
        <div class="box">
            <div class="leftcontent">
                <img src="<%=spImages_large['PriorityTicketDesk']%>">
            </div>
            <div class="rightcontent">
                <h1><%=sky_priority_ticket_title%></h1>
                <p><%=sky_priority_ticket_msg%></p>
            </div>
        </div>
        <%}%>
        <% if(transferAirportDestination.PriorityTransferDesk === "Y") {%>
        <div class="box">
            <div class="leftcontent">
                <img src="<%=spImages_large['PriorityTransferDesk']%>">
            </div>
            <div class="rightcontent">
                <h1><%=sky_priority_transfer_title%></h1>
                <p><%=sky_priority_transfer_msg%></p>
            </div>
        </div>
        <%}%>
        <% if(transferAirportDestination.PriorityBoarding === "Y") {%>
        <div class="box">
            <div class="leftcontent">
                <img src="<%=spImages_large['PriorityBoarding']%>">
            </div>
            <div class="rightcontent">
                <h1><%=sky_priority_boarding_title%></h1>
                <p><%=sky_priority_boarding_msg%></p>
            </div>
        </div>
        <%}%>


        <%if(transferAirportOrgin.BaggageFirst === "Y"){%>
        <div class="box">
            <div class="leftcontent">
                <img src="<%=spImages_large["BaggageFirst"]%>"></div>
            <div class="rightcontent">
                <h1><%=sky_priority_baggage_handle_title%></h1>
                <p><%=sky_priority_baggage_handle_msg%></p>
            </div>
        </div>
        <%}%>


    </div><!--end of sp_container_open-->
    <%}%>
</div>

<%
i=i+2;}



}%>


<!--end of connection airports skypriority features -->

<!--destination skypriority features -->
<div class="Sp_results_container">

    <div class="Sp_res_top">
        <p class="spa_info_head"><%=sky_arrival%></p>
        <% if(TripDestinationFeatures.isAvail) {%>
        <h4 class="info"><%=sky_moreinfo%></h4>
        <%}%>
    </div>
    <p class="spa_placename"><%=getAirportFullName(TripDestinationFeatures.TripDestination) %></p>
    <% var destinationOperatingName = $.i18n.map["sky_"+TripDestinationFeatures.OperatingCarrier];
    if(!destinationOperatingName){
    destinationOperatingName = TripDestinationFeatures.OperatingCarrierName;
    }
    %>
<!--    <p class="spa_airlinename"> <%= sky_operatedby%> <%= destinationOperatingName%></p>-->

    <% if(!TripDestinationFeatures.isAvail) {%>
    <div class="spnofeature"><%=sky_priority_nofeature%></div>
    <%}else{ %>
    <div class="sp_dep_content">
        <img class="sp_arrival_img" src="<%=spImages_small["BaggageFirst"]%>">
    </div>
    <div class="sp_container_open noclass">
        <div class="box">
            <div class="leftcontent">
                <img src="<%=spImages_large["BaggageFirst"]%>"></div>
            <div class="rightcontent">
                <h1><%=sky_priority_baggage_handle_title%></h1>
                <p><%=sky_priority_baggage_handle_msg%></p>
            </div>
        </div>
    </div>

    <%}%>
</div>
<!--end of destination skypriority features -->

</div>
<div class="noclass disclaimer_text"><p><sup>*<sup><%=sky_priority_disclaimer%></p></div>
</div>
<div id="blackshade"></div>
