<div class="menu_skytips add_skytips" height="auto">
    <div id="skytipsaddPage" class="skytipContent">
        <div class="tabarea">
            <ul class="tabs group">
                <li id="flights" class="offHover">
                    <a>
                        <%=sky_search_skytips %>
                    </a>
                </li>
                <li id="airports" class="onHover">
                    <a>
                        <%=sky_add_skytips%>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tipsAdds">

            <img id="skytipsImg" src="" alt="" />

        </div>


        <div class="skyTipsNotes">
            <p style="font-family: 'HNM';"><sup>* </sup>
                <%=sky_tips_post_only%>
            </p>
        </div>

        <input data-key="TipAirportCode" id="airport_text" value="<%=TipAirportName%>" type="text" class="Departure_text" autocorrect="off" autocomplete="off" placeholder="<%=sky_airport_select%>...">
        <img src="images/icon_search.png" alt="searchImg" class="skytips_searchImg">
        <img src="images/cross.png" alt="cancelImg" id="cancel_skytips" class="cancel_skytips">
        <button class="cancel_skytips" id="btn_airport_text"></button>
        </input>

        <div id="ThemeSelect">
            <p class="themeSelectVal">
                <% if(hasValue(TipTheme)) {%>
                <%=TipTheme %>
                <% }else{ %>
                <%=sky_select_theme %>
                <%}%>
            </p>
            <img src="images/down.png" class="arrow_down" />
        </div>


        <input data-key="TipTitle" value="<%=TipTitle%>" id="TipTitle" type="text" class="skytiptitle_text" autocorrect="off" autocomplete="off" placeholder="<%=sky_title %>...">
        <img src="images/cross.png" alt="cancelImg" class="cancel_skytips_btn" id="cancel_TipTitle">
        <button class="cancel_skytips_btn" id="btn_TipTitle"></button>
        </input>

        <textarea  data-key="TipDescription" placeholder="<%=sky_description %>" id="skytip_desc" rows="4" cols="200" class="skytiptitle_text"><%=TipDescription%></textarea>

        <input value="<%=FirstName%>" data-key="FirstName" id="FirstName" type="text" class="skytiptitle_text" autocorrect="off" autocomplete="off" placeholder="<%=sky_first_name%>">
        <img src="images/cross.png" class="cancel_skytips_btn" id="cancel_FirstName">
        <button class="cancel_skytips_btn" id="btn_FirstName"></button>
        </input>

        <input value="<%=LastName%>" data-key = "LastName" id="LastName" type="text" class="skytiptitle_text" autocorrect="off" autocomplete="off" placeholder="<%=sky_last_name%>">
        <img src="images/cross.png" class="cancel_skytips_btn" id="cancel_LastName">
        <button class="cancel_skytips_btn" id="btn_LastName"></button>
        </input>

        <input value="<%=Email%>" data-key ="Email" id="Email" type="text" class="skytiptitle_text" autocorrect="off" autocomplete="off" placeholder="<%=sky_email%>"><img src="images/cross.png" class="cancel_skytips_btn" id="cancel_Email">
        <button class="cancel_skytips_btn" id="btn_Email"></button>
        </input>

        <input value="<%=Country%>" data-key ="Country" id="Country" type="text" class="skytiptitle_text" autocorrect="off" autocomplete="off" placeholder="<%=sky_country%>"><img src="images/cross.png" class="cancel_skytips_btn" id="cancel_Country">
        <button class="cancel_skytips_btn" id="btn_Country"></button>
        </input>

        <div class="sky_chkbox">
            <ul>
                <li>
                    <label class="myCheckbox">
                        <input type="checkbox" <% if(AgeAgree){%> checked <%}%> class="groupCheckbox" name="operatorsGroup" id="checkone" value="SU" />
                        <span data-for="checkone"></span>
                    </label>
                    <h6><span class="spanCheckBox" for="checkone"><%=sky_tip_confirm%></span></h6>
                </li>
                <li>
                    <label class="myCheckbox">
                        <input type="checkbox" <% if(TermsAgree){%> checked <%}%> class="groupCheckbox" name="operatorsGroup" id="checktwo" value="SU" />
                        <span data-for="checktwo"></span>

                    </label>
                    <h6>
                        <span class="spanCheckBox" for="checktwo" ><%=sky_agree_msg %> </span>
                        <a id='terms'><%=sky_terms_conditions%></a></h6>
                </li>
                <script>
                    $(document).ready(function() {

                                      var xhr = new XMLHttpRequest();
                                      xhr.open('GET', END_POINT+'/images/tip_contest.jpg', true);
                                      xhr.setRequestHeader('api_key', '952e2nydf9ztgvn8n8m24bcm');
                                      xhr.setRequestHeader('source', 'SkyApp');
                                      xhr.responseType = 'arraybuffer';

                                      xhr.onload = function(e) {
                                      if (this.status == 200) {
                                      var uInt8Array = new Uint8Array(this.response);
                                      var i = uInt8Array.length;
                                      var binaryString = new Array(i);
                                      while (i--) {
                                      binaryString[i] = String.fromCharCode(uInt8Array[i]);
                                      }
                                      var data = binaryString.join('');

                                      var base64 = window.btoa(data);


                                      document.getElementById("skytipsImg").src = "data:image/png;base64," + base64;
                                      $('#skytipsImg').css('height', '30%');
                                      sessionStorage.scrollHeight = '-200px';
                                      } else {
                                      $('#skytipsImg').css('height', '0%');
                                      }
                                      };

                                      xhr.onerror = function(e) {
                                      $('#skytipsImg').css('height', '0%');
                                      }
                                      xhr.send();
                                      });
                    </script>
            </ul>
        </div>
        <div id="operators">
            <div class="btnAddskytips">
                <button id="previewSkytip" class="iconPlane searchButton" style="display:block;">
                    <h3><%=sky_preview%></h3>
                </button>
            </div>
        </div>
    </div>
</div>
