<div class="menu_skytips">
    <div id="skytipsPage">
        <div class="tabarea">
            <ul class="tabs group">
                <li id="flights" class="onHover">
                    <a id="findSkytips"><%=sky_search_skytips %></a>
                </li>
                <li id="airports" class="offHover">
                    <a><%=sky_add_skytips%></a>
                </li>
            </ul>
        </div>
        <input id="airport_text" value="<%=AirportName%>" type="text"  autocorrect="off" autocomplete="off" placeholder="<%=sky_airport_select%>...">
        <img src="images/icon_search.png" class="search_skytips">
        <img src="images/cross.png" class="cancel_Skytips">
        <button class="cancel_Skytips" style="border:none;"></button>
        </input>
        <div id="skyTipsDesc" class = "skyTipsNotes">

            <p><%=sky_tips_skytips%></p>
        </div>
    </div>

    <div>
        <button id="searchSkyTips" class="iconPlane searchButton">
            <h3> <%=sky_find_tips%></h3>
        </button>
    </div>
</div>


