<div class="menu_skytips add_skytips" height="auto">
	<div id="skytipsaddPage" class="skytipContent">
 
	    <div class="tabarea">
			<ul class="tabs group">
				<li id="flights" class="offHover" style="margin-bottom:10px;" >
					<a id="findSkytips"><%=sky_search_skytips%></a>
				</li>
				<li id="airports" class="onHover" style="margin-bottom:10px;" >
					<a id="addSkytips"><%=sky_add_skytips%></a>
				</li>
			</ul>
		</div>
	
	
	
		<div class="tipsAdds">
			  <img id="skytipsImg" src="" width="100%" alt=""/>
		
		</div>
        <script>
            function displayImage()
            {
               // $('#skytipsImg').css('display','none');
                //sessionStorage.scrollHeight='-70px';
                
            	 $('#skytipsImg').css('height',"0%");
                
            }
        function changeImgHeight()
        {
        	var dev_width=$(window).height()*.28;
            $('#skytipsImg').css('height',dev_width);
            sessionStorage.scrollHeight='-200px';
        }
        
        $(document).ready(function(){
            /*function displayImage1(){*/
var xhr = new XMLHttpRequest();
xhr.open('GET', END_POINT+'/images/tip_contest.jpg', true);
xhr.setRequestHeader('api_key','952e2nydf9ztgvn8n8m24bcm');
xhr.setRequestHeader('source','SkyApp');
xhr.responseType = 'arraybuffer';

xhr.onload = function(e) {
if (this.status == 200) {
    var uInt8Array = new Uint8Array(this.response);
    var i = uInt8Array.length;
    var binaryString = new Array(i);
    while (i--)
    {
        binaryString[i] = String.fromCharCode(uInt8Array[i]);
    }
    var data = binaryString.join('');

    var base64 = window.btoa(data);
    

    document.getElementById("skytipsImg").src="data:image/png;base64,"+base64;
    $('#skytipsImg').css('height','30%');
    sessionStorage.scrollHeight='-200px';
}
else{$('#skytipsImg').css('height','0%');}
};

xhr.onerror = function(e){
$('#skytipsImg').css('height','0%');
}
xhr.send(); 
            });
        </script>
   
		<div class="skyTipsNotes" style="margin:0 0 0 10px;">
			<p style="font-family:'HNM';"><sup>* </sup><%=sky_tips_post_only%></p>
		</div>
		<input id="airport_text" type="text" class="Departure_text" autocorrect="off" autocomplete="off" placeholder="<%=sky_airport_select%>..."><img src="images/icon_search.png" style="margin-top:-43px; margin-right:4%;" class="skytips_searchImg"><img src="images/cross.png"  style="margin-top:-43px; margin-right:4%;" id="cancel_skytips" class="cancel_skytips"><button class="cancel_skytips" id="btn_airport_text" style="border:none;margin-top:-43px; margin-right:4%;"></button></input>
	
	
	
		<div>
    <!--div id="ThemeSelect" class="theme" style="display:block;">
    <div id="tipThemeSelect" class="theme" style="display:none;"-->
 
			<div id="ThemeSelect"><p class="themeSelectVal"><%=sky_select_theme %></p>
				<img src="images/down.png" class="arrow_down"/>
			</div>
		</div>
	
		<input id="skytip_tite" type="text" class="skytiptitle_text" autocorrect="off" autocomplete="off" placeholder="<%=sky_title %>..."><img src="images/cross.png" style="margin-top:-43px; margin-right:4%;" class="cancel_skytips_btn" id="cancel_skytip_tite"><button class="cancel_skytips_btn" id="btn_skytip_tite" style="border:none;margin-top:-43px; margin-right:4%;"></button></input>
	
		<textarea placeholder="<%=sky_description %>" id="skytip_desc" rows="4" cols="200" class="skytiptitle_text"></textarea>
	
		<input id="skytip_fname" type="text" class="skytiptitle_text" autocorrect="off" autocomplete="off" placeholder="<%=sky_first_name%>"><img src="images/cross.png" style="margin-top:-43px; margin-right:4%;" class="cancel_skytips_btn" id="cancel_skytip_fname"><button class="cancel_skytips_btn" style="border:none;margin-top:-43px; margin-right:4%;" id="btn_skytip_fname"></button></input>
		
		<input id="skytip_lname" type="text" class="skytiptitle_text" autocorrect="off" autocomplete="off" placeholder="<%=sky_last_name%>"><img src="images/cross.png" style="margin-top:-43px; margin-right:4%;" class="cancel_skytips_btn" id="cancel_skytip_lname"><button class="cancel_skytips_btn" style="border:none;margin-top:-43px; margin-right:4%;" id="btn_skytip_lname"></button></input>
	
		<input id="skytip_email" type="text" class="skytiptitle_text" autocorrect="off" autocomplete="off" placeholder="<%=sky_email%>"><img src="images/cross.png" style="margin-top:-43px; margin-right:4%;" class="cancel_skytips_btn" id="cancel_skytip_email"><button class="cancel_skytips_btn" style="border:none;margin-top:-43px; margin-right:4%;" id="btn_skytip_email"></button></input>
		
		<input id="skytip_country" type="text" class="skytiptitle_text" autocorrect="off" autocomplete="off" placeholder="<%=sky_country%>"><img src="images/cross.png" style="margin-top:-43px; margin-right:4%;" class="cancel_skytips_btn" id="cancel_skytip_country"><button class="cancel_skytips_btn" style="border:none;margin-top:-43px; margin-right:4%;" id="btn_skytip_country"></button></input>
	
		<div class="sky_chkbox">
		<ul style="margin:0px; padding:0px;">
			<li style="margin:0px; padding:0px;">
		
			<label class="myCheckbox">
				<input type="checkbox" class="groupCheckbox" name="operatorsGroup" id="checkone" value="SU"/>
				<span></span>
			</label>
			<h6><span class="spanCheckBox" for="checkone"><%=sky_tip_confirm%></span></h6>
			</li>
			<li style="margin:0px; padding:0px;">
			<label class="myCheckbox">
				<input type="checkbox" class="groupCheckbox" name="operatorsGroup" id="checktwo" value="SU"/>
				<span></span>
				
			</label>
			<h6><span class="spanCheckBox" for="checktwo"><%=sky_agree_msg %></span> <a   id='terms' style="color:#9F549D; text-decoration:underline; height:300px;width:300px;"><%=sky_terms_conditions%></a></h6>
			</li>
		</ul>
		</div>
		<div id="operators">
			<div class="btnAddskytips" >
				<button id="previewSkytip" class="iconPlane searchButton" style="display:block;"><h3><%=sky_preview%></h3></button>
			</div>
		</div>
	</div>
</div>
<div id="blackshade" >
        
</div>
<div class="proferedline-popup" id="tipThemesSelect" style="display: block;width: 95% !important;">
    <h2><%=sky_theme_select%></h2>
    <div id="operators">
        <div class="scrollforThemes">
            
              <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="e-connect" value="<%=sky_e_connectivity%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span class="themeName" for="e-connect"><img class="themeImg" style="width: 10%;" src="./images/skytips/e-connect.png" />
			<%=sky_e_connectivity%></span></h6>
			<label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="fasttrack" value="<%=sky_fast_track%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span  class="themeName" for="fasttrack"><img class="themeImg" style="width: 10%;" src="./images/skytips/fastforward.png" />
			<%=sky_fast_track%></span></h6>
			<label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="fooddrink" value="<%=sky_food_drink%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span  class="themeName" for="fooddrink"><img class="themeImg" style="width: 10%;" src="./images/skytips/food&drink.png" />
			<%=sky_food_drink%></span></h6>
			<label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="leisure" value="<%=sky_leisure%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span  class="themeName" for="leisure"><img class="themeImg" style="width: 10%;" src="./images/skytips/leisure.png" />
			<%=sky_leisure%></span></h6>
			<label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="lounge" value="<%=sky_lounge%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span  class="themeName" for="lounge"><img class="themeImg" style="width: 10%;" src="./images/skytips/lounges.png" />
			<%=sky_lounge%></span></h6>
            <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="relaxation" value="<%=sky_relaxation%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span  class="themeName" for="relaxation"><img class="themeImg" style="width: 10%;" src="./images/skytips/relax.png" />
			<%=sky_relaxation%></span></h6>
			 <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="shopping" value="<%=sky_shopping%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span  class="themeName" for="shopping"><img class="themeImg" style="width: 10%;" src="./images/skytips/shopping.png" />
			<%=sky_shopping%></span></h6>
			 <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="transportation" value="<%=sky_transporation_theme%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span  class="themeName" for="transportation"><img class="themeImg" style="width: 10%;" src="./images/skytips/transportation.png" />
			<%=sky_transporation_theme%></span></h6>
			 <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="other" value="<%=sky_other%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span  class="themeName" for="other"><img class="themeImg" style="width: 10%;" src="./images/skytips/other.png" />
			<%=sky_other%></span></h6>
        </div>
    </div>
    <button id="operator-ok" class="themes-ok" style="display: block;"><%=sky_ok%></button>
</div>
<div class="preview-popUp" style="display: block;">
    <div class="popUpMessage">
	<section class="skytips_popup">
	<a><img src="./images/skytips/other.png" class="themeImgPreview"><label class="sub_heading"></label></a>
	<p class="previewMessage" style="max-height:74px; overflow-y:scroll;"></p>
	<hr>
	<p class="caption username"></p>
	<p class="caption" style="width:100%;"><span style=" float:left; width:50%;" class="userlocation"></span><span class="postDate" style="float:right; "></span></p>
	
	</section>
	</div>
      <span class="popup_button"> 
	  <button class="btn_edit" style="display: inline-block; float:left;margin-left:4%;width:30%;height:20%;"><%=sky_edit%></button>
	  <button class="btn_post" style="display: inline-block; float:right;margin-right:4%;width:30%;height:20%;"><%=sky_post%></button>	  </span>
    </div>