
<li>
    <!-- <img style="width:8%;padding-right:3%;" src="images/skytips/other.png" alt="menu_icon"> -->

    <%
    if(!hasValue(ThemeId)){/*If ThemeId has null/undefined values,then assigning to other(9) */
    ThemeId = "9";
    }
    var availThemeIDs=["1","3","4","5","6","7","8","9","18"];

    if(_.contains(availThemeIDs, ThemeId) !== true) {
         ThemeId = "9";
    }
    var imgName ="images/skytips/skyTip_"+ThemeId+".png" ;
    %>

    <img style="width:8%;padding-right:3%;" src="<%=imgName %>" alt="menu_icon">

    <!-- <img class="<%= TipTheme.split(" ")[0]%>"></img> -->
    <%=TipTitle%>
</li>
<li>
    <%=TipDesc%>
</li>
<li style="width:100%;">
    <div class="logo"></div>
    <div class="name">
        <p><%=Name%> </p>
        <span><%=Country%></span>
        <span style="float:right"><%=Date%></span>

        <%

        if (TipTranslated === "true") {
        var language = $.i18n.map.sky_tip_auto_translated_text+" "+$.i18n.map["sky_translation_"+TipOriginalLanguage.toLowerCase()];
        %>


        <p class="translated"><%=language %></p>

        <% } %>


    </div>
</li>
