<div class="menu_skytips skytipsResutls">
    <div id="skytipsPage">

        <div id="ThemeSelect" style="display: block; ">
            <p><%=sky_select_theme%></p>
            <img src="images/down.png" class="arrow_down" style="display: block; ">
        </div>


        <!-- Div to bind skytip results html -->
        <div class="tipscount">
            <p class="noOfSkytips">
                <%=Count%> <%=sky_tips%>
	<span class="airports_tipsFor">
 	</span>
            </p>
            <p class="airports_tips"><%= Airportname %></p>
        </div>
        <div class="tips_msgs">

            <!--single element template -->

        </div>
        <!-- Div to bind skytip results html -->

        <ul class="facebook" id="facebookSite" style="display: none; ">
            <li class="white_button"><%=sky_fbaddress%></li>
        </ul>
    </div>
</div>