<div class="preview-popUp">
    <div class="popUpMessage">
        <section class="skytips_popup">
            <a>
                <%
                if(!hasValue(TipThemeID)){/*If ThemeId has null/undefined values,then assigning to other(9) */
                TipThemeID = "17";
                }
                var imgName ="images/skytips/skyTip_"+TipThemeID+".png" ;

                %>
                <img src="<%=imgName%>" class="themeImgPreview">

                <label class="sub_heading"><%=TipTitle%></label>
            </a>
            <p class="previewMessage"> <%=TipDescription%></p>
            <hr>
            <p class="caption username"><%=FirstName%>  <%=LastName%></p>
            <p class="caption full-width">
                <span class="half-width userlocation"><%=Country%></span>
                <span class="postDate"> <%=getDateInLocaleFormat(new Date())%> </span>
            </p>
            <!--<%=getDateInLocaleFormat(new Date(),true)%>
             -->
        </section>
    </div>
    <span class="popup_button">
        <button class="btn_edit"> <%=sky_edit%> </button>
        <button class="btn_post"> <%=sky_post%> </button>
    </span>
</div>
<div class="proferedline-popup" id="tipThemesSelect" style="display: block;width: 95% !important;">
    <h2><%=sky_theme_select%></h2>
    <div id="operators">
        <div class="scrollforThemes">

            <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="7" value="<%=sky_e_connectivity%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span class="themeName" for="7"><img class="themeImg" style="width: 10%;" src="./images/skytips/skyTip_7.png" />
                <%=sky_e_connectivity%></span></h6>
            <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="1" value="<%=sky_fast_track%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span class="themeName" for="1"><img class="themeImg" style="width: 10%;" src="./images/skytips/skyTip_1.png" />
                <%=sky_fast_track%></span></h6>
            <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="3" value="<%=sky_food_drink%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span class="themeName" for="3"><img class="themeImg" style="width: 10%;" src="./images/skytips/skyTip_3.png" />
                <%=sky_food_drink%></span></h6>
            <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="6" value="<%=sky_leisure%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span class="themeName" for="6"><img class="themeImg" style="width: 10%;" src="./images/skytips/skyTip_6.png" />
                <%=sky_leisure%></span></h6>
            <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="18" value="<%=sky_lounge_theme%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span class="themeName" for="18"><img class="themeImg" style="width: 10%;" src="./images/skytips/skyTip_18.png" />
                <%=sky_lounge_theme%></span></h6>
            <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="4" value="<%=sky_relaxation%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span class="themeName" for="4"><img class="themeImg" style="width: 10%;" src="./images/skytips/skyTip_4.png" />
                <%=sky_relaxation%></span></h6>
            <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="8" value="<%=sky_shopping%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span class="themeName" for="8"><img class="themeImg" style="width: 10%;" src="./images/skytips/skyTip_8.png" />
                <%=sky_shopping%></span></h6>
            <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="5" value="<%=sky_transporation_theme%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span class="themeName" for="5"><img class="themeImg" style="width: 10%;" src="./images/skytips/skyTip_5.png" />
                <%=sky_transporation_theme%></span></h6>
            <label class="radiobutton">
                <input type="radio" class="groupCheckbox" id="17" value="<%=sky_other%>" name="operatorsGroup">
                <span></span>
            </label>
            <h6><span class="themeName" for="17"><img class="themeImg" style="width: 10%;" src="./images/skytips/skyTip_17.png" />
                <%=sky_other%></span></h6>
        </div>
    </div>
    <button id="operator-ok" class="themes-ok" style="display: block;">
        <%=sky_ok%>
    </button>
</div>