<div class="menu_skytips skytipsResutls">
<div id="skytipsPage">
	<div>
    <!--div id="ThemeSelect" class="theme" style="display:block;">
    <div id="tipThemeSelect" class="theme" style="display:none;"-->
    <div id="ThemeSelect"><p><%=sky_select_theme%></p>
    <img src="images/down.png" class="arrow_down"/></div>
    </div>
	<div class="tipscount">
		<p class="noOfSkytips">
        
		</p>
		<p class="airports_tips">
        
		</p>
	</div>
	
	<div class="tips_msgs">
        
	</div>
    <div id="noSkyTips">
    </div>
    <ul class="facebook" id="facebookSite" style="display:none;"><li class="white_button"><%=sky_fbaddress%></li></ul>
</div>    
</div>
<div id="blackshade" >
        
</div>
<div class="proferedline-popup" id="tipThemesSelect">
<h2><%=sky_theme_select%></h2>
<div id="operators">
 <div class="scrollforThemes">
 </div>
</div>
<button id="operator-ok" class="themes-ok"><%=sky_ok%></button>

</div>
    
