<div class="proferedline-popup" id="tipThemesSelect">
    <h2><%=sky_theme_select%></h2>
    <div id="operators">
        
        <div class="scrollforThemes">
            <label class="myCheckbox">
                <input type="checkbox" id="selectall" value="selectall" name="operatorsGroup"
                    <% if(SelectedTheme.length === ThemeIds.length) {
                    var allSelected = true;
                    %> checked  <%}%>    />
                    
                    <span></span>
                    </label>
            <h6><span class="themeName" for="selectall"><%=sky_all%></span></h6><hr>
            <%
                var mtipThemeNames = getSetOfTipThemeName(ThemeIds);
                
                for(var i=0,len=ThemeIds.length;i<len;i++){
                    var themeElement = mtipThemeNames[i];%>
            <label class="myCheckbox">
                <%if(allSelected){%>
                   <input type="checkbox" class="groupCheckbox" id="<%= ThemeIds[i] %>" value="<%= ThemeIds[i] %>" checked name="operatorsGroup">
                       <%}else{
                           if( _.contains(SelectedTheme, ThemeIds[i])){%>
                              <input type="checkbox" class="groupCheckbox" id="<%= ThemeIds[i] %>" value="<%= ThemeIds[i] %>" checked name="operatorsGroup">
                           <%}
                           else{%>
                           <input type="checkbox" class="groupCheckbox" id="<%= ThemeIds[i] %>" value="<%= ThemeIds[i] %>" name="operatorsGroup">
                           <%}
                    }%>
                       <span></span>
                    </label>
            <h6><span class="themeName" for="<%= ThemeIds[i] %>"><%= themeElement %></span></h6>
            
            <%}%>
            
        </div>
    </div>
    <button id="operator-ok" class="themes-ok"><%=sky_ok%></button>
    
</div>

<!--
 _.contains(tipThemeIds, "9")
SelectedTheme
-->