<div id="transportation_info" >

    <ul class="transportationPage">
        <li class="transferTerminal">
            <div id="transportationListTransferTerminal_small" class="transportationList_small"><label><%=sky_transfer_terminal%>  </label><img src="images/arrow.png" class="  back2"/></div>
            <div id="transportationListTransferTerminal_high"   class="noclass transportationList_high" >   <label><%=sky_transfer_terminal%></label><img src="images/down1.png" class="flightstatus_arrowdown2"/><br><p> </p></div>
        </li>
        <li class="transferCity">
            <div id="transportationListTransferCity_small" class="transportationList_small">   <label><%=sky_transfer_city%>   </label><img src="images/arrow.png" class="back2"/></div>
            <div id="transportationListTransferCity_high"   class="noclass transportationList_high" >   <label><%=sky_transfer_city%> </label><img src="images/down1.png" class="flightstatus_arrowdown2"/><br><p> </p></div>

        </li>
        <li class="carRental">
            <div id="transportationListCarRental_small" class="transportationList_small">   <label><%=sky_car_rental%>  </label><img src="images/arrow.png" class="    back2"/> </div>
            <div id="transportationListCarRental_high"  class="noclass transportationList_high" >   <label><%=sky_car_rental%>   </label><img src="images/down1.png" class="flightstatus_arrowdown2"/><br><p> </p> </div>

        </li>
        <li class="taxi">
            <div id="transportationListTaxi_small" class="transportationList_small">   <label><%=sky_taxi%>  </label><img src="images/arrow.png" class="    back2"/></div>
            <div id="transportationListTaxi_high"  class="noclass transportationList_high" >   <label><%=sky_taxi%>  </label><img src="images/down1.png" class="flightstatus_arrowdown2"/><br><p> </p></div>

        </li>

        <li class="carParking">
            <div id="transportationListCarParking_small" class="transportationList_small">   <label><%=sky_car_parking%>  </label><img src="images/arrow.png" class="    back2"/> </div>
            <div id="transportationListCarParking_high"  class="noclass transportationList_high"  >  <label><%=sky_car_parking%> </label><img src="images/down1.png" class="flightstatus_arrowdown2"/><br><p> </p>
            </div>
        </li>
    </ul>
    <% if(localStorage.language != "En"){ %>
    <div   class = "transDisc" style="margin: 0 0 0 10px;">
        <p style="font-family: 'HNM';
            color: #838383;
            font-size: 14px;padding-left:3%;line-height: 24px;
           padding-right: 3%;">*<%=sky_lounge_only_english%></p>
    </div>
    <% } %>
</div>








<div class="popUpShade"></div>
<div class="popUp">
    <div class="popUpMessage"><p class="popUpMessage1"></p></div>

</div>


<div id="blackshade" >

</div>