<div class="weather">
    <ul id="weather_info">
        <li><p><%=$.i18n.map.sky_weather_forecast%>  <%=AirportName%>  </p></li>
        
        
        
        <% if(hasValue(ErrorCode) && ErrorCode.length >1){%>
        <li><div class="label_weather"></div></li>
        <li>No Weather forecast available</li>
        
        <%}else{%>
        
        <li>
            <div class="label_weather">
                <p>Min</p><span>Max</span>
            </div>
        </li>
        <%_.each(WeatherDetails,function(weather){%>
        <li>
            <div style="float:left;">
                <p class="date_weather"><%=weather.LocalDate%><sup></sup></p>
            </div>
            <div style="float:left">
                    <img src="images/<%=weather.Image%>.png">
            </div>
            <div style="float:left;"><%=weather.MinTemp%><sup>°</sup><%=TemperatureType%>
            </div>
            <div style="float:left;"><%=weather.MaxTemp%><sup>°</sup><%=TemperatureType%></div>
        </li>
        <% });}%>
        
        </ul>
    
</div>