/** Font imports ttf,eot,woff **/
@font-face {
	font-family: 'HNB';
	src: url("../css/fonts/HNB.eot");
	src: url("../css/fonts/HNB.eot?#iefix") format("eot"), url("../css/fonts/HNB.woff") format("woff"), url("../css/fonts/HNB.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'HNM';
	src: url("../css/fonts/HNM.eot");
	src: url("../css/fonts/HNM.eot?#iefix") format("eot"), url("../css/fonts/HNM.woff") format("woff"), url("../css/fonts/HNM.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'HNL';
	src: url("../css/fonts/HNL.eot");
	src: url("../css/fonts/HNL.eot?#iefix") format("eot"), url("../css/fonts/HNL.woff") format("woff"), url("../css/fonts/HNL.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}