@mixin HNB{
	font-family: 'HNB', sans-serif;
}
@mixin HNM{
	font-family: 'HNM', sans-serif;
}
@mixin HNL{
	font-family: 'HNL', sans-serif;
}


@mixin heights{height:-webkit-calc(100% - 44px);
     height:-moz-calc(100% - 44px);
     height:calc(100% - 44px);}
     
     
@mixin page_shadow{
   -moz-box-shadow:inset 0px 3px 8px -4px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow:inset 0px 3px 8px -4px rgba(0, 0, 0, 0.2);
       box-shadow:inset 0px 3px 8px -4px rgba(0, 0, 0, 0.2);

}

@mixin text_box{
      -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
      -moz-box-shadow:   inset 0px 2px 4px rgba(0, 0, 0, 0.15);
       box-shadow:        inset 0px 2px 4px rgba(0, 0, 0, 0.15);
       background-color:#fff; 
       border-radius:4px; 
       border:1px solid #d7d7d7;
}

@mixin outset_shadow{
      -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
      -moz-box-shadow:    0px 1px 4px rgba(0, 0, 0, 0.4);
       box-shadow:        0px 1px 4px rgba(0, 0, 0, 0.4);
}
@mixin outset_shadow_results{
      -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
      -moz-box-shadow:    0px 1px 4px rgba(0, 0, 0, 0.2);
       box-shadow:        0px 1px 4px rgba(0, 0, 0, 0.2);
}


@mixin outset_shadow_new{
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.3);
       box-shadow:        0px 1px 1px rgba(0, 0, 0, 0.3);
}
@mixin white_btn_gradient{
       background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* ff3.6+ */
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(246,246,246,1))); /* safari4+,chrome */
       background:-webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* safari5.1+,chrome10+ */
       background:-o-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* opera 11.10+ */
       background:-ms-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* ie10+ */
}

@mixin purple_btn{
    border-top: 1.5px solid rgba(255,255,255,0.5);
    -webkit-box-shadow: 0px -1px 0 rgba(113,56,109,.75);
    -moz-box-shadow: 0px -1px 0 rgba(113,56,109,.75);
    -o-box-shadow: 0px -1px 0 rgba(113,56,109,.75);
       box-shadow: 0px -1px 0 rgba(113,56,109,.75);
    background:#9F549D;
    background: -moz-linear-gradient(top,#9F549D 0,#70396E 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#9F549D),color-stop(100%,#70396E));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9F549D',endColorstr='#70396E',GradientType=0);
    
}

@mixin onHover_tab{
      -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
      -moz-box-shadow:   inset 0px 1px 3px rgba(0, 0, 0, 0.15);
       box-shadow:        inset 0px 1px 3px rgba(0, 0, 0, 0.15); 
       @include HNB; 
       font-size:14px;
       border:1px solid #d7d7d7;
       color:#333333; 
       background-color:#ffffff;
}

@mixin offHover_tab{
       @include HNB; 
       font-size:14px;
       border:1px solid #d7d7d7;
       color:#83458B;
       @include white_btn_gradient;
}

