/*********** defaults ************/
@import "reset";
@import "partials/mixins";
@import "partials/fonts";
@-ms-viewport {
    width:100%;
}
$default-width:100%;
$default-height:100%;
$menu-font-colour: #eaeaea;
$menu-header-font: #0B1761;

@mixin blue_font{color:#0B1761;}
@mixin purple_font{color:#83458B;}
@mixin bg{background-color:#f6f6f6;}

/****FONT Styles****/
$header1:26px;
$header2:20px;
$header3:16px;
$header4:14px;
$header5:12px;
$header6:18px;


/* Layout Stylings */
html, body{width: $default-width; height: $default-height; overflow: hidden;}
* {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a {text-decoration: none;}
.wrapper {width: $default-width; height: $default-height; @include bg;}


/*===========================================Menu styles=========================================================== */

#nav{padding-left:10px;width:$default-width; display:table;
    h3{color:$menu-header-font; font-size:$header2; @include HNL;}
    ul{width:$default-width;}
    li{width:$default-width;padding:10px;border-bottom: 1px solid #d7d7d7; border-top:1px solid #fff;
        a {display:table-row;color:#838383; }
        img{display:table-cell;vertical-align:middle; width:20px;}
        label{width:$default-width - 10;font-size:$header4; @include HNB; display:table-cell; text-align:left; vertical-align:middle; padding-left:10px;}
    }
}
/*=========================================End of Menu styles ========================================================*/


/*==================================================== header section ==================================================================*/
header{width:$default-width; top:0px;left:0px;right:0px; height:44px;}
section{left:0px;right:0px;bottom:0px; width:$default-width; @include heights;}
#skyteam{width:$default-width; height:$default-height; display:block; @include bg; @include page_shadow;}
.main_header {display: table; width: $default-width; height: $default-height;
    ul {display: table-row; width:$default-width;
        li:nth-child(1){width:$default-width/5 - 5;
            img{float: left; width:25px;padding:10px 15px;}
        }
        li:nth-child(3){width:$default-width/5;
         img{margin:{right:15px;}  width:20px; float: right;}
            h2{display:none; font-size: $header4; @include HNM; @include purple_font;padding:10px;}
      }
       li:nth-child(2){width:$default-width - 35;
           h2{text-align:center; display:none; font-size:$header2; @include HNL; @include blue_font;}
           img{width:110px; height:30px;margin:0 auto;}
       }
        li {display: table-cell;vertical-align: middle;text-align:center;}
        }
      }

/*========================================================== HOME PAGE ==================================================================*/
/* styles for spot light home page */

.swiper-container {height: 55%;width: 100%;}
.swiper-wrapper{width:100%; height:100%; overflow:hidden;}
.tips_content{height:$default-height !important; position:relative;
    background:url(../images/cabin768.jpg) no-repeat 45%; background-size:$default-width $default-height;
    .blue{bottom:0 !important; height:110px;}
    ul{width:$default-width;height:100px; bottom:0; display:block; position:absolute;
        li{background:#0b1761 url(../images/tips_bg.png) no-repeat 45%; background-size:100%; -moz-opacity:0.8; /* Mozilla */
            opacity: 0.8; height:100%; width:100%; color:#fff; display:block;text-align:center;}
        li p{@include HNM; font-size:$header4; padding-top:4%;padding-bottom:4%;}
        li span{@include HNL; font-size:$header1;}
    }
}

.skytips{background:url(../images/home_bg.png) no-repeat 45%;background-size:$default-width $default-height; color:#fff;
    div{padding-top:13%; text-align:center;}
}

.lounges{font-size:$header4; @include HNM;}
.airport{line-height:33px !important;font-size: $header1; @include HNL;}
.swiper-active-switch {background: #fff;}
.airport_content{
    height:$default-height !important;
    background:url(../images/Airport.jpg) no-repeat 45%;background-size:$default-width $default-height ;
}


.pagination {position: absolute;left: 0;text-align: center;bottom:15px;width: 100%;}
.swiper-pagination-switch {display: inline-block;width: 8px;height: 8px;
    border-radius: 10px;background: #999;margin: 0 5px;cursor: pointer;
}
.swiper-active-switch {
    background: #fff;
}

.content-slide {padding: 20px;color: #fff;}
.main_buttons{height:45%; text-align:center; clear:both; @include page_shadow;}
.main_buttons button {height:44px; width:75%;border-radius:4px;text-align:center;padding-left:6px;padding-top:2px; padding-bottom:2px;}
.main_buttons button img {width: 34px;float: left;}
.main_buttons button h3 {width:82%; line-height:34px;float:left; text-align:center;}
.main_buttons button{ @include outset_shadow;font-size:$header2;@include HNL;color:#fff;
    @include purple_btn;
}

.main_buttons button:nth-child(2){margin-top:3%;}

/*====================================== End of Home Page =========================*/

/* flight details screen */
#flightDetailsContentContainer{width: 95%;
    height: 58%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0% 5% auto;}
#klmimage{width:20%;}
.operatorImg{background-size:100%;}
/*briefcase styles */
.flightsBriefcase{background:#f6f6f6; height:$default-height/2 + 2; width:$default-width;
  h1{padding-top:15px;padding-left:15px; padding-bottom:15px; color:#838383 ;font-size:$header2; @include HNL;}
   }
.scroll{width:99%;height:86%;overflow-y:auto;-webkit-overflow-scrolling:touch;}


/*saved flights styles*/

.savedFlightsairports{width:92%; height:100px; margin: 10px auto;  border-radius:6px;box-shadow: 0 0 10px #b6b6b6;background:#fff;}

.savedFlightsairports ul:nth-child(1){width:100%; padding-top:10px;
  li:nth-child(1) p{padding-left:5px;}
  li:nth-child(3) p{padding-right:8px;}
  li:nth-child(1), li:nth-child(3){width:20%; float:left; @include HNL; font-size:$header6; color:#133069;} 
  li:nth-child(3){text-align:right;}
  li:nth-child(2){width:60%; float:left; text-align:center;
  img{width:80%;}
  }
}
.deleteClass{width:50% !important;margin-top: -3%;}
.savedFlightsairports ul:nth-child(2){padding-top:15px;
    li:nth-child(1) p{padding-left:5px;}
  li:nth-child(4) p{padding-right:5px;}
    li:nth-child(1), li:nth-child(4){@include HNM; font-size:$header4; color:#868686;width:26%; float:left;}
    li:nth-child(4), li:nth-child(3){text-align:right;}
    li:nth-child(2), li:nth-child(3){width:24%; float:left;@include HNB; font-size:$header4; color:#333333;}
   }

.savedFlightsairports ul:nth-child(3){
li{width:100%; float:left; padding-left:5px; @include HNM; font-size:$header5; color:#868686;padding-top:5px;}
li:nth-child(2) label{padding-left:6px;}
}

/*End of saved flights */

#airportList{height:60%; overflow-y: auto; -webkit-overflow-scrolling: touch;}
.airportsBriefcase{background:#f6f6f6;  height:$default-height/2 - 2; width:$default-width; margin-top:10px;
 h1{padding-top:15px;padding-left:15px; padding-bottom:10px;color:#838383;font-size:$header2; @include HNL;}
   }

.airportdiv{ width: 92%;margin:0px auto;background:#fff; display:table;
              border-radius: 6px;box-shadow: 0 0 10px #b6b6b6;margin-top:10px;
            }
.airportinfo{width:85%;padding:10px 0 0px 5px;font-size:$header2;@include HNL;color:#133069;
                p{float: left;width:35%;}
                img{width:35%; float: left; margin-left:4%;}
            }
.arrowimg {width: 10%; margin-top: -3%; text-align:right;}
.arrowimg, .fullairportinfo {float:left;}
.fullairportinfo{width:85%;padding:10px 0 10px 5px;color:rgb(128,128,128); @include HNM; font-size:$header4;}
/*end of briefcase styles*/

.savedFlightsairports ul:nth-child(3) li:nth-child(2) p {label:nth-child(2),label:nth-child(4),label:nth-child(5){color:#83458B;}}

/*Search flight details */
.tripDetails{width:100%;height:100%;-webkit-overflow-scrolling:touch;background: #f6f6f6;text-align:center;}
.tabarea{height:20%; width:100%;}

.tabs {list-style:none; width:98%; margin-left:15px; padding-top:15px;}
.tabs ul{display: block;width:100%; }
.tabs li{margin-top:15px;
    
    display:inline-block;
    width:$default-width/2 - 10;
    padding:10px;
    float:left;
    vertical-align: middle;
    text-align: center;
    font-size:$header4;
    @include HNB;
    a{padding:10px 15px;}
    }
 .tabs li:first-child{  
      border-radius:6px 0px 0px 6px;
      
      
}
.tabs li:last-child{   
      border-radius:0px 6px 6px 0px;
}

.iconPlane h3{@include HNL; font-size:$header2; }
/* End of Search flights */


.savedFlights-container{height:18%;background-color:#fff; display: none;}



/************* saved flights css **************************/
.header3{padding-top:5px;}
.highlightDays{
    color:#83458B !important;
}
#savedFlights{padding-top:0%;}
.savedFlightsResults1{ width:84%;float:left;margin-left:18px;
  ul{width:100%;}ul:nth-child(1){padding-top:2%;}
  li{padding-top:1%;}
  ul:first-child li:nth-child(1), ul:first-child li:nth-child(3){
  width:19%;color:$menu-header-font;font-size:$header6;
  @include HNL;float: left;
  }
    ul:first-child li:nth-child(3){text-align:right;padding-left:4%;}
    ul:first-child li:nth-child(2){width:49%;padding-top:2%;float: left;
        img{margin: 0% 4%;padding: 0;width: 100%;margin-top: 3%;}
    }
ul:nth-child(2) li:nth-child(1), ul:nth-child(3) li:nth-child(1),ul:nth-child(4) li:nth-child(1), ul:nth-child(1) li:nth-child(1){margin-left:8%;}
ul:nth-child(2) li:nth-child(1){@include HNM; font-size:$header4; color:#838383; width:46%; float:left;}
ul:nth-child(2) li:nth-child(2){@include HNM; font-size:$header4; color:#838383; width:46%; float:right; text-align:right;}
ul:nth-child(3) li:nth-child(1){@include HNM; font-size:$header4; color:#838383; width:25%; float:left;}
ul:nth-child(3) li:nth-child(2){@include HNB; font-size:$header5; color:#333; width:20%; float:left;padding-top:1.5%;}
ul:nth-child(3) li:nth-child(3){@include HNB; font-size:$header5; color:#333; width:20%; float:left;text-align:right;padding-top:2.5%;}
ul:nth-child(3) li:nth-child(4){@include HNM; font-size:$header4; color:#838383; width:27%; float:left;text-align:right;}

    ul:nth-child(4) li:nth-child(1){@include HNM; font-size:$header4; color:#838383; width:80%; float:left; padding-bottom:0px;}

    ul:nth-child(4) li:nth-child(2){padding-bottom:2%;}
}
.arrow img{margin-top:12%;margin-left:4%;width:10px;}


.date-popup,.proferedline-popup,.moreOptionsDetails{z-index:99999999;   position: absolute;  left:8px;
    top:10px;width:95%;height:auto;background:#fff;padding-bottom:2px;
border-radius:4px;
h2{padding:4% 3%;
color:$menu-header-font ;
font-size:20px; 
@include HNL;
}
}

.proferedline-popup{overflow-y: auto;
    -webkit-overflow-scrolling: touch;width:100%;}
.moreOptionsDetails{ width:95%; height:70%;}

.flightcontent{
  width:100%;
  height:auto;
  background:#f6f6f6;
  
input[type=text]{
   width:91%;
   padding:12px 10px;
   font-size:$header3;
   color:#838383;
   @include HNL;
   -moz-box-shadow: inset 0 5px 2px -6px #000;
-webkit-box-shadow: inset 0 5px 2px -6px #000;
box-shadow: inset 0 5px 2px -6px #000;
   background: #fff url(../images/icon_search.png) no-repeat 96% 8px;
    background-size:$default-width - 92;padding-right:13%;
border:1px solid #cdcdcd;
border-radius:6px;
}
}
.datecalender button{ background:url(../images/calendar.fw.png) no-repeat 3% 12px;
    background-size:$default-width - 92;
    padding:12px 10px;width:91%;
    margin:10px 15px;
    font-size:$header3;
    @include HNL;
     border-radius:4px;
    color:#838383;

-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
-moz-box-shadow:    0px 1px 3px rgba(0, 0, 0, 0.4);
box-shadow:         0px 1px 3px rgba(0, 0, 0, 0.4);
border:1px solid #d7d7d7;
     
     li{
      
       list-style:none;
       float:left;
     }
     li:nth-child(1){
       margin-left:11%;
       text-align:left;
       color:darken($menu-font-colour,25%);
    }
  }
#departure, #arrival{@include HNB; font-size:$header5; color:#333333;}
  #moreOptions,#search,#saveFlightbutton{
    padding:1% 2%;width:$default-width - 20;
     border-radius:6px;
      color:#fff;
      border-color:rgb(173,173,173);
       }
  #lessoptions {
padding: 3% 3%;
width: 92%;
margin: 2% 8% auto;
border: 1px solid black;
border-radius: 6px;
color: white;
border-color: #ADADAD;
}
#search,#saveFlightbutton{
   font-size:$header3;
   border:none;
   border:none;
   border-radius:6px;
   font-size:$header3;
   img{width:34px;float:left;}
    @include purple_btn;
    h3{line-height:34px;}
}
hr{width:84.5%; text-align:center; border:1px solid #e0e0e0}
  #moreOptions,#lessOptions{
     font-size:16px; 
    font-weight:bold;
color: #83458B;}

#today,#ok{
display:none;
padding: 3% 1%;
font-size:14px;
border-radius: 4px;
z-index: 99999999;
position: absolute;
background:#fff;
border:none;
font-weight:bold;
    color:#83458B;margin-top:12px;}
#today{
 width:20%;
left: 0px;
}
#ok{ width:18%;
right:0px;
}
.moreOptionsDetails{
  padding:1% 0%;width:94%;
   /* margin:1%;*/
    font-size:16px;
    @include HNL;
}

/*search flight results */

.searchresults_wrapper{height:100%;width:100%;}
.searchresults_text{height:15%;width: 100%; margin-top: 5px;
 ul{list-style:none;color:gray;li{padding:{top:2px;bottom:2px;}}
 h2{display: inline;padding:2px;font-size: $header5;margin-left:15px;margin-left:0%;}
 li:nth-child(1){padding:{top:2% !important;bottom:2% !important;}
 h1 {font-size:$header4;margin-left:15px; font-weight:400;} 
 }
 }
 }
.searchresultstabs{clear:both;width:94%;margin-top:1%;padding:0%;display:inline-block;margin-left:3.5%;
    div {
        margin-right: 1px;
        border-color:
        #d7d7d7;
        background:
        #fff;
        display: inline-block;
        width: 31%;
        padding: 2%;
        float: left;
        vertical-align: middle;
        text-align: center;
    }
  div:nth-child(1) 
    {width:25%;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
   
  }
  div:nth-child(4)
  {
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    width:17% !important;
   
    
  }
  div:nth-child(2)
  {
    width:15% !important;
    
  }
   div:nth-child(3)
  {
    width:24% !important;
    
  }
  
}

.flightresultsdiv{
  height:auto !important;
  padding-top:3%;
  margin-left:1.5%;
  border:1px solid rgb(214,212,210);
  border-radius:14px;
  display:inline-block !important;
  width:96%;
  }

.searchrersultssublist
   {
    margin-top:0% !important; 
     
   }


#contentContainer{
    margin:0 auto;

.searchresultslist
  {
    list-style:none;
    width:100%;
    height:60%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    li .searchrersultssublist
    {
      height:auto;
      margin-top:3% !important;
      padding:{
        top:3%;
        bottom:3%;
      }
    }
    
    
  }
    #oneWayFilter{float:right;color:
        #83468b;margin: 2% 4% 2% 0%;}
  
}

.searchresultslist li:first-child div{margin-top:0px;}
.savedFlightsResults, .savedFlightsReturnResults
{ width:96%; border-radius:6px;background-color:#ffffff; @include outset_shadow; margin:10px auto 10px 8px;
ul{width:100%;}
  li{
    padding-top:2%;
      padding-bottom:0%;
      color:darken($menu-font-colour,30%);
  }
  ul:first-child li:nth-child(1), ul:first-child li:nth-child(3){
    width:20%;
  color:$menu-header-font;
  font-size:18px;
  float: left;
    text-align:right;
  }
   ul:first-child li:nth-child(3){
  
    text-align:left;
  }
   ul:first-child li:nth-child(2){ width:50%;
  padding-top:2%;
  float: left;}
   ul:first-child li:nth-child(2) img{
     margin:0% 10%;padding:0}
    ul:nth-child(2) li{
    width:22%;
 text-align:center;
   float: left;
  }
}

.savedFlightsReturnResults
{
  border-top: 1px solid rgb(214,212,210);
  width:100%;
 display:none;
}
#roundtripresult
{
 /* display:none;*/
  
}



.search_text{
  width:100%;
  height:20%;
  border:1px solid green;
}



/*More Options*/
#dropdown{
  background:url(../images/downarrow.png) no-repeat  95% 10px; 
 padding: 3.5% 0%;
    width: 94%;
    margin: 9% 2%;
border: 1px solid black;
border-radius: 6px;
color:#8c8c8c;
font-size:16px;
}
.moreOptionsDetails{
    display: none;
    #stopsDiv{
        width:100%;
        height: 30%;
        position: relative;
        p:nth-child(1){
            margin: 5% 3%;
        }
        #slider {
        width:90% !important;
        height: 10px;
        position: relative;
        background: #fff;
        @include text_box;
    }
    p:nth-child(3) {
        float: left;
        margin-top: 0%;
        margin-left: 7%;
        width: 2%; }
    p:nth-child(4) {
        float: left;
        margin-left: 29%;
        margin-top: 0%;
        width: 14%; }
    p:nth-child(5) {
        float: left;
        margin-left: 16%;
        margin-top: 0%;
        width: 20%; }
    p:nth-child(6) {
        float: left;
        margin-left: 5%;
        margin-top: 0%;
        width: 5.5%;
    }
    
    }
    #labels{
      
        p:nth-child(1){
            width: 3%;margin-left: 2%;
        }
        p:nth-child(2){
            margin-left: 32%;width: 18%; margin-top: -15%;
        }
        p:nth-child(3){
            margin-left: 61%;width: 19%; margin-top: -11%;
        }
        p:nth-child(4){
            margin-left: 86%; margin-top: -11%;
        }
    }
}

.silder2 {
    p:nth-child(1){
        margin: 6% 3%;
        
        
    }
    #time{
        border:1px solid gray;
        position:relative;
        top:-12px;
        background-color:
        white;border-radius: 4px;
    }
    #time1{
        border:1px solid gray;
        position:relative;
        top:-12px;
        background-color:white;
        border-radius: 4px;
    }
    #slider2 {
        width: 90%;
        height: 10px;
        position: relative;
        background: #fff;
        @include text_box;
        }
    p:nth-child(5) {
        float: left;
        margin-top: 0%;
        margin-left: 5%; }
    p:nth-child(6) {
        float: left;
        margin-left: 23.2%;
        margin-top: 0%; }
    p:nth-child(7) {
        float: left;
        margin-left: 5%;
        margin-top: 0%; }
    
    
}
#labels1{
    p:nth-child(1) {
        float: left;
        margin-left: 25%;
        margin-top: 0%; }
    p:nth-child(2) {
        float: left;
        margin-left: 93%;
        margin-top: -7%%;
    }
}

#schedule{
    margin-left:10px;
  float:left;
  width:30px;
  height:30px;
    background:#fff;
    @include outset_shadow;
    border:1px solid #d7d7d7;

}
input[type="checkbox"]:checked{background:#fff; border:1px solid #d7d7d7;}

.proferedline-popup{
  display:none;
  z-index:99999999;
     position: absolute;
  left:8px;top:48px;width:95%;height:65%;background:#fff;
  border-radius:6px;
  h2{
    padding:4% 3%;color:#133069;font-size:20px;
  }
}
.scrollforoperators{  
  height:50%;
  overflow-y:auto;
    -webkit-overflow-scrolling:touch;
    overflow-x:hidden;}
#operators{
  margin: 0 5%;
   input[type=checkbox]{
width: 25px;
height: 25px;
float:left;}
h6{
  padding:4% 15%;
}}
input[type="checkbox"] + label span {
display: inline-block;
width: 10%;
height:11%;
margin: -1px 4px 0 0;
vertical-align: middle;
background: url(../images/check-no.png) left top no-repeat;
cursor: pointer;
}
/*input[type="checkbox"] {
display: none;
}*/
input[type="checkbox"] + label {
display: block;
padding: 1.5% 0%;

}
.moreOptionsDetails input[type="checkbox"] + label {
    margin-left:4%;
    
}
.scrollforoperators input[type="checkbox"] + label {
padding: 4% 0%;

}
.scrollforoperators input[type="checkbox"] + label span {
width: 10%;
height:17%;}
input[type="checkbox"]:checked + label span {
 background:url(../images/check-yes.png) no-repeat !important;
}
#operator-ok,#moreOptions-ok{
display: none;padding: 4% 1%;font-size:18px; border-radius: 6px; z-index: 99999999;position: absolute;background:#fff;border:none;font-weight:bold;color:#83458B;width:20%;
  right:8px;}
  /*.departure{
    display:none;
  }*/
#operators input[type="checkbox"] {border:1px solid #d7d7d7;}

  /*** Airports    *****/
.airports_wrapper{width:100%; height:100%;}
.airports_image{width:100%;height:30%;background:url("../images/Airport.jpg") no-repeat;background-size:100%;clear:both;
.airport_name{line-height:18px;}
}
.airport_name{width:100%;height:12%;background:url("../images/tips_bg.png") no-repeat;
background-size:100% 100%;position:absolute;top:26%;clear:both;
h1{text-align:center;color:#fff;margin-top:2%;
@include HNL; font-size:$header2;
}

h6{
text-align:center;
color:white;
margin-top:2%;
@include HNM; font-size:$header4;
}
}

.airports_temp{
  width:100%;
  clear:both;
  height:8%;
  border-bottom: 1px solid $menu-font-colour;
 
  ul{
  width:100%;
  height:100%;
  
  
  li{
 float:left;
  width:25%;
  height:98%;
  margin-left:4px;
  
  img{
  margin-top:25%;
      width:100%;
  }
 
  
  p{
  color:$menu-header-font;
  font-size:$header2;
  text-align:right;
  margin-top:14%;
  @include HNL;
  }
  sup{float:left;margin-top:12%;}
}
li:nth-child(1){
width:16% !important;
margin-top:0% !important;
    p{margin-top:20%;}
}
li:nth-child(2){
width:10% !important;



}
li:nth-child(3) p{
float:left !important;
    font-size:$header2;

}

li:nth-child(4){float:left !important;margin-left:10%;width:32%;
  span{width:44%;display:inline-block;color:$menu-header-font;padding-top:12%;margin-top:0%;padding-left:5%;@include HNL; font-size:$header2;}
 .gmt{float:right; color:#adadad;@include HNM;font-size:$header5;padding-top:20px;}
}


}
  }
  
  .airport_facility{
  width:100%;
  height:30%;
  margin-top:2% !important;
  display:table;

 
 ul{
 width:100%;
 height:100%;
}
 
 li{
 width:$default-width;
 height:20%;
     padding: 1% 4% 1% 6% ;
     border-bottom: 1px solid $menu-font-colour;
   
     
     a { 
       color:darken($menu-font-colour, 30%);
        font:{
          size : $header4; 
         } 
     label,img{
     
       vertical-align:middle; 
     }

     label{padding-left:5%;
     width:$default-width - 20;
     font-size:$header4; @include HNM;
     }
     img{
     width:8%;
    
     }
     }
 }
}

.airport_facility ul li:nth-child(4) a img{width: 10%;
    margin-left: -2%;
    margin-top: 1%;}
.airport_buttons{margin-top:4%;display:block;
  h3{@include HNM; font-size:$header4;}
}
.airport_buttons button {
  border:1px solid #d7d7d7;

  margin:0% 0 0 7%;
  width:$default-width - 60;
    padding: 2% 4% 2% 4%; 
    float:left;
    
    border-radius:4px;
    font-size:$header5 - 2;
    color:#83458B;
    img{
     width:11%; 
     margin-left:12%;
    float:left;
   
    }
   
    }
.save_buttons{margin-top:15%;background:#f6f6f6;}
.save_buttons button {
  background: #9e5b9f; /* Old browsers */
background: -moz-linear-gradient(top, #9e5b9f 0%, #c48bbc 2%, #a44496 5%, #793270 93%, #692960 95%, #6a2e68 98%, #a28da2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e5b9f), color-stop(2%,#c48bbc), color-stop(5%,#a44496), color-stop(93%,#793270), color-stop(95%,#692960), color-stop(98%,#6a2e68), color-stop(100%,#a28da2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #9e5b9f 0%,#c48bbc 2%,#a44496 5%,#793270 93%,#692960 95%,#6a2e68 98%,#a28da2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #9e5b9f 0%,#c48bbc 2%,#a44496 5%,#793270 93%,#692960 95%,#6a2e68 98%,#a28da2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #9e5b9f 0%,#c48bbc 2%,#a44496 5%,#793270 93%,#692960 95%,#6a2e68 98%,#a28da2 100%); /* IE10+ */
background: linear-gradient(to bottom, #9e5b9f 0%,#c48bbc 2%,#a44496 5%,#793270 93%,#692960 95%,#6a2e68 98%,#a28da2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e5b9f', endColorstr='#a28da2',GradientType=0 ); /* IE6-9 */
  
  margin:2% 13% auto 10%;
  width:$default-width - 20;
    padding: 2%; 
    border:none;
    border-radius:8px;
    font-size:$header4 + 2;
    color:#83458B;
    img{
     width:14%; 
     float:left;
    
   }
   h3{
   color:white;
   
   margin-top: 1%;
margin-left: 15%;
float: left;
   @include HNL; font-size:$header2;
    }
   
    }
 #flightSearchid img{
   width:5%;
   margin-left:2%;
 }
#flightSearchid  label {
padding-left: 8%; }

.save_buttons button h3 {
margin-top: 2.5%;
margin-left: 8%;}


/**Overriding**/
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    background:#e6e6e6 url(../..images/range.png) 50% 50% repeat-x;border: 3px solid
#fff;}
.ui-datepicker th {padding: .7em 0.1em;font-weight: normal;font-size: 14px;}
.ui-datepicker td {padding:2px;}
#hasDatepicker .ui-widget-content{width:100% !important;}
.date-popup{left:10px; width:93.75%;}
  .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    background: #D6D6D6 !important;
  }
.ui-datepicker table {width:90% !important; margin:0 auto !important;}
  
.ui-datepicker {
    padding:0 !important;
    width: 15.5em !important;}
.ui-datepicker td span, .ui-datepicker td a {
    padding: 0.6em!important; text-align:center;font-size:$header3;}
.ui-widget-content {
    border: none !important; margin:0 auto !important; width:100% !important;padding:0 auto !important; @include HNM; font-size:$header4;}
.ui-datepicker .ui-datepicker-title {
  border-top:1px solid $menu-font-colour  !important;
   border-bottom:1px solid $menu-font-colour !important;
   margin:0 auto !important;
   width:96% !important;
    line-height:2.3em;font-size: 18px;
}
.ui-datepicker-calendar thead th span {text-transform:uppercase;}
.ui-datepicker-title{color:$menu-header-font;}

.ui-datepicker-month,.ui-datepicker-year{font-weight:normal;}
.ui-state-default:not(.ui-datepicker-today), .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border:none !important;
  //background:#f6f6f6 !important;
  }
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border: 1px solid #aaaaaa  !important;
 background:#e6e6e6 !important;}
.ui-datepicker-calendar thead th span{color:darken($menu-font-colour,30%) !important;font-weight:normal !important;}
.ui-datepicker-prev{margin-left:0% !important;background:url(../images/left_purple_arrowcopy.png) no-repeat 45% 12px !important;background-size:28%;padding:7px;}
  .ui-datepicker-next{margin-right:0% !important;background:url(../images/right_arrow.png) no-repeat 45% 12px !important;background-size:28%;padding:7px;}
  
.ui-widget-content a{color:#838383 !important; @inlcude HNL; font-size:$header3;}
  
  /*styles for about skyteam */
.shadow{width:100%; hight:20px;background-color:green; background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(246,246,246,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(246,246,246,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(246,246,246,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(246,246,246,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(246,246,246,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(246,246,246,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00f6f6f6',GradientType=1 ); /* IE6-9 */}


.skyteam_about{width:$default-width; height:$default-height - 8;  overflow-y: auto;
    -webkit-overflow-scrolling: touch; }
.abt_skyteam{width:$default-width;
  ul{width:$default-width - 10; margin:0 auto;
    li:nth-child(1){@include HNL; font-size: $header2;color:#838383;padding:15px 0;}
    li:nth-child(2){@include HNM; font-size: $header5;color:#333333; padding-bottom:10px;}
      li:nth-child(3),li:nth-child(4){width:90%; height:14px; border:1px solid #D7D7D7; @include HNB; a{color:
      #83458B;}
    font-size:$header4; color:#83458B; text-align:center; padding:10px 0; border-radius:6px; margin:0 auto;margin-top:5px;}
    
    li:nth-child(5){border-bottom:1px solid #D7D7D7; padding:5px 0; }
  }
  
}

.mem_skyteam{width:$default-width;
  ul{width:$default-width - 10; margin:0 auto;
    li:nth-child(1){@include HNL; font-size: $header2;color:#838383;padding:15px 0;}
    li:nth-child(2){@include HNM; font-size: $header5;color:#333333; padding-bottom:10px;}
  }
}

.members{width:$default-width; margin-top:10px;
  ul{width:$default-width - 16; margin:0 auto;
    li{width:$default-width/2 - 5; height:40px; float:left; border:1px solid #d7d7d7; border-radius:6px; margin-bottom:10px;}
    li:nth-child(2n+1){float:left;}
    li:nth-child(2n+2){float:right;}
    li:nth-child(1){background: #fff url(../images/members/SU-Logo.png) no-repeat center center; background-size:100%;}
    li:nth-child(2){background: #fff url(../images/members/AR-Logo.png) no-repeat center center; background-size:100%;}
    li:nth-child(3){background: #fff url(../images/members/AM-Logo.png) no-repeat center center; background-size:100%;}
    li:nth-child(4){background: #fff url(../images/members/UX-Logo.png) no-repeat center center; background-size:100%;}
    li:nth-child(5){background: #fff url(../images/members/AF-Logo.png) no-repeat center center; background-size:100%;}
    li:nth-child(6){background: #fff url(../images/members/AZ-Logo.png) no-repeat center center; background-size:100%;}
    li:nth-child(7){background: #fff url(../images/members/CI-Logo.png) no-repeat center center; background-size:100%;}
    li:nth-child(8){background: #fff url(../images/members/ChinaEastern.png) no-repeat center center; background-size:100%;}
    li:nth-child(9){background: #fff url(../images/members/CZ-Logo.png) no-repeat center center; background-size:100%;}
    li:nth-child(10){background: #fff url(../images/members/OK-Logo.png) no-repeat center center; background-size:100%;}
    li:nth-child(11){background: #fff url(../images/members/DL-Logo.png) no-repeat center center; background-size:100%;}
    li:nth-child(12){background: #fff url(../images/members/KQ-Logo.png) no-repeat center center; background-size:100%;}
    li:nth-child(13){background: #fff url(../images/members/KL-Logo.png) no-repeat center center; background-size:100%;}
    li:nth-child(14){background: #fff url(../images/members/KE-Logo.png) no-repeat center center; background-size:100%;}
    li:nth-child(15){background: #fff url(../images/members/ME-Logo.png) no-repeat center center; background-size:100%;}
    li:nth-child(16){background: #fff url(../images/members/SV-Logo.png) no-repeat center center; background-size:100%;}
    li:nth-child(17){background: #fff url(../images/members/RO-Logo.png) no-repeat center center; background-size:100%;}
    li:nth-child(18){background: #fff url(../images/members/VN-Logo.png) no-repeat center center; background-size:100%;}
    li:nth-child(19){background: #fff url(../images/members/MF-Logo.png) no-repeat center center; background-size:100%;}
  }
}
 
 
 /* end of about sky team*/

.white_button{background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 */

}

/*airport search*/
.airports_main{width:$default-width; height:$default-height;@include page_shadow;}
.search_airport{width:100%; height:10%%;padding-top:15px; padding-left:3%;
  ul{width:94%; height:45px; display:block;
      li{width:100%; height:100%; display:block;
          
          input[type=text]{
            margin:0 auto;
                font-size:$header3;
                color:#838383;
                 @include HNL;
              @include text_box;
                  background: #fff url(../images/icon_search.png) no-repeat 96% 8px;
                  background-size:$default-width - 92;padding-right:13%;
                  border:1px solid #d7d7d7;
                  border-radius:6px;
                  padding-top:10px; padding-bottom:10px;
                  }
        }
      
    }
  }
.map_area_canvas{width:100%; height:60%;margin-top:10px;}
.two_tabs{width:100%; height:30%;

    ul{width:90%; margin:0 auto;
      li:nth-child(1){border-radius:6px 0 0 6px;margin-left:6px;}
            li:nth-child(2){border-radius:0px 6px 6px 0px; border-left:0px;}
      li{width:45%; float:left;text-align:center; border:1px solid #d7d7d7; @include HNM; font-size:$header4;padding:8px 4px; 
          margin-top:30px; 
        }
    
    }
}
.list_maps{
overflow-y:scroll !important;
height:60%;width:94%; margin:0 auto;
}


.airport_list{height: auto; @include HNM; font-size:$header3; color:#838383; line-height:18px;
    border-bottom:1px solid #d7d7d7 !important;



ul{
width:100%;

display:table;
padding: 3% 0;
li{
width:100%;


vertical-align:middle;

p:first-child{
width:68%;
float:left;
display:table-cell;
vertical-align:middle;
padding-left:2%;
}

p:nth-child(2){

width:5%;
float:left;
display:table-cell;
vertical-align:middle;
}


p:nth-child(3){

width:20%;
float:left;
text-align:right;
vertical-align:middle;

display:table-cell;
}
}
}
}


/*End of airport search*/





/*members info*/
.member_info{width:$default-width; height:$default-height; @include page_shadow; background:#fff;}
.member_name{width:$default-width - 4; height:20%;
  ul{width:$default-width; height:$default-height;
  li{width:$default-width/2 - 2; height:$default-height; float:left;}
  li:nth-child(1){border-right:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7;
   background:url(../images/members/ChinaEastern.png) no-repeat center center; background-size:50%;}
      li:nth-child(2){ border-bottom:1px solid #d7d7d7; text-align:left;padding-left:10px;
      p,span{padding-top:20px; @include HNM; font-size:$header3;padding-bottom:5px;}
  span{@include HNM; font-size:$header4; color:#838383;padding-top:2px;}
  }
  }
 }
.mem_website{width:100%; height:20%;padding-top:20px;
  ul{width:80%; margin:0 auto;margin-top:10px;
  li{width:100%; border-radius:6px; border:1px solid #d7d7d7; text-align:center; padding-top:10px;padding-bottom:10px;}
  }
 }
.mem_info{width:$default-width; height:60%;
ul{width:90%; margin:0 auto;}
  p{ @include HNL; font-size:$header2; padding-bottom:10px;color:#838383;}
    span{@include HNB; font-size:$header5; color:#838383;line-height:15px;}
}
/*end of member Info*/


/* loader */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 123, 123, 123, .3 );
    position:absolute;
    .shade{height:20%;
        width:90%;
        margin-top: 60%;
        background:#fff  url('../images/AjaxLoader.gif')
        50% 70%
        no-repeat;margin-left:5%;border-radius:8px;}
    p{width: 80%;color:#83458B;padding: 0% 12%; text-align: center;@include HNL;font-size: 16px;padding-top: 5%;}
}
/* end of loader */


/*Lounges*/
.loungeScroll{margin-left: 5%;width: 90%;overflow-y: auto;
    -webkit-overflow-scrolling: touch;height:75%;margin-top: 3%;}
.loungeFinder{background:#f6f6f6;height: 96%; @include page_shadow;}
#airport_name{ display: table-cell;
    
    text-align: left;width: 90%;
    margin: 6% 5%;padding:3% 2%;color: #838383;-moz-box-shadow: inset 0 5px 2px -6px black;-webkit-box-shadow: inset 0 5px 2px -6px black;box-shadow: inset 0 5px 2px -6px black; padding-right: 13%;
      
        font-size:$header3;
        @include HNL;
        background: #fff url(../images/icon_search.png) no-repeat 96% 8px;
        background-size:$default-width - 92;padding-right:13%;
        border:1px solid #cdcdcd;
        border-radius:6px;
        
        


}
.searchResultNumber{margin-top: -2%;margin-left: 8%;color: #838383;width: 80%;font-size: 20px;@include HNL;}

.airportss{margin-top:2%;margin-left: 8%;color: #838383;width: 80%;font-size: 12px;@include HNM;line-height: 16px;}



.loungeDetail{margin-top: 3%;width: 99%;background:#fff;border: 1px solid #CDCDCD;border-radius: 6px;
    ul{
        li{height: 8%;
            width:15%;
            float:left;margin:1% 0%;}
    }}
.loungeName{margin-top: 3%;margin-left: 3%;width: 95%;
    font-size: 14px;@include HNM;color:#0B1761;}
.loungeLocation{color: #838383;margin-top: 2%;margin-left: 3%;width: 95%;font-size: 12px;@include HNB;margin-bottom: 2%;}

.timeDetails{margin-left: 3%;margin-bottom: 2%;
    padding-top:2%;
    width: 95%;
    font-size: 12px;
    @include HNB;
    clear: both;font-size: 12px;@include HNB;}
.details{margin-top: 1%;margin-left: 3%;line-height: 18px;padding-bottom: 3%;width: 95%;font-size: 12px;@include HNB;}
#shower-TRUE{background:url(../images/lf1.png) no-repeat 70% 4px; background-size:100% 100%;}
#accessDisabled-TRUE{background:url(../images/lf2.png) no-repeat 70% 4px; background-size:100% 100%;}
#wifiFree-TRUE{background:url(../images/lf3.png) no-repeat 70% 4px; background-size:100% 100%;}
#wifiPaid-TRUE{background:url(../images/lf3.png) no-repeat 70% 4px; background-size:100% 100%;border:1px solid black;}
#contracted-TRUE{background:url(../images/lf4.png) no-repeat 70% 4px; background-size:100% 100%;}
#shower-FALSE,#accessDisabled-FALSE,#wifiFree-FALSE,#wifiPaid-FALSE,#contracted-FALSE{display:none;}
.notes{border: 1px solid blue;background: whiteSmoke; margin-top: 3%;width: 99%;border: 1px solid #d7d7d7;border-radius: 6px;
    p {margin-left: 3%;margin-top: 5%;padding-bottom:3%;color:  #838383;line-height: 18px;font-size: 12px;@include HNB;text-align: left;
        a {font-size: 14px}}
}
.readmore{@include purple_font;}
/*lounges end*/

/*flight details santosh*/
.flightdetails_view{
    width:100%; height:100%;  background-color:#f6f6f6;
}

.flight_info{width:86%; height:auto;  float:right;
    ul{width:100%;color:#838383; margin-bottom:10px;
        li:nth-child(1){@include HNL; font-size:$header2;}
        li:nth-child(2),li:nth-child(3),li:nth-child(4){@include HNM; font-size:12px;}
        li{width:100%;padding: 1.5% 1%;}
    }
}
/* modifed kalyani */
.flight_details_info{
overflow-y: auto;
    -webkit-overflow-scrolling: touch;
clear:both; width:96%; height:69%;margin:0 auto;}
.departure_details{width:100%; height:100%;}
.line{width:10%; height:auto;  float:left;}
.status{width:90%; height:75%; float:left;

div{margin-bottom:4%;} }


.departure_zone {box-shadow: 0 0 10px #b6b6b6;
    
    background-color:#fff;
    position: relative;
    
    border: 1px solid #ccc;border-bottom:0px; border-radius:6px 6px 0 0;
    width:94%; margin:0 auto;
    height:60px;
    li:nth-child(1){@include HNL; font-size:20px; color:$menu-header-font;width:20%; float:left;padding:5px 2px;p{padding-bottom:3px;padding-left:5px}span{padding-left:5px;}}
    li:nth-child(2){@include HNM; font-size:14px; color:#333333;width:65%; float:left;overflow:hidden;padding:5px 0 2px 10px;span{padding-top:5px;color:#838383;}}
    li:nth-child(3){font-size:20px; color:$menu-header-font; font-weight:800; overflow:hidden;padding-top:20px; float:left; img{width:10px;}}
}
.departure_zone:after, .departure_zone:before {
    right: 100%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    
}

.departure_zone:after {
    border-color: rgba(136, 183, 213, 0);
    border-width: 6px;
    top: 15px;
    margin-top: -8px;
    border-right-color: #fff;
}
.departure_zone:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #ccc;
    border-width: 8px;
    top: 13px;
    margin-top: -8px;
    
}


.last_arrow {-moz-box-shadow: 0 3px 10px 0 #b6b6b6;
    -webkit-box-shadow: 0 3px 10px 0 #b6b6b6;
    box-shadow: 0 3px 10px 0 #b6b6b6;
    background-color:#fff;
    position: relative;
    height:60px;
    border: 1px solid #ccc; border-radius:0 0px 6px 6px; border-top:0px;
    width:94%; margin:0 auto;
    li:nth-child(1){@include HNL; font-size:20px; color:#0B1761;width:20%; float:left;padding:5px 2px;p{padding-bottom:3px;padding-left:5px}span{padding-left:5px;}}
    li:nth-child(2){@include HNM; font-size:14px; color:#333333;width:65%; float:left;overflow:hidden;padding:5px 0 2px 10px;span{color:#838383;}}
    li:nth-child(3){font-size:20px; color:$menu-header-font; font-weight:800; overflow:hidden;padding-top:20px; float:left; img{width:10px;}}
    
}
.last_arrow:after, .last_arrow:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    
}

.last_arrow:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #fff;
    border-width: 6px;
    top: 72%;
    margin-top: -5px;
}
.last_arrow:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #ccc;
    border-width: 8px;
    top: 74%;
    margin-top: -8px;
}


.mem_flight{ position: relative;box-shadow: 0 0 0px #b6b6b6;
    background-color:#fff;
    border: 1px solid #ccc;
    width:94%; margin:0 auto;
    height:120px;
    li:nth-child(1){width:20%; float:left;@include HNL; font-size:14px; color:#DB900D;padding-left:5px; @include HNM; font-size:14px;padding-bottom:5px;p{padding-top:10px;}span{line-height:20px;}}
    li:nth-child(2){@include HNL; font-size:14px; color:#333333;width:78%;
        float:left;ul{margin-left:5px;}
        ul li{padding-top:4px;}
        ul li:nth-child(1){height:40px; width:150px;background:no-repeat 85% 50%;}
        li:nth-child(2),li:nth-child(3), li:nth-child(4),li:nth-child(5){width:100%; @include HNB; font-size:12px;}li:nth-child(2){padding-bottom:5px;}
    }
    
}


.line{
    ul{width:100%; height:100%;
       
        li:nth-child(even){height:120px;background:url(../images/stopover.png) no-repeat 49% 2px; background-size:45% 268%;;margin-top:-20px;}
        li:nth-child(odd){ background-color:yellow; height:232px; background:url(../images/stop_verq.png) no-repeat 30% 8px;background-size:50% 97%; margin-left: 4px;
            margin-top: 2px;}
    }
}



.stopover{width:98%; height:60px; padding-top:10px;}
.stop {box-shadow: 0 0 10px #b6b6b6;border-top:1px solid #ccc;
    background-color:#fff;
    position: relative;
    height:35px;
    border: 1px solid #ccc; border-radius:6px; border-top:0px;
    width:94%; margin:0 auto;
    li:nth-child(1){@include HNM; font-size:14px; color:#333;width:100%; float:left; padding-top:10px;padding-left:10px;}
    margin-top:5px;
}
.stop:after, .stop:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.stop:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #fff;
    border-width: 5px;
    top: 50%;
    margin-top: -5px;
}
.stop:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #fff;
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}/*end of Flight Details */


/*settings page*/
.settings{background: #f6f6f6;  overflow-y: auto; @include page_shadow;
    -webkit-overflow-scrolling: touch;height:85%;padding:12px;
  p{font-size: 16px; color:#838383; @include HNL;padding-top: 20%;}
 
  ul.tab1{list-style: none;padding-top: 1%;width: 100%;
  li:nth-child(1){font-size: 14px;border-radius: 6px 0px 0px 6px; border-right:0px;display: table-cell;width: 46%;border: 1px solid #bbb;
    padding: 4% 1.5%;margin-top: 2%;float: left;vertical-align: middle;text-align: center;}
  li:nth-child(2){font-size: 14px;border-radius: 0px 6px 6px 0px;display: table-cell;width: 46%;border: 1px solid #bbb;
    padding: 4% 1.5%;margin-top: 2%;float: left;vertical-align: middle;text-align: center;}
.onHover{@include HNM;
    background: linear-gradient(to bottom, #d6d6d6 0%, #f6f6f6 2%, #efefef 23%, #d4d4d4 78%, #d0d0d0 94%, #d5d5d5 95%, lightgrey 97%, #e8e8e8 98%, #f7f7f7 100%);}
      
      
   }
   
.offHover{font-size: 14px; @include HNM; border: 1px solid #bbb;
  padding: 4% 1.5%;margin-top: 2%;float: left;vertical-align: middle;text-align: center;
  background: linear-gradient(to bottom, #d6d6d6 0%, #f6f6f6 2%, #efefef 23%, #d4d4d4 78%, #d0d0d0 94%, #d5d5d5 95%, lightgrey 97%, #e8e8e8 98%, #f7f7f7 100%);
   
   }
  p:nth-child(1){padding-top:2%;}
  button{background: url('images/downarrow.png') no-repeat 95%;background-size: 8% 50%;padding: 3.5% 0%;width: 100%;margin-top: 3%;margin-bottom:8%;border: 1px solid #adadad;border-radius: 6px;color: #8c8c8c;font-size: 16px;
padding-left: 12px;
p{text-align:left;}
}  

.about{border:1px solid #adadad;padding:12px;border-radius: 3px;
li:nth-child(1){padding-bottom: 9px;color:#133069;font-size: 20px; @include HNL;}
li:nth-child(2){font-size: 12px;line-height: 18px; @include HNB;}
li:nth-child(3){color:#83458B;padding-bottom: 9px;padding-top: 9px;font-size: 14px; @include HNM;}
li:nth-child(4){color:#83458B;font-size: 14px;@include HNM;}

.rate{padding: 3% 3%; width: 85%;margin: 5% 7%;border: 1px solid black;border-radius: 6px;color: #fff;
border-color: #adadad; font-size: 16px;color: #83458B; @include HNL;text-align:center !important;}


}
.version{@include HNB; font-size: 12px;color:#adadad;border:1px solid #adadad;line-height: 18px;padding:12px;border-radius: 3px;}
.on{list-style: none;padding-top: 1%;width: 100%;
  li:nth-child(1){font-size: 14px;border-radius: 6px 0px 0px 6px; border-right:0px;display: table-cell;width: 46%;border: 1px solid #bbb;
    padding: 4% 1.5%;margin-top: 2%;float: left;vertical-align: middle;text-align: center;}
  li:nth-child(2){font-size: 14px;border-radius: 0px 6px 6px 0px;display: table-cell;width: 46%;border: 1px solid #bbb;
    padding: 4% 1.5%;margin-top: 2%;float: left;vertical-align: middle;text-align: center;}
.onHover{@include HNM;
    background: linear-gradient(to bottom, #d6d6d6 0%, #f6f6f6 2%, #efefef 23%, #d4d4d4 78%, #d0d0d0 94%, #d5d5d5 95%, lightgrey 97%, #e8e8e8 98%, #f7f7f7 100%);}
    
   }
   
.offHover{font-size: 14px; @include HNM; border: 1px solid #bbb;
  padding: 4% 1.5%;margin-top: 2%;float: left;vertical-align: middle;text-align: center;
  background: linear-gradient(to bottom, #d6d6d6 0%, #f6f6f6 2%, #efefef 23%, #d4d4d4 78%, #d0d0d0 94%, #d5d5d5 95%, lightgrey 97%, #e8e8e8 98%, #f7f7f7 100%);
  
   }

}


/*End of settings Page*/


/*flight Status*/
.flight_status{width:100%; height:100%;}
.airports_info{width:96%; margin:0 auto;
input[type=text]{
   width:91%;
    margin:10px 15px;
   padding:12px 10px;
   font-size:$header3;
   color:#838383;
   @include HNL;
   -moz-box-shadow: inset 0 5px 2px -6px #000;
-webkit-box-shadow: inset 0 5px 2px -6px #000;
box-shadow: inset 0 5px 2px -6px #000;
   background: #fff url(../images/icon_search.png) no-repeat 96% 8px;
    background-size:$default-width - 92;padding-right:13%;
border:1px solid #cdcdcd;
border-radius:6px;
}
ul li p{padding-left:15px; @include HNL; font-size:$header3;}
.datecalender button li:nth-child(1) {width:30%;}

}



/*18 Sep changes santosh */
.flightsBriefcase{-moz-box-shadow:inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
box-shadow:inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
}

.savedFlightsairports{-webkit-box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.4);
-moz-box-shadow:    0px 0.5px 4px rgba(0, 0, 0, 0.4);
box-shadow:         0px 0.5px 4px rgba(0, 0, 0, 0.4);
margin: 10px 15px;
height:100px;
}

.airportdiv {
-webkit-box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.4);
-moz-box-shadow:    0px 0.5px 4px rgba(0, 0, 0, 0.4);
box-shadow:         0px 0.5px 4px rgba(0, 0, 0, 0.4);
margin: 10px 15px;
    .arrowimg img{width:10px;}
}
.tripDetails{-moz-box-shadow:inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
box-shadow:inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
}

.header2{color:#0B1761;}

.savedFlightsairports ul:nth-child(2) li:nth-child(2) p{color:#333;}
.savedFlightsairports ul:nth-child(2) li:nth-child(3) p{color:#333;}
.savedFlights ul:nth-child(2){ li:nth-child(2),li:nth-child(3){padding-top:2.5%; @include HNB;}}

.fullairportinfo{color:#838383;}

.arrowimg {margin-top:0%}

.skyteam_about {-moz-box-shadow:inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
box-shadow:inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
}

.abt_skyteam ul:nth-child(1) li:nth-child(2){line-height:18px;}

.white_button{background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(246,246,246,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* safari5.1+,chrome10+ */
background:-o-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* opera 11.10+ */
background:-ms-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* ie10+ */

-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
-moz-box-shadow:    0px 1px 3px rgba(0, 0, 0, 0.4);
box-shadow:         0px 1px 3px rgba(0, 0, 0, 0.4);

border:1px solid #d7d7d7; @include HNB; font-size:14px; color:#83458B;
}

.abt_skyteam ul li:nth-child(3),.abt_skyteam ul li:nth-child(4)  {
width: 75%;
height: 16px;}


.abt_skyteam ul li:nth-child(4){padding: 10px 0px;
border-radius: 6px;
margin-top: 10px;
margin-left: 34px;
text-align: center;}

.abt_skyteam ul li:nth-child(5) {
border-bottom: 1px solid 
#D7D7D7;
padding: 10px 0;
}

.mem_skyteam ul:nth-child(1) li:nth-child(2){line-height:18px;}
.members ul {
width: 92%;}
.members ul li {border-radius:4px; height:50px; width:48%;}

#skytipsPage{ input[type=text]{background-color:#fff; border-radius:4px; border:1px solid #d7d7d7;
-webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
-moz-box-shadow:   inset 0px 2px 4px rgba(0, 0, 0, 0.15);
box-shadow:        inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.theme{background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(246,246,246,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* safari5.1+,chrome10+ */
background:-o-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* opera 11.10+ */
background:-ms-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* ie10+ */

-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
-moz-box-shadow:    0px 1px 3px rgba(0, 0, 0, 0.4);
box-shadow:         0px 1px 3px rgba(0, 0, 0, 0.4);
border:1px solid #d7d7d7;
}
.searchResultNumber{@include HNL; font-size:20px; margin-left:0px;}
.airports_tips{@include HNM; font-size:12px; line-height:18px;}
}

.onHover{-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
-moz-box-shadow:   inset 0px 1px 3px rgba(0, 0, 0, 0.15);
box-shadow:        inset 0px 1px 3px rgba(0, 0, 0, 0.15); 
@include HNB; font-size:14px;border:1px solid #d7d7d7;color:#83458B; background-color:#ffffff;}

.offHover{@include HNB; font-size:14px;border:1px solid #d7d7d7;background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(246,246,246,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* safari5.1+,chrome10+ */
background:-o-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* opera 11.10+ */
background:-ms-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* ie10+ */ 
color:#838383;}
.tips_msgs ul:nth-child(1){margin-top:21%;}
.tips_msgs ul{border:1px solid #D7d7d7;padding:12px;border-radius: 3px;margin-bottom: 5%;margin-top: 1%;
li:nth-child(1){padding-bottom: 9px;color:#0B1761;font-size: 20px; @include HNL;}
li:nth-child(2){font-size: 12px;line-height: 18px;padding-bottom: 12px;@include HNM; color:#333333;}
li:nth-child(3){border-top:1px solid #d7d7d7;padding-top:12px;padding-left: 0;padding-bottom: 35px;}
}
.name{@include HNM; font-size:12px; color:#838383;line-height:18px;}
.likes{@include HNB; font-size:12px; color:#333333;}
.settings button{background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(246,246,246,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* safari5.1+,chrome10+ */
background:-o-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* opera 11.10+ */
background:-ms-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* ie10+ */
-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
-moz-box-shadow:    0px 1px 3px rgba(0, 0, 0, 0.4);
box-shadow:         0px 1px 3px rgba(0, 0, 0, 0.4);
}
.settings button:nth-child(2){@include purple_font;}
.flightcontent input[type=text]{background-color:#fff; border-radius:4px; border:1px solid #d7d7d7;
-webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
-moz-box-shadow:   inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    box-shadow:        inset 0px 2px 4px rgba(0, 0, 0, 0.15); margin-top:15px;
}


.calen{background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(246,246,246,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* safari5.1+,chrome10+ */
background:-o-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* opera 11.10+ */
background:-ms-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* ie10+ */

-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
-moz-box-shadow:    0px 1px 3px rgba(0, 0, 0, 0.4);
box-shadow:         0px 1px 3px rgba(0, 0, 0, 0.4);
border:1px solid #d7d7d7;}

.datecalender button li:nth-child(2){color:#333333; @include HNB; font-size:$header5;padding-top:3px;padding-left:2px;}
.arrival button li:nth-child(1){margin-right:24px;}
.ab{@include HNB; color:#333333; font-size:14px;padding-top: 2px;}

#search{width:75%;height:44px;margin-top:10px;}
.saveflight_btn{text-align:center;}
.saveflight_btn ul li button{width: 75% !important; margin:0 auto;}
.departure_zone li:nth-child(2) {line-height:18px;}
.last_arrow li:nth-child(2) {line-height:18px;}
.loungeFinder input{background-color:#fff; border-radius:4px; border:1px solid #d7d7d7;
-webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
-moz-box-shadow:   inset 0px 2px 4px rgba(0, 0, 0, 0.15);
box-shadow:        inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.loungeDetail{-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
-moz-box-shadow:    0px 1px 3px rgba(0, 0, 0, 0.4);
box-shadow:         0px 1px 3px rgba(0, 0, 0, 0.4);
}
.loungedetail {
margin-top: 4%; border: 1px solid #d7d7d7; border-radius: 4px;
}

/* End of 18 Sep santosh*/
/*19 start*/
.searchresults_wrapper{moz-box-shadow:inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
box-shadow:inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);}
.searchresults_text {margin-top:0;}
.searchresults_text ul li:nth-child(1) h1 {@include HNL; font-size:20px; color:#838383;}
.searchresults_text ul li:nth-child(2){width:auto; float:left; max-width:40%; margin-right:2px;margin-left:15px;}
.searchresults_text ul li:nth-child(3){width:auto; float:left; max-width:10%; margin-right:2px;}
.searchresults_text ul li:nth-child(4){width:auto; float:left; max-width:40%; margin-left:1px;}
.searchresults_text ul li:nth-child(5){clear:both; width:auto; float:left; max-width:80%;margin-left:15px;}
.searchresults_text ul .searchfirsth2 {@include HNM; font-size:12px; color:#8383;}
.searchresultstabs div:nth-child(1) {border:1px solid #d7d7d7;  height:16px;}
.searchresultstabs div {margin-right:0}
.searchresultstabs div:nth-child(2),.searchresultstabs div:nth-child(3),.searchresultstabs div:nth-child(4)
 {border:1px solid #d7d7d7;@include HNB; font-size:14px;border:1px solid #d7d7d7;background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(246,246,246,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* safari5.1+,chrome10+ */
background:-o-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* opera 11.10+ */
background:-ms-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* ie10+ */ 
height:16px;}

#contentcontainer #onewayfilter {margin: -21% 4% 2% 0%; @include HNM; font-size:14px;padding:10px;}

.searchresultslist .savedFlightsResults{@include outset_shadow; background-color:#fff; width:93.75%; margin:10px 10px;
}
.savedFlightsResults ul li p.header2{@include HNL; font-size:20px; float:left; padding-left:10px;}
.savedflightsresults ul:nth-child(1) li:nth-child(1), .savedflightsreturnresults ul:nth-child(1) li:nth-child(1) {
margin-left: 0;
}
.savedflightsresults ul:first-child li:nth-child(2), .savedflightsreturnresults ul:first-child li:nth-child(2) {
width: 60%;text-align:center;
float: left;
    
    
}
.savedflightsresults ul:first-child li:nth-child(2), .savedflightsreturnresults ul:first-child li:nth-child(2) {padding-top: 4%;
    img{width: 80%;
    margin-top: 0%;}
}

.savedFlightsResults ul:nth-child(2) li:nth-child(1){width:40%; float:left; text-align:left; padding-left:8px; @include HNM; font-size:$header4;}
.savedFlightsResults ul:nth-child(2) li:nth-child(2){width:40%; float:right; text-align:right; padding-right:8px;@include HNM; font-size:$header4;}

.savedFlightsResults ul:nth-child(3){clear:both; li{width:24%; float:left;@include HNM; font-size:$header4;}
    li:nth-child(1){padding-left:10px;}
    li:nth-child(3){text-align:right;@include HNB; color:#333;width:22%;}
    li:nth-child(2){@include HNB; color:#333;}
    li:nth-child(4){float:right; text-align:right; padding-right:10px;width:22%;}
}
.savedFlightsResults ul:nth-child(4){clear:both;li{padding-left:10px;padding-bottom:2% !important;} @include HNM; font-size:$header4; }

#returnFlightsBtn, #outboundFlightsBtn{@include outset_shadow; @include HNL; font-size:$header2; color:#fff; margin:0 auto;border-radius:4px; border:1px solid #D7d7d7;width:75%;

    @include purple_btn;
    padding:3%; 
    margin-top:1%;
}


.theme{background-size: 6% 30%;}
.flightdetails_view{-moz-box-shadow:inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
box-shadow:inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);}
.airport_facility ul li#lounges img{width: 6.5%;
margin-left: 1%;}
.airport_facility ul li a span{@include HNB; font-size:$header5; color:#ccc;padding-top:2%;}

/*19 end */





/* skytips css */

#skytipsPage{
  background: #f6f6f6; overflow-y: auto;
    -webkit-overflow-scrolling: touch;height:88%;padding:12px;@include page_shadow;
}
#airport_text{
  font-size: 16px;display: table-cell;
text-align: left;width: 100%;
margin-bottom:5%;padding: 3.5% 0%;padding-left:12px;
color: #838383; background: white url(images/icon_search.png) no-repeat 96% 8px;
background-size: 8%;border: 1px solid #D7d7d7;border-radius: 6px;
}
#tipThemeSelect{
  background: url('images/downarrow.png') no-repeat 95%;background-size: 8% 50%;padding: 3.5% 0%;width: 100%;margin-bottom:8%;border-radius: 6px;color: #838383;font-size: 16px;text-align: left;
padding-left: 12px;
}
.noOfSkytips{
  margin-top: -2%;color: #838383;width: 80%;
}
.airports_tips{
  margin-top:2%;color: #838383;width: 90%;font-size: 12px;
}
.skyTipsTabs{ display:none;
  ul{
    list-style: none;padding-top: 1%;width: 100%;
    
    li:first-child{
      font-size: 14px;border-radius: 4px 0px 0px 4px;
      display: table-cell;width: 46%;padding: 4% 1.5%;margin-top: 2%;float: left;vertical-align: middle;text-align: center;
    }
    li:nth-child(2){
      font-size: 14px;border-radius: 0px 4px 4px 0px;display: table-cell;
      width: 46%;padding: 4% 1.5%;margin-top: 2%;float: left;vertical-align: middle;text-align: center;
    }
  }
}
.tips_msgs{
  ul li:nth-child(3){
    border-top:1px solid #d7d7d7;padding-top:12px;padding-left: 0;padding-bottom: 35px;
    
    div:first-child{
      background: url('images/girl.png') no-repeat;width: 20%;height: 10%;float:left;
    }
    div:nth-child(2){
      padding-left: 2%;float:left;
    }
    div:nth-child(3){
      padding-left: 85%;color:black;background: url('images/love.png') no-repeat 97%;
    }
  }
}


/* more options */

.moreOptionsDetails{@inlcude HNL;
    width:96%; height:70%; background:#f6f6f6;
    h1{font-size:$header2; color:#838383;padding-left:10px;}
    #stopsDiv>p{color:#838383; font-size:$header3;
        #labels p{font-size:$header5; color:#838383;}
    
    }
    
    .silder2 p{@include HNL; font-size:$header3; color:#838383;}

}
.moreoptionsdetails #labels p{font-size:$header5; color:#838383; @include HNB;text-align:center;}
#dropdown{@include white_btn_gradient;@include outset_shadow;border:1px solid #d7d7d7;}
input[type="checkbox"] + label{margin-top:10px; span {float:left; margin:-8px 13px 0 0; width:10%; height:8%; @include text_box; background-size: 30px;}}

.moreoptionsdetails #labels p:nth-child(2) {
    margin-left: 29%;}
.moreoptionsdetails #labels p:nth-child(3) {
    margin-left: 60%;
    width: 19%;
    margin-top: -7%;
}
.moreoptionsdetails #labels p:nth-child(4) {
    margin-left: 82%;
    margin-top: -8%;
    text-align: right;
}

#slider>p{font-size:10px;}
#slider{@include text_box;}

.moreoptionsdetails #stopsdiv {height:25%;}
.silder2 p:nth-child(1) {margin: 5% 3%;}
.silder2 p:nth-child(6) {float: left;margin-left: 47%;}
.silder2 p:nth-child(7) {float: left;margin-left: 41%;}

#labels1 p{font-size:$header5; color:#838383; @include HNB;}
#labels1 p:nth-child(1) {float: left; margin-left: 0%;margin-top: 0%;}
#labels1 p:nth-child(2) {float: left;margin-left: 39%;margin-top: 1%;}
#labels1 p:nth-child(3) {float: left;margin-left: 32%;margin-top: 0%;}

.moreOptionsDetails h6{@include HNL; font-size:$header3; color:#838383;margin-left: 43px;
    margin-top: 10px;}

#slider p:nth-child(1){margin-left:5%;}

.proferedline-popup h2 {@include HNL; }

#operators{@include HNL;color:#838383;}
.silder2 #time1, .silder2 #time {border: 1px solid #d7d7d7; @include HNB; font-size:$header5;padding: 3px 6px;color:#838383;
    @include outset_shadow;}

.silder2 #time1:after, .silder2 #time:after{content:"";
border-color: #fff transparent transparent transparent;
border-style:solid;
border-width:5px;
width:0;
height:0;
position:absolute;
bottom:-10px;
    left:13px;}

.ui-slider .ui-slider-handle {width: 1.2em;
    height: 1.2em;}
.ui-slider-horizontal .ui-slider-handle {top:0;}
.ui-slider-horizontal .ui-slider-range-max {
	right: 10px !important;
}


/*maps */

.gm-style div, .gm-style span, .gm-style label, .gm-style a {border-radius:4px !important;}
.gm-style .gm-style-iw, .gm-style .gm-style-iw a, .gm-style .gm-style-iw span, .gm-style .gm-style-iw label, .gm-style .gm-style-iw div {@include HNB; color:#838383 !important; font-size:$header5 !important;}
/* End of Maps */


/* weather Report page */
.weather{overflow-y: scroll;height:90%; @include page_shadow;}

#weather_info li:nth-child(1){padding:4%;padding-top:7%;color:#133069;border-bottom: 1px solid #d7d7d7;height:6%;background: #fff;}




/* End of weather report*/
/*show 7days */
.showDays{display:block;}
.hideDays{display:none;}


/* Disclaimer */
.disclaimerDiv{width:90%; height:96%; overflow-y: auto; -webkit-overflow-scrolling: touch;text-align:justify; @include page_shadow;
 padding-left:15px; padding-right:15px;
 h3{@include HNL; font-size:$header2; color:#838383; padding:10px 0px;}
 p{@include HNM; font-size:$header5; color:#838383;padding:5px 0px;}
 }
 
#blackshade,.popUpShade
{position: absolute; left: 0;top: 0; background: #000; opacity:0.7;}
.popUp{display: none;
    z-index: 99999999;
    position: absolute;
    left: 28px;
    top: 200px;
    width: 83%;
    height: 18%;
    background:
    #fff; 
    @include HNL; font-size:$header2;
    border-radius: 4px;
    button{height: 32px;
        width: 23%;border-radius:4px;text-align:center;padding-left:15px;padding-top:2px; padding-bottom:2px;
        margin-left:40%;
        margin-top:8%;
        @include outset_shadow; font-size:$header2;@include HNL;color:#fff;
            @include purple_btn;
        }}
.popUpMessage{margin:2% 10%;color:#83458B;}

/*show 7days */
.showDays{
    display:block; p label{margin:0 3px; @include HNM; font-size:$header5;}padding-bottom:5px;}
.hideDays{
    display:none;}

.purple{@include purple_font;}

/*end of 7days*/


/*offline savedflight msgs*/
.offlinemsg{width:90%; margin:0 auto; @include HNB; font-size:$header5; line-height:15px; color:#838383;p{@include purple_font; font-size:$header4;}}


/* date popup */
.date-popup{left:10px; width:93.75%;}

.silder2 #slider2 {
    width: 90% !important;}

#labels1 p:nth-child(1){width: 3%;margin-left: 5%;}
#labels1 p:nth-child(2){width: 18%;}
#labels1 p:nth-child(3){margin-left: 88%;margin-top: -8%;width: 19%;}





/* Media quries for section height */
/*media query of iphone 4s*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait) {
    .airport {line-height: 26px;}
    .savedflights-container {height: 22%;}
    .main_buttons button:nth-child(1) {margin-top:10%;}
    .tips_content ul li p {padding-top: 4%; padding-bottom: 2%;}
    .flightsbriefcase h1 {padding-top: 10px;padding-bottom: 5px;}
    .savedflightsairports {margin:10px auto;}
    .airportinfo {padding: 6px 0 0px 5px;}
    .airportsbriefcase h1 { padding-top: 20px;padding-bottom: 6px;}
    .scroll {height:93%;}
    .savedflightsairports {height:96px;}
    .airportdiv {margin-top:4px;}
    .shade{height:25% !important; margin-top: 50% !important;}
    #contentcontainer .searchresultslist {height:57%;margin-top:10px;}
    /* #today, #ok {top:360px;}*/
    #returnflightsbtn, #outboundflightsbtn {margin-top:10px;}
    #contentcontainer #onewayfilter {margin-top: -24%}
    .searchresults_text {margin-bottom:10px;}
    .flight_details_info {height: 61%;}
    .popup {top: 170px;height: 23%;}
    .moreoptionsdetails{height: 77%;}
    .proferedline-popup {height: 75%;}
    #operator-ok, #moreoptions-ok {bottom:10px;}
    .scrollforoperators {height: 60%;}

}

/*media query of iphone 5*/
/*@media screen and (device-aspect-ratio: 40/71) {*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    /*  section{height:568px - 44px;} */
    .airport_name{height:11%; line-height:48px;}
    /*.date-popup,.proferedline-popup{height:65%;}*/
    .main_buttons button:nth-child(1) {margin-top: 18%;}
    .savedflights-container {height: 20%;}
    .tips_content ul li p {padding-bottom: 4%;}
    .scroll {height:83%;}
    #returnflightsbtn, #outboundflightsbtn {margin-top: 8%;}
    .searchresults_text {margin-bottom:0%;}
    #contentcontainer #onewayfilter {margin-top: -25%}
    
}




/*  media query for s2 */
@media only screen
and (min-device-width : 480px)
and (max-device-width : 800px)
and (orientation : portrait) {
    body{background-color:#fff;}
    section{height:534px - 44px;}
    .main_buttons button:nth-child(1) {margin-top:12%;}
}

/*  media query for s3 */
/*(device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2)*/
@media only screen and (device-aspect-ratio:9/16) and (orientation : portrait) {
    body{background-color:#fff;}
    section{height:640px - 44px;}
    .airport_name{top:23%;}
    .main_buttons button:nth-child(1) {margin-top:12%;}
    .tips_content{height:98% !important;}
    .main_buttons button{height:48px; padding-top:4px; padding-bottom:4px;}
}
/*End of Media Quries */


