/************** spin ***************/
#preview {
    
    background: #333;
    
    color: #fff;
    
    width: 100%;
    
    height: 150%;
    
    opacity: 0.6;
    
    position: absolute;
    
    z-index:999;
    
}

.loading_content {
    
    border:1px solid white;
    
    background:#000;
    
    -webkit-border-radius: 6px;
    
    -moz-border-radius: 6px;
    
    border-radius: 6px;
    
    width:50%;
    
    height:25%;
    
    margin:50% auto auto auto;
    
    opacity:1 !important;
    
    padding:2% 2% 0 2%;
    
    display:block !important;
    
    
}

.loading_content p {
    
    color:#fff;
    
   
    
    padding:2% 0 0 2%;
    
    width:80%;
    
    /*margin:auto;*/
    
    text-align:center;
    
}

/*.ref_login .loading_content p {
 
 width:80%;
 
 }*/
.loadingMsg{
	padding: 0% 1%;
	text-align:center;
	margin-top: 31%;
	font-size: 19px;
    /*font-weight: bold;*/
}
.spinner {
    
    padding-left:20%;
    
    margin-top:3%;
    
    
}

#loading_div {
    
    width:100%;
    
    height:100%;
    
    margin:auto;
    
    display:block !important;
    
}
/**** iphone 4 css ***/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait) {
  
	.loadingMsg{
        width: 70%;
        margin-left: 14%;
        margin-top: 52%;
        font-weight:normal;
    	font-size: 16px;
    }
	.spinner {
        margin-top:7%;
        
        
    }
    
}

/****END iphone 4 css ***/

/**** iphone 5 css ***/

@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
   .loadingMsg{
       
        margin-top: 60%;
    	font-size: 16px;
    }
	.spinner {
        margin-top:10%;
        
    }
   }
   
/****End iphone 5 css ***/